Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

refactor(C++/Bound): Remove skipValidation
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaOverwriteElement.cc
  src/karabind/PyXmsImageDataElement.cc
  src/karabo/data/schema/CustomNodeElement.hh
  src/karabo/data/schema/OverwriteElement.cc
  src/karabo/data/schema/OverwriteElement.hh
  src/karabo/data/schema/Validator.cc
  src/karabo/data/types/Schema.cc
  src/karabo/data/types/Schema.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(C++,Bound): Remove CHOICE_ELEMENT
  src/karabind/ConfigurationTestClasses.hh
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaChoiceElement.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaElement.hh
  src/karabind/PyUtilSchemaNodeElement.cc
  src/karabind/PythonFactoryMacros.hh
  src/karabind/karabind.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/data/io/BinaryFileInput.hh
  src/karabo/data/io/BinaryFileOutput.hh
  src/karabo/data/io/TextFileInput.hh
  src/karabo/data/io/TextFileOutput.hh
  src/karabo/data/schema.hpp
  src/karabo/data/schema/ChoiceElement.hh
  src/karabo/data/schema/Configurator.hh
  src/karabo/data/schema/Validator.cc
  src/karabo/data/types/Schema.cc
  src/karabo/data/types/Schema.hh
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/tests/data/io/FileInputOutput_Test.cc
  src/karabo/tests/data/io/SchemaSerializer_Test.cc
  src/karabo/tests/data/schema/ConfigurationTestClasses.hh
  src/karabo/tests/data/schema/Schema_Test.cc
  src/karabo/tests/data/schema/Validator_Test.cc
  src/karabo/tests/data/types/HashFilter_Test.cc
  src/karabo/xms/SignalSlotable.cc
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/configurator.py
  src/pythonKarabo/karabo/bound/decorators.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/binding/test_hashfilter.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound/tests/hashfilter_test.py
  src/pythonKarabo/karabo/bound/tests/io_test.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
  src/pythonKarabo/karabo/bound/tests/serializer_test.py
  src/templates/cpp/minimal/src/test/testrunner.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Curve Options: update data points,if they are displayed.
  src/pythonGui/karabogui/graph/plots/base.py
  src/pythonGui/karabogui/graph/plots/tests/test_base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Refactor the signal connect test to pytest
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_boundCpp_signalConnect.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor: Shrink archivePolicy to the used options
  src/karabind/ConfigurationTestClasses.hh
  src/karabind/PyUtilSchema.cc
  src/karabo/data/schema/AlarmConditionElement.cc
  src/karabo/data/schema/ByteArrayElement.hh
  src/karabo/data/schema/StateElement.cc
  src/karabo/data/types/Schema.hh
  src/karabo/tests/data/schema/ConfigurationTestClasses.hh
  src/karabo/tests/data/schema/Schema_Test.cc
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
  src/pythonKarabo/karabo/native/data/enums.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(tests): Align archivePolicy test
  src/pythonKarabo/karabo/bound/tests/schema_test.py
Due: lint, test_docs, python_unit tests

refactor(Bound): Shrink namespace from units and metricprefix, only expose Enum
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/binding/test_hashfilter.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/boundDevice.py
  src/pythonKarabo/karabo/bound/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
Due: lint, test_docs, python_unit tests

refactor: Refactor NodeType enum and remove choice and list of nodes...
  src/pythonKarabo/karabo/middlelayer/configuration.py
  src/pythonKarabo/karabo/middlelayer/proxy.py
  src/pythonKarabo/karabo/native/data/enums.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Set the default for ValidationRules::allowAdditionalKeys to false
  src/karabo/core/Device.cc
  src/karabo/data/schema/Validator.hh
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Cleanup karabo common const
  src/pythonGui/karabogui/controllers/baselabel.py
  src/pythonGui/karabogui/dialogs/alarm_dialog.py
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/const.py
  src/pythonKarabo/karabo/common/display_types.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++ test): Make testSharedReceiversSelector reliable
  src/integrationTests/PipelinedProcessing_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

chore(GUI): update pyqtgraph to 0.13.7
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++/Bound): Support MDL style log.level=... in commandline
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/Device_Test.cc
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/LockTest_Test.cc
  src/integrationTests/PipelinedProcessing_Test.cc
  src/integrationTests/PropertyTest_Test.cc
  src/integrationTests/SceneProvider_Test.cc
  src/integrationTests/Timing_Test.cc
  src/karabind/karabind_test.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/log/Logger.cc
  src/karabo/log/Logger.hh
  src/karabo/tests/core/DeviceClient_Test.cc
  src/karabo/tests/core/Runner_Test.cc
  src/karabo/tests/log/Logger_Test.cc
  src/karabo/tests/log/Logger_Test.hh
  src/karabo/tests/net/InfluxDbClient_Test.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/testing/utils.py
  src/pythonKarabo/karabo/bound/tests/binding/test_logging_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_pipeline_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/bound/tests/context_test.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/integration_tests/device_provided_scenes_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_schema_injection.py
  src/templates/cpp/minimal/src/test/testrunner.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

tools: run CI on Kubernetes Cluster
  .gitlab-ci.yml
  ci/prepare
Due: none

fix(GUI) : Config From Name Dialog : disable Load button on adding/deleting a config
  src/pythonGui/karabogui/dialogs/configuration_from_name.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

revert to use old CI machines
  .gitlab-ci.yml
Due: none

refactor(MDL): Make use of caplog fixture
  src/pythonKarabo/karabo/middlelayer/testing/__init__.py
  src/pythonKarabo/karabo/middlelayer/testing/utils.py
  src/pythonKarabo/karabo/middlelayer/tests/cli_test.py
  src/pythonKarabo/karabo/middlelayer/tests/macro_test.py
  src/pythonKarabo/karabo/middlelayer/tests/monitor_test.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_test.py
  src/pythonKarabo/karabo/middlelayer/tests/synchronization_test.py
  src/pythonKarabo/karabo/middlelayer/tests/utils_test.py
Due: lint, test_docs, python_unit tests

Update Conan Center URL if needed
  extern/build.sh
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Rename completely priority to level
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/Device_Test.cc
  src/karabind/PyLogLogger.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/core/DeviceServer.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/log/Logger.cc
  src/karabo/log/Logger.hh
  src/karabo/tests/log/Logger_Test.cc
  src/pythonGui/karabogui/navigation/system_view.py
  src/pythonGui/karabogui/navigation/tests/test_system_model_view.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/binding/test_logging_api.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_server.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(FW): Signals always go to broker (except C++ inner-process shortcut)
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/xms/Signal.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_boundCpp_signalConnect.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
  src/pythonKarabo/karabo/middlelayer/tests/macro_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Remove default specification of logger level from service files
  src/service.in/default/karabo_dataLogger/run
  src/service.in/default/karabo_dataLoggerManager/run
  src/service.in/default/karabo_guiServer/run
Due: lint, test_docs

Solve issue for boost 1.86.0+ conan package installation during the build.
  extern/conanfile.txt
  extern/conanprofile.karabo
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GuiServer): Remove subscribeLogs
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat: Define a HASH_CLASS_ID common constant
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/const.py
  src/pythonKarabo/karabo/common/tests/test_const.py
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/ndarray.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Delete button in 'Config From Name' dialog.
  src/pythonGui/karabogui/dialogs/configuration_from_name.py
  src/pythonGui/karabogui/dialogs/tests/test_config_from_name_dialog.py
  src/pythonGui/karabogui/dialogs/ui/config_handle.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Remove redundant logger ostream
  src/brokerMessageLogger/brokerMessageLogger.cc
  src/cppLongTests/xms/SignalSlotable_LongTest.cc
  src/karabind/PyLogLogger.cc
  src/karabo/log/Logger.cc
  src/karabo/log/Logger.hh
  src/karabo/tests/data/io/HashBinarySerializer_Test.cc
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/InfluxDbClient_Test.cc
  src/karabo/tests/net/TcpNetworking_Test.cc
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/tests/xms/Signal_Test.cc
  src/karabo/tests/xms/Slot_Test.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/binding/test_logging_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_tcp.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
  src/templates/cpp/minimal/src/test/testrunner.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, long tests

fix(C++/Bound): Throw exception if call slot with not matched number of parameters
  src/karabind/PyXmsSignalSlotable.cc
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/tests/xms/Slot_Test.cc
  src/karabo/xms/Slot.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): When a newer guiextensions available broadcast on GUI startup
  src/pythonGui/karabogui/dialogs/tests/test_app_configuration_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_update_dialog.py
  src/pythonGui/karabogui/dialogs/ui/update_dialog.ui
  src/pythonGui/karabogui/dialogs/ui/update_notice_dialog.ui
  src/pythonGui/karabogui/dialogs/update_dialog.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): UI changes in Temp Session dialog.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/ui/user_session_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix GuiServer test after enforcing strict policy for slot calls
  src/integrationTests/GuiServer_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

refactor(C++): Remove Worker class
  src/karabo/core/Worker.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Refactor(C++): Remove deprecated interface and unused flag from OutputChannel::write(..)
  src/karabind/PyXmsInputOutputChannel.cc
  src/karabo/xms/OutputChannel.cc
  src/karabo/xms/OutputChannel.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

test(C++/Bound): Add tests for request NoWait
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/tests/xms/SignalSlotable_Test.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor: Align the Encoding Enum
  src/karabind/PyXmsImageDataElement.cc
  src/karabo/xms/ImageData.cc
  src/karabo/xms/ImageData.hh
  src/pythonGui/karabogui/controllers/display/tests/test_detector_graph.py
  src/pythonGui/karabogui/graph/image/image_node.py
  src/pythonKarabo/karabo/native/data/enums.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Suggestion to weaken relationships between slot arity and call with nargs for reply slots
  src/integrationTests/GuiServer_Test.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/Slot.cc
  src/karabo/xms/Slot.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Rename default DataLoggerManager instance
  doc/library/concept_data_logging.rst
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/tests/core/Runner_Test.cc
  src/karabo/util/DataLogUtils.hh
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/services.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/service.in/default/karabo_dataLoggerManager/run
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

feat(GUI): Login Dialog - connect to the server frequently.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Remove XYModel
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_plots.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Align response expectation of listProjectsWithDevice to new interface
  src/pythonGui/karabogui/singletons/manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Update cmake version to 4.X and gtest to 1.16.0.
  .gitlab-ci.yml
  auto_build_all.sh
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/conanfile.txt
  extern/conanprofile.karabo
  extern/requirements-pre.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
