Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, cpp_deps tests, python_deps tests, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-001
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-001
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  stage: build
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - yum -q -y install perl-open || true
  - yum -q -y install perl-FindBin || true
  ...

cpp_deps tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

python_deps tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    paths:
    - junit*.xml
    - coverage.xml
    reports:
      junit:
      - junit*.xml
      cobertura:
      - coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    paths:
    - junit*.xml
    - coverage.xml
    reports:
      junit:
      - junit*.xml
      cobertura:
      - coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    paths:
    - junit*.xml
    - coverage.xml
    reports:
      junit:
      - junit*.xml
      cobertura:
      - coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

fix(DEPS): adding openssldir option does not force rebuild on centOS
  extern/build.sh
Due: deps build, cpp_deps tests, python_deps tests

feat(C++): Log if messages are redelivered from Amqp
  src/karabo/net/AmqpClient.cc
  src/karabo/net/AmqpClient.hh
  src/karabo/net/AmqpClient2.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(C++): New AMQP client with some proper handmade error codes, with help of AmqpUtils
  src/karabo/net/AmqpClient.cc
  src/karabo/net/AmqpClient.hh
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpUtils.cc
  src/karabo/net/AmqpUtils.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Login through browser
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/const.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): OutputChannel can call readyForNexthandler earlier
  src/karabo/xms/OutputChannel.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

Authentication with Refresh token.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

make clean-all remove conan cache
  auto_build_all.sh
Due: none

feat(GUI): Provide option to view network on host
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/navigation/system_view.py
  src/pythonGui/karabogui/navigation/tests/test_system_model_view.py
  src/pythonGui/karabogui/singletons/tests/test_project_model.py
  src/pythonGui/karabogui/topology/system_tree.py
  src/pythonGui/karabogui/util.py
  src/pythonGui/karabogui/widgets/popup.py
  src/pythonGui/karabogui/widgets/tests/test_popup.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Enhance height calculation on popup widget
  src/pythonGui/karabogui/widgets/popup.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Do not set network.username from login dialog
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/singletons/network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

update openmq recipes to be conan v2 compatible
  extern/resources/openmq/conanfile.py
  extern/resources/openmqc/conanfile.py
Due: deps build, cpp_deps tests, python_deps tests

feat(C++): New AMQP client can now unsubscribe
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpClient2.hh
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Align the widgets in login dialog.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): OverwriteElement checks minimum and maximum size of vectors and tables against schema.
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/util/OverwriteElement.cc
  src/karabo/util/OverwriteElement.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(C++): New AmqpClient can now deal with same id as another one
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpClient2.hh
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpUtils.hh
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Allow underscores and slashes in macro name
  src/pythonGui/karabogui/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(CI): Fix the CI coverage report after gitlab upgrade
  .gitlab-ci.yml
  src/pythonKarabo/karabo/native/data/hash.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

test(GUI) :Do not use manager singleton as fixture
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

conan v2 compatible package/version:option notation
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/conanfile.txt
  extern/conanprofile.karabo
Due: deps build, cpp_deps tests, python_deps tests

update log4cpp recipe to be conan v2 compatible
  extern/resources/log4cpp/conanfile.py
Due: deps build, cpp_deps tests, python_deps tests

migrate daemontools recipe to conan v2
  extern/resources/daemontools/conanfile.py
Due: deps build, cpp_deps tests, python_deps tests

use public python conan recipe
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/conanfile.txt
Due: deps build, cpp_deps tests, python_deps tests

refactor(GUI): transport network singleton test to pytest
  src/pythonGui/karabogui/singletons/tests/test_network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): transport selection tracker test to pytest
  src/pythonGui/karabogui/singletons/tests/test_selection_tracker.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Move the GUIExtension dialog to our new PyPI mirror
  src/pythonGui/karabogui/dialogs/tests/GUIExtensions-0.1.2-py3-none-any.whl
  src/pythonGui/karabogui/dialogs/tests/test_html.html
  src/pythonGui/karabogui/dialogs/tests/test_json.json
  src/pythonGui/karabogui/dialogs/tests/test_update_dialog.py
  src/pythonGui/karabogui/dialogs/ui/update_dialog.ui
  src/pythonGui/karabogui/dialogs/update_dialog.py
  src/pythonGui/setup.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fixGUI) : Fix the bug in login with access code when refresh token is available.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Restart macro on repeated run request
  src/pythonGui/karabogui/panels/macropanel.py
  src/pythonGui/karabogui/project/controller/macro.py
  src/pythonGui/karabogui/project/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DOC: Comment how to change env name in development environment
  doc/installation/gui.rst
Due: test_docs

fix(DEPS): fix log4cpp recipe bug
  extern/resources/log4cpp/conanfile.py
Due: deps build, cpp_deps tests, python_deps tests

feat(GUI): Extension dialog can use full package index
  src/pythonGui/karabogui/dialogs/tests/test_update_dialog.py
  src/pythonGui/karabogui/dialogs/ui/update_dialog.ui
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI):Support cinema/concert/theatre on authenticated gui.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

split up CI tests for deps builds
  .gitlab-ci.yml
  extern/conanfile-bootstrap.txt
Due: deps build, cpp_deps tests, python_deps tests

feat(GUI) : Remove old login dialog
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/logindialog.py
  src/pythonGui/karabogui/dialogs/tests/test_login_dialog.py
  src/pythonGui/karabogui/dialogs/ui/logindialog.ui
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Escalation dialog - login through browser.
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/escalation_dialog.ui
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(DEPS): Update pytest asyncio due to dependency problem
  extern/requirements-1.txt
Due: deps build, cpp_deps tests, python_deps tests

feat(C++): New AMQP connection connects automatically if needed, plus fixes
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/WaitUtils.cc
  src/karabo/tests/WaitUtils.hh
  src/karabo/tests/core/InstanceChangeThrottler_Test.cc
  src/karabo/tests/core/InstanceChangeThrottler_Test.hh
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Provide millisecond information in historic text
  src/pythonGui/karabogui/controllers/display/historic_text.py
  src/pythonGui/karabogui/controllers/display/tests/test_historic_text.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Only consume exclusively
  src/pythonKarabo/karabo/middlelayer/broker/amqp_broker.py
Due: lint, test_docs, python_unit tests

refactor(GUIServer): Redefine the way how we use readOnly mode
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

use public boost conan recipe
  extern/build.sh
  extern/conanfile.txt
  extern/conanprofile.karabo
Due: deps build, cpp_deps tests, python_deps tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  cpp_deps tests: any of: extern/**/*
  python_deps tests: any of: extern/**/*
  python_unit tests: (any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests: (any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  cpp_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  long tests: any of: src/cppLongTests/**/*
