Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, cpp_deps tests, python_deps tests, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  cpp_deps tests: any of: extern/**/*
  python_deps tests: any of: extern/**/*
  python_unit tests: (any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests: (any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  cpp_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  long tests: any of: src/cppLongTests/**/*

Influx test with increased timeout.
  src/integrationTests/DataLogging_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

Sync building from auto_build_all and from vscode
  auto_build_all.sh
  build/karabo/setupVSCodeCMake.py
Due: none

Add support to RedHat 9 on the CI
  .gitlab-ci.yml
Due: none

fix(integration tests): Increase many Python integration test timeouts to 5 seconds
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_client.py
  src/pythonKarabo/karabo/integration_tests/pipeline_cross_test/test_multi_api_pipes.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/bound_ordertest_device.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

GUI: Port unittest to pytest
  src/pythonGui/karabogui/sceneview/tools/tests/test_actions.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DEPS: auto_build_all.sh speed fixes
  .gitignore
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/conanfile.txt
  extern/resources/boost/conanfile.py
  src/karabo/CMakeLists.txt
  src/karabo/tests/util/Version_Test.cc
  src/karabo/util/Version.cc
Due: lint, test_docs, deps build, cpp_deps tests, python_deps tests

Fix names and logic of command line options for building tests.
  build/karabo/setupVSCodeCMake.py
Due: none

feat(GUI): Update to Python 3.10
  conda-recipes/karabogui/environment.devenv.yml
  src/pythonGui/karabogui/sceneview/tools/tests/test_actions.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Clarify involved instanceIds in LOG message
  src/karabo/core/DeviceClient.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

CI fixes for release and pre-release builds on RedHat 9.
  README.md
  ci/build
  ci/prepare
Due: none

DEPS: preserve conan toolchain between builds
  auto_build_all.sh
  build/karabo/bundle-cppplugin.sh
  build/karabo/bundle-dependency.sh
  build/karabo/bundle-pythondependency.sh
  build/karabo/bundle-pythonplugin.sh
  build/karabo/bundle.sh
  build/karabo/setupVSCodeCMake.py
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/relocate_deps.sh
Due: deps build, cpp_deps tests, python_deps tests

PY11: Adapt former karathon-only unit tests to run with karabind
  src/karabind/Wrapper.cc
  src/pythonKarabo/karabo/bound_api/tests/binding/__init__.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_attributes.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_eventloop.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash_attributes.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash_attributes_node.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash_node.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hashfilter.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_imagedata.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_karabo_io.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_logging_api.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_ndarray_io.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_pipeline_api.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_pipeline_utils.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_nodeelement.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_sigslot.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_tcp.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_zcore_device_client.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/bound_api/tests/hash_test.py
  src/pythonKarabo/karabo/bound_api/tests/imagedata_test.py
  src/pythonKarabo/karabo/bound_api/tests/metadata_test.py
  src/pythonKarabo/karabo/bound_api/tests/schema_test.py
  src/pythonKarabo/karabo/bound_api/tests/statistical_evaluator_test.py
  src/pythonKarabo/karabo/bound_tool.py
  src/pythonKarabo/karabo/tests/pyhash_test.py
Due: lint, test_docs, python_unit tests

Use the new images with the perl modules required by the build.
  .gitlab-ci.yml
Due: none

Fix for testCfgFromPastRestart flakiness.
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/BaseLogging_Test.hh
  src/integrationTests/DataLogging_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

Extend validation test for PropertyTest class reconfigurations
  src/karabo/tests/util/Validator_Test.cc
  src/karabo/tests/util/Validator_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

Bound: Run integration tests with karabind
  src/pythonKarabo/karabo/integration_tests/pipeline_long_test/test_pipeline.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(C++ integr. test): proper int type for maxNumData
  src/integrationTests/BaseLogging_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

feat(GUI): Update to Python 3.11
  conda-recipes/karabogui/environment.devenv.yml
  src/pythonGui/karabogui/configurator/edit_delegate.py
  src/pythonGui/karabogui/configurator/slot_delegate.py
  src/pythonGui/karabogui/configurator/utils.py
  src/pythonGui/karabogui/controllers/table/button_delegate.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DEPS: openssl 1.0.2t must finally go
  extern/build.sh
  extern/conanfile.txt
Due: deps build, cpp_deps tests, python_deps tests

feat(GUI): Update to Python 3.12
  conda-recipes/karabogui/environment.devenv.yml
  src/pythonGui/karabogui/dialogs/tests/test_development_topology.py
  src/pythonKarabo/karabo/common/scenemodel/bases.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/tools.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(Py11): Convert hash test and attribute test to pytest
  src/pythonKarabo/karabo/bound_api/tests/binding/test_attributes.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash.py
Due: lint, test_docs, python_unit tests

Update versions of RedHat 9 and AlmaLinux 8/9
  .gitignore
  .gitlab-ci.yml
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Logbook - Crop image
  src/pythonGui/karabogui/dialogs/logbook_drawing_tools.py
  src/pythonGui/karabogui/dialogs/logbook_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_logbook_preview.py
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/crop.svg
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

[CI-Skip] - Remove remnant temporary comment to trigger the CI
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(Py11): Hashfilter tests schema rewrite
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hashfilter.py
Due: lint, test_docs, python_unit tests

MDL: Include isStringSet in public namespace
  src/pythonKarabo/karabo/middlelayer/__init__.py
Due: lint, test_docs, python_unit tests

GUI: Remove setting boundary for ROI.
  src/pythonGui/karabogui/graph/common/roi/base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DOC: Put up hotfixes for 2.19.X
  doc/whatsnew/2.19.rst
Due: test_docs

PY11: Remove 'parametrize' in unit tests for bound python.
  src/pythonKarabo/karabo/bound.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_eventloop.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash_attributes.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash_attributes_node.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash_node.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_imagedata.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_karabo_io.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_logging_api.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_ndarray_io.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_pipeline_api.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_pipeline_utils.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_nodeelement.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_sigslot.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_tcp.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_zcore_device_client.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/bound_tool.py
Due: lint, test_docs, python_unit tests

fix(Bound): Publish output channel address as deduced from configuration
  src/karabind/PyXmsInputOutputChannel.cc
  src/karathon/PyXmsInputOutputChannel.cc
  src/pythonKarabo/karabo/bound_api/device.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_pipeline_api.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/test_bound_device.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(GUI): fix raising of editor on scene view
  src/pythonGui/karabogui/sceneview/view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Expose ToolBar in the gui api namespace
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/widgets/api.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: add a public method clear to CodeBook.
  src/pythonGui/karabogui/widgets/scintilla_editor.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add logfiles to gitignore
  .gitignore
Due: none

fix(CI): Try to fix CI by removing net_test.py that duplicates binding/test_event_loop.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_eventloop.py
  src/pythonKarabo/karabo/bound_api/tests/net_test.py
Due: lint, test_docs, python_unit tests

Remove tcp_lowlevel_async_test.py as duplicated by binding/test_tcp.py
  src/pythonKarabo/karabo/bound_api/tests/tcp_lowlevel_async_test.py
Due: lint, test_docs, python_unit tests

Single eventloop life cycle for all tests
  src/pythonKarabo/karabo/bound_api/tests/binding/test_sigslot.py
Due: lint, test_docs, python_unit tests

Remove further test duplications: xms_test vs binding/test_sigslot
  src/pythonKarabo/karabo/bound_api/tests/binding/test_sigslot.py
  src/pythonKarabo/karabo/bound_api/tests/xms_test.py
Due: lint, test_docs, python_unit tests

PY11: Remove explicit use of karathon
  src/pythonKarabo/.isort.cfg
  src/pythonKarabo/karabo/bound_api/configurator.py
  src/pythonKarabo/karabo/bound_api/device.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/influxdb/dlschema2influx.py
  src/pythonKarabo/karabo/interactive/deviceClient.py
  src/pythonKarabo/karabo/interactive/ideviceclient.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests
