Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

feat(CI): Enable python linting for all bound and integration tests and ci suite
  .pre-commit-config.yaml
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
Due: lint, test_docs, python_unit tests

refactor(GUI): Make histogram test compatible for different frame buffers
  src/pythonGui/karabogui/graph/image/aux_plots/histogram/tests/test_plot_item.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Create task now supports context in eventloop
  src/pythonKarabo/karabo/middlelayer/eventloop.py
Due: lint, test_docs, python_unit tests

refactor: Remove all code quality tests from code
  src/pythonGui/karabogui/tests/test_code_quality.py
  src/pythonKarabo/karabo/bound/tests/test_code_quality.py
  src/pythonKarabo/karabo/bound_devices/tests/test_code_quality.py
  src/pythonKarabo/karabo/common/tests/test_code_quality.py
  src/pythonKarabo/karabo/config_db/tests/test_code_quality.py
  src/pythonKarabo/karabo/interactive/tests/test_code_quality.py
  src/pythonKarabo/karabo/middlelayer/tests/code_quality_test.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_code_quality.py
  src/pythonKarabo/karabo/native/tests/test_code_quality.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

CONDA: put the GUI app logo into a predictable path
  conda-recipes/karabogui/build.sh
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): Add Schema::subSchemaByPaths
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/util/Schema.cc
  src/karabo/util/Schema.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Macro editor set font unclosed string
  src/pythonGui/karabogui/widgets/scintilla_lexer.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): karabo-concert file add default suffix.
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound): Throw exception when sleepUntil was not succesful and type hinting in testing.utils
  src/pythonKarabo/karabo/bound/testing/utils.py
Due: lint, test_docs, python_unit tests

fix(C++): DataLoggerManager logic must not instantiateNoWait, but check success
  src/karabo/core/DeviceServer.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/DataLoggerManager.hh
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(Bound): Fix the return code of a bound device server
  src/pythonKarabo/karabo/bound/device_server.py
Due: lint, test_docs, python_unit tests

fix(GUI): Don't install extensions in user space
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(Bound): add test for non writable ndarray
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
Due: lint, test_docs, python_unit tests

deps(GUI): Upgrade GUI to numpy 2.X
  conda-recipes/karabogui/environment.devenv.yml
  src/pythonGui/karabogui/controllers/display/tests/test_eval.py
  src/pythonGui/karabogui/controllers/display/tests/test_vector_graph.py
  src/pythonGui/karabogui/controllers/tests/test_validators.py
  src/pythonGui/karabogui/controllers/validators.py
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/data/timestamp.py
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps: Remove Almalinux 9 support
  .gitlab-ci.yml
Due: none

feat(Bound): Add stubs for karabind
  .gitignore
  .pre-commit-config.yaml
  build/karabo/build-pythonKarabo.sh
  extern/requirements-1.txt
  src/karabind/stubs/__init__.pyi
  src/karabind/stubs/karabind.pyi
  src/karabind/stubs/py.typed
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): Fix heartbeat recovery for devices treated as gone since server gone
  src/karabo/core/DeviceClient.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

deps: Update numpy to 2.X, scipy and pint
  extern/build.sh
  extern/conanfile.txt
  extern/requirements-0.txt
  extern/requirements-1.txt
  src/pythonKarabo/karabo/integration_tests/pipeline_cross_test/test_multi_api_pipes.py
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): Fix test for data logger map
  src/integrationTests/DataLogging_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

fix(C++): Workaround arrival of instanceUpdate for unknown devices
  src/karabo/core/DeviceClient.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Change directory of config db
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(Bound): Create karabind folder in site packages and declare configuration as Hash in device
  build/karabo/build-pythonKarabo.sh
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests

feat(GUI): Add key to Table column header tooltip
  src/pythonGui/karabogui/controllers/table/model.py
  src/pythonGui/karabogui/controllers/table/tests/test_model_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Log a message when device is up
  src/pythonKarabo/karabo/middlelayer/device.py
Due: lint, test_docs, python_unit tests

fix: Swap code lines in data logger test
  src/integrationTests/DataLogging_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

deps: Update boost to 1.85.0
  extern/conanfile.txt
  src/integrationTests/DataLogging_Test.cc
  src/karabo/devices/FileDataLogger.cc
  src/karabo/io/FileTools.hh
  src/karabo/net/TcpChannel.cc
  src/karabo/tests/io/TestPathSetup.hh
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Add Ubuntu 24.04 to the list of supported platforms
  .gitlab-ci.yml
  extern/build.sh
  extern/conanfile.txt
  src/karabo/net/NetworkInterface.hh
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Handle the overflow on scalar substract.
  src/pythonGui/karabogui/graph/image/item.py
  src/pythonGui/karabogui/graph/image/tests/test_item.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Utility function to extract editable Configuration.
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/tests/test_config.py
  src/pythonGui/karabogui/testing/__init__.py
  src/pythonGui/karabogui/testing/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Show read-only and reconfigurable properties on seperate tabs.
  src/pythonGui/karabogui/dialogs/configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_preview_dialog.py
  src/pythonGui/karabogui/dialogs/ui/configuration_preview.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Option to hide readonly properties on previewing the changes in Configurations
  src/pythonGui/karabogui/dialogs/configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_preview_dialog.py
  src/pythonGui/karabogui/dialogs/ui/configuration_preview.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps: Update Conan to 2.5.0 and remove Debian 10
  .gitlab-ci.yml
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/conanfile-centos.txt
  extern/conanfile.txt
  extern/conanprofile.karabo
  extern/karabo_deployer.py
  extern/requirements-pre.txt
  extern/resources/openmqc/conanfile.py
  src/karabo/CMakeLists.txt
  src/karabo/cmake/karaboPackageDependencies-GNU-Linux-x86.pc.in
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Reuse iter binding in config evaluations
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/tests/test_config.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Change order of nan check for images
  src/pythonGui/karabogui/graph/image/item.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor (GUI): Remove username from network singletons class
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/programs/cinema.py
  src/pythonGui/karabogui/programs/concert.py
  src/pythonGui/karabogui/programs/theatre.py
  src/pythonGui/karabogui/programs/utils.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
  src/pythonGui/karabogui/wizards/cinema/tests/test_controller.py
  src/pythonGui/karabogui/wizards/cinema/wizard.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Cleanup config utils with string formatting
  src/pythonGui/karabogui/binding/config.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Align the concert test for segfault
  src/pythonGui/karabogui/programs/tests/test_concert.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): ObjectName for Navigation Tree Views
  src/pythonGui/karabogui/navigation/device_view.py
  src/pythonGui/karabogui/navigation/system_view.py
  src/pythonGui/karabogui/project/view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor GUI): Remove username argument from Application modes
  src/pythonGui/karabogui/programs/cinema.py
  src/pythonGui/karabogui/programs/concert.py
  src/pythonGui/karabogui/programs/protocol_handler.py
  src/pythonGui/karabogui/programs/tests/concert.yml
  src/pythonGui/karabogui/programs/tests/test_cinema.py
  src/pythonGui/karabogui/programs/tests/test_concert.py
  src/pythonGui/karabogui/programs/tests/test_protocol_handler.py
  src/pythonGui/karabogui/programs/tests/test_theatre.py
  src/pythonGui/karabogui/programs/theatre.py
  src/pythonGui/karabogui/programs/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): Add defaultValue to State and Alarm elements
  src/karabo/tests/util/Validator_Test.cc
  src/karabo/util/AlarmConditionElement.cc
  src/karabo/util/AlarmConditionElement.hh
  src/karabo/util/StateElement.cc
  src/karabo/util/StateElement.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
