Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(FW): Split slotPing into slotPing and slotDiscovery
  src/integrationTests/Device_Test.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_server.py
  src/pythonKarabo/karabo/integration_tests/mdl_client_test/remote_client_test.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer/heartbeat_mixin.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
  src/pythonKarabo/karabo/middlelayer/testing/server_context.py
  src/pythonKarabo/karabo/middlelayer/tests/heartbeat_mixin_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(MDL): Don't skip delete test in cli
  src/pythonKarabo/karabo/middlelayer/tests/cli_test.py
Due: lint, test_docs, python_unit tests

feat(GUI): Image Widgets - remember color levels
  src/pythonGui/karabogui/controllers/display/tests/test_image_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_vector_roll_graph.py
  src/pythonGui/karabogui/graph/image/base.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_graph_images.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_image.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_utils.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound): Remove custom launcher
  src/pythonKarabo/karabo/bound/launcher.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove slotGetOutputChannelInformationFromHash
  src/pythonKarabo/karabo/middlelayer/pipeline.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
  src/pythonKarabo/karabo/middlelayer/tests/device_test.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_pipeline_test.py
Due: lint, test_docs, python_unit tests

feat(MDL): Provide getOutputChannelInfo in CLI and util function
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/cli/__init__.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer/tests/device_test.py
Due: lint, test_docs, python_unit tests

GUI: Do allow to set log values on X axis
  src/pythonGui/karabogui/controllers/display/tests/test_scatter.py
  src/pythonGui/karabogui/controllers/display/tests/test_vector_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_vector_scatter.py
  src/pythonGui/karabogui/graph/plots/base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(FW): Heartbeat as global slot
  src/brokerMessageLogger/brokerMessageLogger.cc
  src/karabo/net/AmqpBroker.cc
  src/karabo/tests/net/Broker_Test.cc
  src/karabo/xms/Signal.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/tests/heartbeat_mixin_test.py
  src/tools/brokerRates/brokerRates.cpp
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(MDL): Enable to set connector parameters after it has been created
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: lint, test_docs, python_unit tests

feat(GUI): Indicate unattached scene panels better, show instance icon
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix for setting logging level of C++ device server doesn't work
  src/karabo/log/Logger.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

Remove SignalSlotable::slotGetOutputChannelInformationFromHash method
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(MDL): Remove the dunder all declarations in karabo native
  src/pythonGui/karabogui/widgets/scintilla_api.py
  src/pythonKarabo/karabo/native/__init__.py
  src/pythonKarabo/karabo/native/data/__init__.py
  src/pythonKarabo/karabo/native/data/bin_reader.py
  src/pythonKarabo/karabo/native/data/bin_writer.py
  src/pythonKarabo/karabo/native/data/compare.py
  src/pythonKarabo/karabo/native/data/enums.py
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/data/schema.py
  src/pythonKarabo/karabo/native/data/str_converter.py
  src/pythonKarabo/karabo/native/data/timestamp.py
  src/pythonKarabo/karabo/native/data/typenums.py
  src/pythonKarabo/karabo/native/data/utils.py
  src/pythonKarabo/karabo/native/data/xml_reader.py
  src/pythonKarabo/karabo/native/data/xml_writer.py
  src/pythonKarabo/karabo/native/schema/__init__.py
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/configurable.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/jsonencoder.py
  src/pythonKarabo/karabo/native/schema/ndarray.py
  src/pythonKarabo/karabo/native/schema/utils.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Remove hostname from header
  src/karabo/xms/SignalSlotable.cc
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

DOCS: separate public docs
  .gitignore
  .gitlab-ci.yml
  .readthedocs.yaml
  README.md
  doc/index.rst
  doxide.yaml
  mkdocs.yml
  public_docs/bound.md
  public_docs/communication.md
  public_docs/concepts.md
  public_docs/cpp.md
  public_docs/development.md
  public_docs/images/logo.png
  public_docs/index.md
  public_docs/installation.md
  public_docs/karathon.md
Due: test_docs

C++/Bound: No synchronous 3rd party signal/slot connections
  src/integrationTests/Device_Test.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/tests/xms/SignalSlotable_Test.hh
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_channel_injection.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/bound_ordertest_device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Doxide is not available on normal apt
  .readthedocs.yaml
Due: none

Update .readthedocs.yaml - tested working on readthedocs.io
  .readthedocs.yaml
Due: none

fix(C++): Deserialisation should respect Hash keys that contain the default separator
  src/karabo/data/io/HashBinarySerializer.cc
  src/karabo/tests/data/io/HashBinarySerializer_Test.cc
  src/karabo/tests/data/io/HashBinarySerializer_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GUI): Tune the run macro message box
  src/pythonGui/karabogui/project/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix the access level lookup for running macros. Debug cannot be run with OBSERVER
  src/pythonGui/karabogui/panels/macropanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: linting of public_docs
  .gitignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  README.md
  mkdocs.yml
  public_docs/communication.md
  public_docs/concepts.md
  public_docs/cpp.md
  public_docs/development.md
  public_docs/installation.md
  public_docs/karathon.md
Due: none

fix(C++): Async signal disconnection often subscribed to (instead of unsubscribed from) broker
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(DEPS): Make lttbc directly compatible for numpy 2.X
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Provide a visible message box when gui server terminates the session
  src/pythonGui/karabogui/singletons/manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

C++: Only slot instance can subscribe itself, no 3rd party (async part)
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/devices/DataLogger.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/xms/InputChannel.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Multi asyncConnect without need for data member
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat: Provide migration script for configuration database
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/interactive/convert_config_db.py
  src/pythonKarabo/karabo/interactive/tests/karaboDB
  src/pythonKarabo/karabo/interactive/tests/test_migrate_config_db.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/setup.py
  src/service.in/default/karabo_configServer/run
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(C++/Bound): Do not base64 encode [un]signed char, only char - and binding follow-up
  src/karabind/Wrapper.cc
  src/karabo/data/types/Base64.cc
  src/karabo/data/types/Base64.hh
  src/karabo/data/types/StringTools.hh
  src/karabo/tests/data/types/Hash_Test.cc
  src/karabo/tests/data/types/StringTools_Test.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
  src/pythonKarabo/karabo/bound/tests/binding/test_hash_attributes_node.py
  src/pythonKarabo/karabo/influx_db/dlraw2influx.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor: Remove LeafType from Schema and attributes
  src/karabind/PyUtilSchema.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceClient.hh
  src/karabo/data/schema/AlarmConditionElement.cc
  src/karabo/data/schema/ByteArrayElement.hh
  src/karabo/data/schema/SimpleElement.hh
  src/karabo/data/schema/StateElement.cc
  src/karabo/data/schema/TableElement.cc
  src/karabo/data/schema/Validator.cc
  src/karabo/data/schema/VectorElement.hh
  src/karabo/data/types/Schema.hh
  src/karabo/tests/data/io/HashXmlSerializer_Test.cc
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/const.py
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/native/__init__.py
  src/pythonKarabo/karabo/native/data/__init__.py
  src/pythonKarabo/karabo/native/data/enums.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

feat(Bound): Add SignalSlotable.asynConnect and ...asyncDisconnect
  src/karabind/HandlerWrap.hh
  src/karabind/PyXmsSignalSlotable.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
Due: lint, test_docs, python_unit tests

Unit tests for karabo/data not dynlinking to libkarabo.so
  src/karabo/data/io/FileTools.hh
  src/karabo/tests/CMakeLists.txt
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix: Snowballstemmer pin dependency
  doc/legacy_requirements.txt
  doc/requirements.txt
Due: test_docs

refactor(Bound/C++): Remove daqPolicy
  .gitignore
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.hh
  src/karabind/PyUtilStateElement.cc
  src/karabo/data/schema/LeafElement.hh
  src/karabo/data/schema/StateElement.cc
  src/karabo/data/schema/StateElement.hh
  src/karabo/data/types/Schema.cc
  src/karabo/data/types/Schema.hh
  src/karabo/tests/data/schema/Schema_Test.cc
  src/karabo/tests/data/schema/Schema_Test.hh
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/const.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

tests(Bound): sig slot connect/disconnect between processes
  src/pythonKarabo/karabo/integration_tests/device_comm_test/signalCarryingDevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_boundCpp_signalConnect.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Fix: Remove deprecated unary_function
  src/karabo/data/types/StringTools.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor: Remove alarm schema remnants and shrink alarmCondition Enum
  src/karabind/PyUtilSchema.cc
  src/karabo/data/schema/SimpleElement.hh
  src/karabo/data/types/AlarmConditions.cc
  src/karabo/data/types/AlarmConditions.hh
  src/karabo/data/types/Schema.hh
  src/karabo/tests/data/types/AlarmCondition_Test.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/common/alarm_conditions.py
  src/pythonKarabo/karabo/common/tests/test_alarm_condition.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound/C++): Remove allowedActions
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaNodeElement.cc
  src/karabind/PyXmsImageDataElement.cc
  src/karabo/data/schema/CustomNodeElement.hh
  src/karabo/data/schema/NodeElement.hh
  src/karabo/data/types/Schema.cc
  src/karabo/data/types/Schema.hh
  src/karabo/tests/data/schema/Schema_Test.cc
  src/karabo/tests/data/schema/Schema_Test.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(C++/Bound): Remove min and max settings
  src/karabind/PyUtilSchema.cc
  src/karabo/data/schema/OverwriteElement.hh
  src/karabo/data/types/Schema.cc
  src/karabo/data/types/Schema.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests
