Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(CI): Remove CONDA pack
  .gitlab-ci.yml
  ci/miniconda/builder/__init__.py
  ci/miniconda/builder/build.py
  ci/miniconda/builder/compare.py
  ci/miniconda/builder/pack.py
  ci/miniconda/karabo-update.py
  ci/miniconda/main.py
  src/pythonGui/karabogui/singletons/configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Ensure notice cannot come after the expiration of a temporary session
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerTemporarySessionManager.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Set autodefault of readonly connect button to false
  src/pythonGui/karabogui/conftest.py
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): Migrate broker tools to new AMQP implementation
  src/brokerMessageLogger/brokerMessageLogger.cc
  src/tools/brokerRates/brokerRates.cpp
Due: lint, test_docs, cpp_unit tests

fix(GUI): Sync the temporary button with authentication
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Erase refresh token and user if no remember me is selected. Erase...
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(CI): Refactor MDL device template, remove flake8 tests and align device test
  src/templates/middlelayer/minimal/src/__PACKAGE_NAME__/tests/code_quality_test.py
  src/templates/middlelayer/minimal/src/__PACKAGE_NAME__/tests/device_test.py
Due: lint, test_docs

fix(CI): also remove karaboEnvironments from CI
  .gitlab-ci.yml
Due: none

fix(CI): Align the entry point for karabo concert
  conda-recipes/karabogui/meta_base.yaml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix the access level in temporary session
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

dependency LDFLAGS cleanups for conan v2, round 2
  doc/installation/dependency_management.rst
  extern/build.sh
  extern/conanfile.txt
  extern/conanprofile.karabo
  extern/relocate_deps.sh
  extern/requirements-1.txt
  extern/resources/openmqc/CMakeLists.txt
  extern/resources/openmqc/conanfile.py
  src/karabo/CMakeLists.txt
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++ Test): AMQP test robust against crash after timeout
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI) : Error message in Temporary Session dialog.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/ui/temp_session_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI) Update tool tip for start a temporary session
  src/pythonGui/karabogui/indicators.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

nss recipe is only half v2 compliant, make it fully v2 compliant
  extern/resources/nss/conanfile.py
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Fix the temporary session icon when logging out
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): AMQP connection allows concurrent calls to asynConnect
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): User experience token editing. Should accept backspace in AccessCodeWidget
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove console panel configuration and add coverage evaluation to CI
  .gitlab-ci.yml
  src/pythonGui/karabogui/dialogs/tests/test_app_configuration_dialog.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Option to erase user token information from main menu
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Show temporary user information in tooltip
  src/pythonGui/karabogui/indicators.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Don't show authentication information in app dialog
  src/pythonGui/karabogui/dialogs/tests/test_app_configuration_dialog.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

local nss recipe for conan v2 is broken with conan v1
  extern/conanfile.txt
  extern/resources/openmqc/conanfile.py
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Improvement to Backspace on Access Code widget.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Always evaluate remember me on answer
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Enable full delete of shared items
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Provide icon for removal of user info
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/remove_user.svg
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): User and AccessLevel info in the Temp Session Dialog
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/ui/temp_session_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Display the username and access level before ending Temporary session
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat: Add access level admin properties to propertytest
  src/pythonKarabo/karabo/bound_devices/property_test.py
  src/pythonKarabo/karabo/middlelayer_devices/property_test.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

version bump to conan v2 supported openssl (1.1.1w)
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/conanfile.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Fix occasional missing amqpcpp toolchain
  auto_build_all.sh
  build/karabo/bundle.sh
  build/karabo/setupVSCodeCMake.py
  extern/build.sh
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Provide option to install guiextensions from commandline with dependencies
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(CI): Lint ci scripts
  ci/coverage/lcov/cpplint.py
  ci/miniconda/builder/__init__.py
  ci/miniconda/builder/build.py
  ci/miniconda/builder/mirrors.py
  ci/miniconda/builder/utils.py
  ci/miniconda/main.py
  ci/portal/portal_start.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/merge_check.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/merge_cppunitxml.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/merge_junit.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/test.py
  ci/utils/cppunitxmlparser/setup.py
Due: none

feat(GUI): Configurator - Option to fetch Configuration from past
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/panels/tests/test_configurationpanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Use encryption in shared items
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/tests/test_util.py
  src/pythonGui/karabogui/singletons/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Login Dialog: Check if the refresh token available constantly.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix issues with Token check timer
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Align hightest global access level with access level in the beginning
  src/pythonGui/karabogui/access.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(TOOLS): Enable to stop a karabo service with correct name
  src/pythonKarabo/karabo/interactive/startkarabo.py
Due: lint, test_docs, python_unit tests
