Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

MDL: set the karabo slot name in lastCommand
  src/pythonKarabo/karabo/middlelayer_api/tests/device_test.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

MDL: Include tests in the future for flake8
  src/templates/middlelayer/minimal/src/__PACKAGE_NAME__/tests/code_quality_test.py
Due: lint

MDL: Add isort to templates
  src/templates/middlelayer/minimal/.gitlab-ci.yml
  src/templates/middlelayer/minimal/.isort.cfg
Due: lint

Increase timeout to make test more robust
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

MDL: Enable setting of Hashes as rows in table element
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

C++ loggers: No logging re-enforcement if not needed
  src/karabo/devices/DataLoggerManager.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

DOC: expand 2.14.0 documentation
  doc/whatsnew/2.14.rst
Due: none

MDL: Python compat drain lock in pipelining
  src/pythonKarabo/karabo/middlelayer_api/pipeline.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

DEPS: Add pytest asyncio
  extern/build.sh
  extern/resources/pytest_asyncio/build.config
  extern/resources/pytest_asyncio/pytest-asyncio-0.18.2.tar
Due: deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18
