Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre-commit-check, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  pre-commit-check: any of: src/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(GUI): Move karaboGui build setup to pyproject.toml (Cherry-pick)
  src/pythonGui/pyproject.toml
  src/pythonGui/setup.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Run CI on Windows11 (Cherry-pick)
  .gitlab-ci.yml
Due: none

fix(GUI): Utility function to open browser from GUI.
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/controllers/table/delegates.py
  src/pythonGui/karabogui/controllers/table/tests/test_model_view.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/sceneview/widget/link.py
  src/pythonGui/karabogui/sceneview/widget/tests/test_link.py
  src/pythonGui/karabogui/util.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Move isort configuration to toml file (Cherry-pick hotfix)
  src/pythonGui/.isort.cfg
  src/pythonGui/pyproject.toml
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Use toml for PythonKarabo (Cherry-pick hotfix)
  pytest.ini
  src/pythonKarabo/pyproject.toml
  src/pythonKarabo/setup.py
Due: pre-commit-check, python_unit tests

refactor: Change toml file for pythonKarabo and move isort (Cherry-pick hotfix)
  src/pythonKarabo/.isort.cfg
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
  src/pythonKarabo/karabo/packaging/tests/test_versioning.py
  src/pythonKarabo/pyproject.toml
  src/pythonKarabo/setup.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Fix python infrastructure on toml, correctly invoke pytest and gui build
  conda-recipes/karabogui/bld.bat
  conda-recipes/karabogui/build.sh
  run_python_tests.sh
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/pyproject.toml
  src/pythonKarabo/setup.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

feat: Running CI on Mac Silicon (arm64) architecture(Cherry-pick hotfix)
  ci/miniconda/builder/build.py
Due: none

Use a single db_session for saving modified items in project
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/database.py
  src/pythonKarabo/karabo/project_db/db_engine.py
  src/pythonKarabo/karabo/project_db/models_xml.py
  src/pythonKarabo/karabo/project_db/tests/test_database.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

refactor: Use a single db_session for saving modified items in project (Cherry-pick hotfix)
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/database/db_engine.py
  src/pythonKarabo/karabo/project_db/database/models_xml.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/testing/__init__.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Provide option to delete all scenes with a single action for developers
  src/pythonGui/karabogui/project/controller/project_groups.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): No need for detaching connector
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/eventloop.py
Due: pre-commit-check, python_unit tests

fix: Add cryptography dependency to the backend - for MySQL authentication (Cherry-pick hotfix)
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

DOC: document device interfaces
  doc/concepts/general_concepts.rst
  doc/library/device_interfaces.rst
  src/pythonKarabo/karabo/middlelayer/device_interface.py
Due: pre-commit-check, python_unit tests

DOC: fix device i/f description formatting
  doc/concepts/general_concepts.rst
  doc/library/device_interfaces.rst
Due: none

feat(GUI):Logbook - Fit to view (reset Zoom).
  src/pythonGui/karabogui/dialogs/logbook_preview.py
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/zoom-fit-view.svg
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Logbook ScreenCapture
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/logbook_preview.py
  src/pythonGui/karabogui/dialogs/screen_capture_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_logbook_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_screen_capture_dialog.py
  src/pythonGui/karabogui/dialogs/ui/screen_capture.ui
  src/pythonGui/karabogui/mainwindow.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add project include files to the install scripts
  build/karabo/bundle-cppplugin.sh
  build/karabo/extract-cppplugin.sh
Due: none

fix(GUI): Make the screen number more visible.
  src/pythonGui/karabogui/dialogs/screen_capture_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix broken conan dependencies triggered by libcurl 8.18.0
  extern/conanfile.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix: Log traceback for errors initialising Python bound devices
  src/pythonKarabo/karabo/bound/device.py
Due: pre-commit-check, python_unit tests

BOUND: Add binding for subSchemaByPaths including tests
  src/karabind/PyUtilSchema.cc
  src/karabo/data/types/Schema.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
Due: pre-commit-check, python_unit tests, cpp_unit tests

BOUND: Avoid deep copy of Hash in RequestorWrap::waitForReply
  src/karabind/PyXmsSignalSlotable.cc
  src/karabind/Wrapper.cc
  src/karabind/Wrapper.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
Due: pre-commit-check, python_unit tests

feat(C++): Add possibility to get rid again of a slot
  src/karabo/net/TcpConnection.cc
  src/karabo/tests/xms/testSignalSlotable.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests

refactor(Bound): Prettify deviceClasses code
  src/pythonKarabo/karabo/bound/device_server.py
Due: pre-commit-check, python_unit tests

fix(MDL): Remove possibility to define empty deviceClasses list in device server
  src/pythonKarabo/karabo/middlelayer/device_server.py
Due: pre-commit-check, python_unit tests

feat(MDL): Allow to wait for local device
  src/pythonKarabo/karabo/integration_tests/local_device_test/local_device_test.py
  src/pythonKarabo/karabo/integration_tests/local_device_test/waiter_device.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/setup.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

fix(GUI):Do not consider injected properties in the Configuration Preview dialog
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/tests/test_config.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: updating doc links
  src/pythonGui/karabogui/mainwindow.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DOC: Refer to C++20 in CONTRIBUTING
  CONTRIBUTING.md
Due: none

fix(cli): enable `clear` command by setting back the terminal info database in activate script
  src/tools/scripts/activate.tmpl
Due: pre-commit-check

feat(GUI): A placeholder image for supported color
  src/pythonGui/karabogui/controllers/display/detector_graph.py
  src/pythonGui/karabogui/controllers/display/image_graph.py
  src/pythonGui/karabogui/controllers/display/webcam_graph.py
  src/pythonGui/karabogui/graph/image/api.py
  src/pythonGui/karabogui/graph/image/data/unsupported_image.npy
  src/pythonGui/karabogui/graph/image/image_node.py
  src/pythonGui/karabogui/graph/image/utils.py
  src/pythonGui/pyproject.toml
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Expose ImageData toDataAndAttrs publicly
  src/pythonKarabo/karabo/native/data/__init__.py
  src/pythonKarabo/karabo/native/data/tests/test_utils.py
  src/pythonKarabo/karabo/native/data/utils.py
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/image_data.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Disable Screen capture on Linux wayland session
  src/pythonGui/karabogui/mainwindow.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

perf: Have a better bytescaler, save copies
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/graph/image/api.py
  src/pythonGui/karabogui/graph/image/item.py
  src/pythonGui/karabogui/graph/image/tests/test_utils.py
  src/pythonGui/karabogui/graph/image/utils.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps(GUI): Update pyqtgraph to 0.14.0
  conda-recipes/karabogui/environment.devenv.yml
  src/pythonGui/karabogui/graph/common/axis_item.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

perf(GUI): Pass ctypes pointer to QImage
  src/pythonGui/karabogui/graph/image/item.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Don't add to drawable items, add_layout is already doing that
  src/pythonGui/karabogui/sceneview/layout/base.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix karabind by using stubs generation
  src/karabind/PyCoreDeviceClient.cc
  src/karabind/PyIoFileTools.cc
  src/karabind/PyLogLogger.cc
  src/karabind/PyUtilDims.cc
  src/karabind/PyUtilEpochstamp.cc
  src/karabind/PyUtilHash.cc
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaElement.hh
  src/karabind/PyUtilSchemaTableElement.cc
  src/karabind/PyUtilTimeDuration.cc
  src/karabind/PyUtilTimeId.cc
  src/karabind/PyUtilTimestamp.cc
  src/karabind/PyUtilTypesReferenceType.cc
  src/karabind/PyXmsImageDataElement.cc
  src/karabind/PyXmsInputOutputChannel.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabind/PyXmsSlotElement.cc
  src/karabind/PythonFactoryMacros.hh
  src/karabind/karabind.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
Due: pre-commit-check, python_unit tests

feat: Add binding for AmqpConnection and AmqpHashClient
  src/karabind/PyNetAmqpConnectionClient.cc
  src/karabind/PyNetConnectionChannel.cc
  src/karabind/karabind.cc
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/binding/test_amqphash_client.py
Due: pre-commit-check, python_unit tests
