Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, cpp_deps tests, python_deps tests, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-001
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-001
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  stage: build
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  script:
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - yum -q -y install perl-open || true
  - yum -q -y install perl-FindBin || true
  ...

cpp_deps tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

python_deps tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    paths:
    - junit*.xml
    - coverage.xml
    reports:
      junit:
      - junit*.xml
      cobertura:
      - coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    paths:
    - junit*.xml
    - coverage.xml
    reports:
      junit:
      - junit*.xml
      cobertura:
      - coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    paths:
    - junit*.xml
    - coverage.xml
    reports:
      junit:
      - junit*.xml
      cobertura:
      - coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

C++: Tune event loop
  src/karabo/net/EventLoop.cc
  src/karabo/net/EventLoop.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Fix the colorbar right click menu on graph widget on python 3.12
  src/pythonGui/karabogui/graph/image/colorbar.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

perf: Don't request a schema for a link or status widget
  src/pythonGui/karabogui/sceneview/widget/link.py
  src/pythonGui/karabogui/sceneview/widget/status.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Don't cycle the eventloop when setting future
  src/pythonKarabo/karabo/middlelayer/pipeline.py
Due: lint, test_docs, python_unit tests

Bound: Change fixture on test tcp
  src/pythonKarabo/karabo/bound_api/tests/binding/test_tcp.py
Due: lint, test_docs, python_unit tests

feat(GUI): Decrease the default image size in graph widgets
  src/pythonGui/karabogui/controllers/display/tests/test_detector_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_image_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_webcam.py
  src/pythonGui/karabogui/graph/image/item.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat: Karabo and Package versions are available to experts
  src/karabo/core/Device.hh
  src/pythonKarabo/karabo/bound_api/device.py
  src/pythonKarabo/karabo/bound_api/tests/schema_adler_test.py
  src/pythonKarabo/karabo/middlelayer/device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

CPP: Improve validation performance by refactoring the loops
  src/karabo/util/Validator.cc
  src/karabo/util/Validator.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

MDL: Cleanup table, remove coltypes
  src/pythonKarabo/karabo/native/schema/descriptors.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

CPP: Improve readability for Validator
  src/karabo/util/Validator.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(C++ integr. tests): Do not rely on DeviceClient topology cache for data logger
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/DataLogging_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

feat(GUI): Show extension url in update dialog
  src/pythonGui/karabogui/dialogs/ui/update_dialog.ui
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Remove daemon manager widget
  src/pythonGui/karabogui/controllers/display/daemon.py
  src/pythonGui/karabogui/controllers/display/tests/test_daemon.py
  src/pythonGui/karabogui/sceneview/tests/test_view.py
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/simple.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Allow use of dots in middlelayer broker URL
  src/pythonKarabo/karabo/middlelayer/broker/tests/test_utils.py
  src/pythonKarabo/karabo/middlelayer/broker/utils.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove metaclass registration
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/injectable.py
  src/pythonKarabo/karabo/middlelayer/macro.py
  src/pythonKarabo/karabo/middlelayer/tests/inject_node_test.py
  src/pythonKarabo/karabo/native/schema/__init__.py
  src/pythonKarabo/karabo/native/schema/configurable.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/registry.py
  src/pythonKarabo/karabo/native/schema/tests/registry_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Doc: Document 2.20.0 breaking changes
  doc/whatsnew/2.20.rst
Due: test_docs

GUI: Update LoginDialog button state and coloring for ports
  src/pythonGui/karabogui/dialogs/logindialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

CI: Always run karathon once
  run_python_tests.sh
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

most pipelines only use the test stage to build and test in one job, so make these stages save the conan/pip cache
  .gitlab-ci.yml
Due: none

Immediately treat instanceGone of devices if their server gone
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

DEPS: add libdir paths to generated pkg-config file
  extern/build.sh
  extern/conanfile.txt
  src/karabo/cmake/karaboPackageDependencies-GNU-Linux-x86.pc.in
  src/tools/scripts/activate.tmpl
Due: lint, test_docs, deps build, cpp_deps tests, python_deps tests

More time on hanging event loop + no flush without influx connection
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/net/EventLoop.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

GUI: Allow to save scene from toolbar in dev mode
  src/pythonGui/karabogui/panels/scenepanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Reactive Login Dialog - Set correct access_level
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Remove aux plot warning message for Function trait, use Callable
  src/pythonGui/karabogui/graph/image/aux_plots/profiling/analyzer.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(CI): Remove last defaults remnants on CONDA build
  ci/miniconda/builder/build.py
Due: none

fix the distribution name to match what the deployment expects
  ci/prepare
  set_lsb_release_info.sh
Due: none

Add support for temporary privilege escalation on GUI Session.
  doc/library/guiServer.rst
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/GuiServer_Test.hh
  src/integrationTests/TestKaraboAuthServer.cc
  src/integrationTests/TestKaraboAuthServer.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/devices/GuiServerSessionEscalator.cc
  src/karabo/devices/GuiServerSessionEscalator.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

GUI: Use username for concert and not access level
  src/pythonGui/karabogui/programs/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

CI: refactor test scripts
  .gitlab-ci.yml
  ci/build
  ci/prepare
  ci/test
  extern/conanfile.txt
Due: deps build, cpp_deps tests, python_deps tests

fix(GUI):Casting to Progressbar min/max to int
  src/pythonGui/karabogui/controllers/table/delegates.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Another casting
  src/pythonGui/karabogui/controllers/table/delegates.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Cleanup slider default value
  src/pythonGui/karabogui/widgets/range_slider.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add thread to bound device
  src/pythonKarabo/karabo/bound_api/device.py
Due: lint, test_docs, python_unit tests

feat(GUI): Create fixtures for scintilla tests
  src/pythonGui/karabogui/widgets/tests/test_scintilla_editor.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Silence ikarabo exit on having an output proxy in python 3.11
  src/pythonKarabo/karabo/middlelayer/pipeline.py
Due: lint, test_docs, python_unit tests

fix issue #840 - karabo bundle failure
  build/karabo/bundle-cppplugin.sh
  build/karabo/bundle-pythondependency.sh
  build/karabo/bundle-pythonplugin.sh
  build/karabo/bundle.sh
Due: none

needs to be RedHat to match ansible-derived host OS
  ci/prepare
  set_lsb_release_info.sh
Due: none

fix(GUI): Casting int for QPoint.
  src/pythonGui/karabogui/graph/common/roi/base.py
  src/pythonGui/karabogui/graph/image/aux_plots/base/plot.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(CI): Parallelize gui testing
  conda-recipes/karabogui/_run_test.py
  conda-recipes/karabogui/environment.devenv.yml
  src/pythonGui/karabogui/wizards/tips/wizard.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  cpp_deps tests: any of: extern/**/*
  python_deps tests: any of: extern/**/*
  python_unit tests: (any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests: (any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  cpp_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  long tests: any of: src/cppLongTests/**/*
