Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build almalinux8, deps build almalinux9, deps build centos7, deps build debian10, deps build ubuntu20, deps build ubuntu22, cpp_deps tests almalinux8, cpp_deps tests almalinux9, cpp_deps tests centos7, cpp_deps tests debian10, cpp_deps tests ubuntu20, cpp_deps tests ubuntu22, python_deps tests almalinux8, python_deps tests almalinux9, python_deps tests centos7, python_deps tests debian10, python_deps tests ubuntu20, python_deps tests ubuntu22, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests almalinux9, python_integration tests centos7, python_integration tests debian10, python_integration tests ubuntu20, python_integration tests ubuntu22, cpp_integration tests almalinux8, cpp_integration tests almalinux9, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu22, long tests almalinux8, long tests almalinux9, long tests centos7, long tests debian10, long tests ubuntu20, long tests ubuntu22

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-001
  tags:
  - KaraboFramework
  stage: build
  variables:
    CONAN_USER_HOME: $CI_PROJECT_DIR/.cache/conan
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME
    paths:
    - .cache/conan/
    - .cache/pip/
    policy: pull-push
  script:
  ...

deps build almalinux9:
  image: europeanxfel/karabo-ci:almalinux-9-001
  tags:
  - KaraboFramework
  stage: build
  variables:
    CONAN_USER_HOME: $CI_PROJECT_DIR/.cache/conan
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME
    paths:
    - .cache/conan/
    - .cache/pip/
    policy: pull-push
  script:
  ...

deps build centos7:
  image: europeanxfel/karabo-ci:centos-7-001
  tags:
  - KaraboFramework
  stage: build
  variables:
    CONAN_USER_HOME: $CI_PROJECT_DIR/.cache/conan
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME
    paths:
    - .cache/conan/
    - .cache/pip/
    policy: pull-push
  script:
  ...

deps build debian10:
  image: europeanxfel/karabo-ci:debian-10-001
  tags:
  - KaraboFramework
  stage: build
  variables:
    CONAN_USER_HOME: $CI_PROJECT_DIR/.cache/conan
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME
    paths:
    - .cache/conan/
    - .cache/pip/
    policy: pull-push
  script:
  ...

deps build ubuntu20:
  image: europeanxfel/karabo-ci:ubuntu-20-001
  tags:
  - KaraboFramework
  stage: build
  variables:
    CONAN_USER_HOME: $CI_PROJECT_DIR/.cache/conan
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME
    paths:
    - .cache/conan/
    - .cache/pip/
    policy: pull-push
  script:
  ...

deps build ubuntu22:
  image: europeanxfel/karabo-ci:ubuntu-22
  tags:
  - KaraboFramework
  stage: build
  variables:
    CONAN_USER_HOME: $CI_PROJECT_DIR/.cache/conan
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME
    paths:
    - .cache/conan/
    - .cache/pip/
    policy: pull-push
  script:
  ...

cpp_deps tests almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-001
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

Remove certify dependency.
  .gitignore
  doc/installation/dependency_management.rst
  extern/build.sh
  extern/conanfile.txt
  extern/resources/boost/certify/crlset_parser.hpp
  extern/resources/boost/certify/detail/config.hpp
  extern/resources/boost/certify/detail/keystore_apple.ipp
  extern/resources/boost/certify/detail/keystore_default.ipp
  extern/resources/boost/certify/detail/keystore_windows.ipp
  extern/resources/boost/certify/detail/spki_blacklist.hpp
  extern/resources/boost/certify/detail/spki_digest.hpp
  extern/resources/boost/certify/detail/status_cache.hpp
  extern/resources/boost/certify/extensions.hpp
  extern/resources/boost/certify/https_verification.hpp
  extern/resources/boost/certify/impl/crlset_parser.ipp
  extern/resources/boost/certify/impl/extensions.hpp
  extern/resources/boost/certify/impl/https_verification.hpp
  extern/resources/boost/certify/impl/https_verification.ipp
  extern/resources/boost/certify/src.hpp
  extern/resources/boost/conanfile.py
  src/karabo/net/HttpClient.cc
  src/karabo/net/HttpsRequestRunner.cc
Due: lint, test_docs, deps build almalinux8, deps build almalinux9, deps build centos7, deps build debian10, deps build ubuntu20, deps build ubuntu22, cpp_deps tests almalinux8, cpp_deps tests almalinux9, cpp_deps tests centos7, cpp_deps tests debian10, cpp_deps tests ubuntu20, cpp_deps tests ubuntu22, python_deps tests almalinux8, python_deps tests almalinux9, python_deps tests centos7, python_deps tests debian10, python_deps tests ubuntu20, python_deps tests ubuntu22

Resolve "GUI: Upgrade pyqtgraph to latest version"
  conda-recipes/karabogui/environment.devenv.yml
  src/pythonGui/karabogui/graph/plots/items.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI:Do not allow set log values on X-axis in Bar Graph.
  src/pythonGui/karabogui/controllers/display/tests/test_vector_bar_graph.py
  src/pythonGui/karabogui/controllers/display/vector_bar_graph.py
  src/pythonGui/karabogui/graph/plots/items.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

PY11: karabo/io+net binding
  src/karabind/PyIoFileTools.cc
  src/karabind/PyNetConnectionChannel.cc
  src/karabind/PyXmsInputOutputChannel.cc
  src/karabind/PythonFactoryMacros.hh
  src/karabind/Wrapper.cc
  src/karabind/Wrapper.hh
  src/karabind/karabind.cc
  src/karabind/karabind_test.cc
  src/karathon/PyXmsInputOutputChannel.cc
  src/karathon/PyXmsInputOutputChannel.hh
  src/karathon/karathon.cc
  src/karathon/p2pbinding.cc
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_eventloop_client_server.py
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_karabo_io.py
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_pipeline_api.py
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22

Test bindings of synchronous TCP read and write
  src/karabind/PyNetConnectionChannel.cc
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_tcp.py
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22

Py11: Logger binding
  src/karabind/FromNumpy.cc
  src/karabind/PyLogLogger.cc
  src/karabind/karabind.cc
  src/karabo/log/CacheAppender.cc
  src/karabo/log/CacheAppender.hh
  src/karabo/log/Logger.cc
  src/karabo/log/Logger.hh
  src/karathon/PyLogLogger.cc
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_logging_api.py
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

GUI: Highlight filter search with changing color
  src/pythonGui/karabogui/navigation/device_filter_model.py
  src/pythonGui/karabogui/navigation/system_filter_model.py
  src/pythonGui/karabogui/navigation/tests/test_device_model_view.py
  src/pythonGui/karabogui/panels/tool_widget.py
  src/pythonGui/karabogui/panels/ui/combo_filter.ui
  src/pythonGui/karabogui/panels/ui/interface_filter.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: LogBook: grab pixmap from GraphicsScene.
  src/pythonGui/karabogui/dialogs/logbook_drawing_tools.py
  src/pythonGui/karabogui/dialogs/logbook_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_logbook_preview.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI:LogBook: Option to change Font/Color of annotation text
  src/pythonGui/karabogui/dialogs/logbook_drawing_tools.py
  src/pythonGui/karabogui/dialogs/tests/test_logbook_preview.py
  src/pythonGui/karabogui/dialogs/ui/simple_text_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build almalinux8: any of: extern/**/*
  deps build almalinux9: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build debian10: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu22: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests almalinux9: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests debian10: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  cpp_deps tests ubuntu22: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests almalinux9: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests debian10: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_deps tests ubuntu22: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests almalinux9: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests debian10: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu22: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux9: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests debian10: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu22: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests almalinux9: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests debian10: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu22: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux9: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu22: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests almalinux9: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests debian10: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu22: any of: src/cppLongTests/**/*
