Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

GUI: Fix blocked MacOS client
  src/pythonGui/karabogui/messagebox.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

CI: split c++ and python unit tests jobs
  .gitlab-ci.yml
  ci/prepare
  ci/test
  cmake_auto_build_all.sh
Due: none

Common: Code quality test
  src/pythonKarabo/karabo/common/scenemodel/tests/test_shapes.py
  src/pythonKarabo/karabo/common/tests/test_code_quality.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

MDL: Profiler for async funcs and doc
  doc/library/pythonApiMiddlelayer.rst
  src/pythonKarabo/karabo/common/decorators.py
  src/pythonKarabo/karabo/common/tests/test_decorators.py
  src/pythonKarabo/karabo/middlelayer.py
  src/pythonKarabo/karabo/middlelayer_api/tests/utils_test.py
  src/pythonKarabo/karabo/middlelayer_api/utils.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

GUI: Use log level info to set the default in setLoggerPriority
  src/pythonGui/karabogui/navigation/system_view.py
  src/pythonGui/karabogui/topology/system_tree.py
  src/pythonGui/karabogui/topology/tests/test_system_tree.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

GUI: Extend base table controller
  src/pythonGui/karabogui/controllers/table/controller.py
  src/pythonGui/karabogui/controllers/table/tests/test_model_view.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Native: Clean compare module
  src/pythonKarabo/karabo/native/data/compare.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

GUI: Clean topology utils and add is_device_online
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/topology/api.py
  src/pythonGui/karabogui/topology/tests/test_system_topology.py
  src/pythonGui/karabogui/topology/util.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64
