Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(C++, Bound): Remove _deviceId_ property
  src/integrationTests/GuiServer_Test.cc
  src/karabo/core/Device.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/devices/DataLogger.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/templates/cpp/minimal/src/test/test__CLASS_NAME__.cc
  src/templates/python/minimal/src/__PACKAGE_NAME__/tests/device_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Cleanup change of project device state
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/topology/project_device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(Bound/C++): Fix setAlarmCondition, don't consider info and acknowledgement
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/core/DeviceClient_Test.cc
  src/pythonKarabo/karabo/bound_devices/property_test.py
  src/pythonKarabo/karabo/middlelayer_devices/property_test.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_propertymdl.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(doc): Provide merge log until 3.0.0rc3
  doc/whatsnew/3.0.rst
  doc/whatsnew/index.rst
Due: test_docs

fix: Remove device egg remnant from integration tests
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/DeviceChannelInjection.egg-info/PKG-INFO
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/DeviceChannelInjection.egg-info/SOURCES.txt
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/DeviceChannelInjection.egg-info/entry_points.txt
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(Bound/C++): Make deviceId and serverId formally init only parameters
  src/karabo/core/Device.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Support scene links explicitly in the SQL backend
  src/pythonKarabo/karabo/project_db/database/models.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/utils.py
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests

doc: Document more the 3.X release with breaking changes etc.
  doc/whatsnew/3.0.rst
Due: test_docs

doc: try different formatting for rc3
  doc/whatsnew/3.0.rst
Due: test_docs

refactor: Less trainId, use timeId for TimeMixin etc
  src/karabo/data/time/TimeId.cc
  src/karabo/data/time/TimeId.hh
  src/pythonKarabo/karabo/native/time_mixin.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add test for get_scene_links function in karabo.project_db.database.utils
  src/pythonKarabo/karabo/project_db/database/tests/test_utils.py
Due: lint, test_docs, python_unit tests

Login dialog flips back to REFRESH_TOKEN mode on refresh timer pulse after 'Switch User'
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Remove _deviceId_ from instances
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
  src/pythonKarabo/karabo/middlelayer/tests/cli_test.py
  src/templates/middlelayer/minimal/src/__PACKAGE_NAME__/__CLASS_NAME__.py
  src/templates/middlelayer/minimal/src/__PACKAGE_NAME__/tests/device_test.py
Due: lint, test_docs, python_unit tests

feat(C++): Do not throttle "status" property on its way from GUI server to client
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/karabo/devices/PropertyTest.cc
  src/karabo/devices/PropertyTest.hh
  src/karabo/tests/core/DeviceClient_Test.cc
  src/karabo/tests/core/DeviceClient_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Set the loop scopes properly via the ini file and not via conftest
  src/pythonKarabo/karabo/middlelayer/conftest.py
  src/pythonKarabo/karabo/middlelayer/pytest.ini
  src/pythonKarabo/karabo/middlelayer/testing/__init__.py
  src/pythonKarabo/karabo/middlelayer/testing/utils.py
Due: lint, test_docs, python_unit tests

feat: Provide legacy pytest flag in mdl template
  src/templates/middlelayer/minimal/.gitlab-ci.yml
  src/templates/middlelayer/minimal/src/__PACKAGE_NAME__/tests/conftest.py
Due: lint, test_docs

doc: Add more information on rc3
  doc/whatsnew/3.0.rst
Due: test_docs

refactor(C++/Bound): Be strict about property keys
  src/karabo/data/schema/GenericElement.cc
  src/karabo/data/schema/GenericElement.hh
  src/karabo/tests/data/schema/Schema_Test.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(C++/Bound): Always validate output channel schema
  src/integrationTests/PipelinedProcessing_Test.cc
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/xms/OutputChannel.cc
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++ test template): No need of redundant deviceId specification
  src/templates/cpp/minimal/src/test/test__CLASS_NAME__.cc
Due: lint, test_docs

fix(C++): Properly delete unique_ptr to array
  src/karabo/data/io/HashBinarySerializer.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): fix the scene controller editing when having a lazy scene
  src/pythonGui/karabogui/project/controller/scene.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Assure model data before saving to file
  src/pythonGui/karabogui/project/controller/scene.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Deprecate absoluteError and relativeError
  src/pythonKarabo/karabo/middlelayer/tests/configuration_test.py
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Use warn with stackLevel instead of warnexplicit
  src/pythonKarabo/karabo/middlelayer/device_client.py
Due: lint, test_docs, python_unit tests

refactor(GUI): Remove not required alarms in dict
  src/pythonGui/karabogui/indicators.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove CheckState role from project model
  src/pythonGui/karabogui/project/controller/bases.py
  src/pythonGui/karabogui/singletons/project_model.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(Bound): Generalize Runner, help few keys
  src/pythonKarabo/karabo/bound/runner.py
Due: lint, test_docs, python_unit tests

refactor(FW): Less heartbeats, but similar discovery of crash of normal objects
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/xms/SignalSlotable.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(ProjectDB): More readablity attempt
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

fix(GUI): Fix lazy scene replace from file
  src/pythonGui/karabogui/project/controller/scene.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove unused manager handles
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): Remove absolute and relative Error definitions
  src/karabo/data/schema/SimpleElement.hh
  src/karabo/data/types/Schema.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(Bound): asyncConnect for timeserver, a thread less
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests

feat(Bound): Provide Hash.update functionality
  src/karabind/PyUtilHash.cc
  src/pythonKarabo/karabo/bound/tests/hash_test.py
Due: lint, test_docs, python_unit tests

refactor(GUI): Align size and look of curve options dialog
  src/pythonGui/karabogui/graph/plots/dialogs/curve_options.py
  src/pythonGui/karabogui/graph/plots/dialogs/curve_options.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Provide device topology for a the selected domain
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/project_topology_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_project_topology_dialog.py
  src/pythonGui/karabogui/dialogs/ui/project_topology.ui
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI Server: Increase minimumClientVersion
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

karabo_projectDBServer run file template supporting SQL backends
  .gitlab-ci.yml
  src/service.in/default/karabo_projectDBServer/run
Due: lint, test_docs

refactor(C++/Bound): Remove unused dataSchema(..) of INPUT_CHANNEL
  src/integrationTests/Device_Test.cc
  src/integrationTests/PipeReceiverDevice.cc
  src/karabind/PyXmsInputOutputChannel.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/xms/InputChannel.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_pipeline_utils.py
  src/pythonKarabo/karabo/bound/tests/boundDevice.py
  src/pythonKarabo/karabo/bound_devices/property_test.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_channel_injection.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/ppreceiver.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests
