Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18, long tests almalinux8, long tests centos7, long tests ubuntu20, long tests ubuntu18

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint
  script:
  - source ci/lint ALL

deps build almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build ubuntu20:
  image: europeanxfel/karabo-ci:ubuntu-20
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

cpp_deps tests almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests ubuntu20:
  image: europeanxfel/karabo-ci:ubuntu-20
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

python_deps tests almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

python_deps tests centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

GUI: Offer confirmation option for table button and use in daemon manager
  src/pythonGui/karabogui/controllers/table/delegates.py
  src/pythonGui/karabogui/controllers/table/tests/test_utils.py
  src/pythonGui/karabogui/controllers/table/utils.py
  src/pythonKarabo/karabo/middlelayer_devices/daemon_manager.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18

DaemonManager: Erase information on UNKNOWN state and cleanup
  src/pythonKarabo/karabo/middlelayer_devices/daemon_manager.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18

WebAggregator: Implement heartbeat checking and remove servers if hosts vanish
  src/pythonKarabo/karabo/interactive/webaggregatorserver.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18

DaemonManager: Performance optimization in cycling
  src/pythonKarabo/karabo/middlelayer_devices/daemon_manager.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18

Improve 'Change Icon' Dialog appearance.
  src/pythonGui/karabogui/controllers/icons.ui
  src/pythonGui/karabogui/controllers/icons_dialogs.py
  src/pythonGui/karabogui/controllers/tests/test_change_icons_dialog.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

MDL: Always connect a proxy on startup
  src/pythonKarabo/karabo/middlelayer_api/device_client.py
  src/pythonKarabo/karabo/middlelayer_api/proxy.py
  src/pythonKarabo/karabo/middlelayer_api/tests/device_test.py
  src/pythonKarabo/karabo/middlelayer_api/tests/macro_test.py
  src/pythonKarabo/karabo/middlelayer_api/tests/remote_pipeline_test.py
  src/pythonKarabo/karabo/middlelayer_api/tests/remote_test.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18

C++: Do not catch exceptions in SchemaBinarySerializer
  src/karabo/io/SchemaBinarySerializer.cc
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18

GUI: AlarmPanel - Add instanceId filtering and remove Id from the view
  src/pythonGui/karabogui/alarms/alarm_model.py
  src/pythonGui/karabogui/alarms/const.py
  src/pythonGui/karabogui/alarms/filter_model.py
  src/pythonGui/karabogui/alarms/tests/test_alarm_model.py
  src/pythonGui/karabogui/alarms/tests/test_const.py
  src/pythonGui/karabogui/panels/alarmpanel.py
  src/pythonGui/karabogui/panels/tests/test_alarm_panel.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

MDL: Provide a MacroSlot for background tasks
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer_api/macro.py
  src/pythonKarabo/karabo/middlelayer_api/tests/macro_test.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build almalinux8: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests ubuntu18: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests ubuntu18: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu18: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu18: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*
