Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, cpp_deps tests, python_deps tests, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  cpp_deps tests: any of: extern/**/*
  python_deps tests: any of: extern/**/*
  python_unit tests: (any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests: (any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  cpp_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  long tests: any of: src/cppLongTests/**/*

DeviceClient execute with args (executeN).
  src/karabind/PyCoreDeviceClient.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabo/core/DeviceClient.hh
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound_api/tests/binding/test_zcore_device_client.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

CI: move variable defs from scripts to gitlab-ci.yml
  .gitlab-ci.yml
  ci/build
  ci/prepare
  extern/build.sh
Due: deps build, cpp_deps tests, python_deps tests

fix(MDL): Align lockedBy displayedName to other apis
  src/pythonKarabo/karabo/middlelayer/device.py
Due: lint, test_docs, python_unit tests

fix(MDL): Throw on faulty pipeline connection address
  src/pythonKarabo/karabo/middlelayer/pipeline.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_pipeline_test.py
Due: lint, test_docs, python_unit tests

CI: move variable defs from scripts to gitlab-ci.yml (part 2)
  .gitlab-ci.yml
  ci/build
  extern/conanfile.txt
Due: deps build, cpp_deps tests, python_deps tests

feat(GUI): Allow bulk shutdown of servers for ADMINS
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/project/controller/project_groups.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Provide a window modal mbox and not application modal
  src/pythonGui/karabogui/dialogs/messagebox.py
  src/pythonGui/karabogui/messagebox.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DEPS: bump some dep versions
  extern/build.sh
  extern/conanfile.txt
  extern/resources/openmqc/CMakeLists.txt
  extern/resources/openmqc/conanfile.py
  extern/resources/python/conanfile.py
Due: deps build, cpp_deps tests, python_deps tests

feat(GUI): Show messagebox on error where the cursor is
  src/pythonGui/karabogui/messagebox.py
  src/pythonGui/karabogui/singletons/manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DEPS: update python conan recipe
  extern/resources/python/conanfile.py
Due: deps build, cpp_deps tests, python_deps tests

update pip/setuptools/wheel to latest that also support python 3.12
  extern/requirements-1.txt
  extern/requirements-pre.txt
Due: deps build, cpp_deps tests, python_deps tests

fix(MDL): Make the macro slot test in sync mode less flaky
  src/pythonKarabo/karabo/middlelayer/tests/macro_test.py
Due: lint, test_docs, python_unit tests

Add extern/lib64 to INTERFACE_LINK_DIRECTORIES
  src/templates/cpp/minimal/CMakeLists.txt
Due: lint, test_docs

feat(GUI): Escalation dialog
  doc/conf.py
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/escalation_dialog.ui
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Remove unneeded line in template for device CMakeLists.txt
  src/templates/cpp/minimal/src/CMakeLists.txt
Due: lint, test_docs

Start new projects with semver compliant tag
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

Revert "Merge branch 'fix-no-tag-install-fails' into 'master'"
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

do a chmod +x to the file in the bin directory of MessageQueue/mq/bin
  extern/resources/openmq/conanfile.py
Due: deps build, cpp_deps tests, python_deps tests

GUI: Fix bug with access level in Access Level login
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

peek inside cache
  .gitlab-ci.yml
  extern/conanfile.txt
Due: deps build, cpp_deps tests, python_deps tests

GUI Server: log authenticated user actions.
  doc/library/guiServer.rst
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/log/AuditFileAppender.cc
  src/karabo/log/AuditFileAppender.hh
  src/karabo/log/AuditFileFilter.cc
  src/karabo/log/AuditFileFilter.hh
  src/karabo/log/Logger.cc
  src/karabo/log/Logger.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

C++: Rework init string parsing
  src/karabo/core/Runner.cc
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/core/Runner_Test.cc
  src/karabo/tests/core/testJsonToHashParsing.cc
  src/karabo/util.hpp
  src/karabo/util/JsonToHashParser.cc
  src/karabo/util/JsonToHashParser.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Fix project destroy, removing parent of model
  src/pythonGui/karabogui/project/view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Make integers with hex displaytype use the historic text widget
  src/pythonGui/karabogui/controllers/display/historic_text.py
  src/pythonGui/karabogui/controllers/display/tests/test_historic_text.py
  src/pythonGui/karabogui/generic_scenes.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Fix string to integer conversion in StringTools.hh
  src/karabo/tests/util/StringTools_Test.cc
  src/karabo/util/StringTools.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Restart a macro on run
  src/pythonGui/karabogui/panels/macropanel.py
  src/pythonGui/karabogui/request.py
  src/pythonGui/karabogui/topology/api.py
  src/pythonGui/karabogui/topology/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Expose Logbook from Cinema and Concert
  src/pythonGui/karabogui/panels/base.py
  src/pythonGui/karabogui/panels/placeholderpanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Don't make loggerMap a requirement to fetch a configuration from past
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
Due: lint, test_docs, python_unit tests

Remove Almalinux8 from CI
  .gitlab-ci.yml
Due: none

Support init keyword on bound python device server
  src/karabind/PyUtilJsonToHashParser.cc
  src/karabind/karabind.cc
  src/karathon/PyUtilJsonToHashParser.cc
  src/karathon/karathon.cc
  src/pythonKarabo/karabo/bound_api/runner.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_json_parsing_for_init_string.py
  src/pythonKarabo/karabo/bound_api/tests/runner_test.py
  src/pythonKarabo/karabo/bound_tool.py
Due: lint, test_docs, python_unit tests

feat(GUI): Provide a filter table on double click
  src/pythonGui/karabogui/generic_scenes.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Disable pip selfcheck on installing extensions
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

doc: Document hotfixes for 2.17.X
  doc/whatsnew/2.17.rst
Due: test_docs

doc: Describe 2.19.X hotfixes
  doc/whatsnew/2.19.rst
Due: test_docs

feat(GUI): Offer a home toolbar: First feature, raise Editor or MainWindow
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/homeedit.svg
  src/pythonGui/karabogui/panels/scenepanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

PY11: Export karabind::detail::treatError_already_set function
  src/karabind/Wrapper.hh
Due: lint, test_docs, python_unit tests

fix(C++): prevent OverwriteElement from setting inconsistent boundaries
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/util/CustomNodeElement.hh
  src/karabo/util/OverwriteElement.cc
  src/karabo/util/OverwriteElement.hh
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_elements.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

C++: Add an AmqpConnection as first step of a new AMQP implementation
  src/karabo/net/AmqpClient.hh
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/tests/BrokerUtils.cc
  src/karabo/tests/BrokerUtils.hh
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(MDL): get_utc_string functionality gets exposed
  .gitlab-ci.yml
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer/tests/device_client_test.py
Due: lint, test_docs, python_unit tests

feature(C++): Expose loggermap.xml as readonly table on datalogger manager (#815)
  src/karabo/core/Device.hh
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/DataLoggerManager.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests
