Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

Bound: Update instanceInfo with log priority
  src/pythonKarabo/karabo/bound_api/device_server.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_server.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

TOOLS: pythonKarabo conditionally installs jupyter
  src/pythonKarabo/setup.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

MDL: DaemonManager uses Karabo Server Ids
  src/pythonKarabo/karabo/middlelayer_devices/daemon_manager.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

MDL: Async context disconnect
  src/pythonKarabo/karabo/middlelayer_api/device_client.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

MDL: Fix macro server test
  src/pythonKarabo/karabo/macro_devices/tests/macroserver_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

auto_build_all: clean-up the install tree skipping some directories of interest.
  auto_build_all.sh
Due: none

C++: View the log level in the instanceInfo for a device server
  src/integrationTests/Device_Test.cc
  src/integrationTests/Device_Test.hh
  src/karabo/core/DeviceServer.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

MDL: Remove deprecation warning for archivePolicy
  src/pythonKarabo/karabo/native/schema/descriptors.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

GUI: Provide Filter Table Controller
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/controllers/edit/table.py
  src/pythonGui/karabogui/controllers/table/controller.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64
