Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(C++): Remove unused stuff from karabo/io
  src/karabind/PyIoFileTools.cc
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaNodeElement.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/io.hpp
  src/karabo/io/AbstractOutput.hh
  src/karabo/io/CppInputHandler.cc
  src/karabo/io/CppInputHandler.hh
  src/karabo/io/HashInput.cc
  src/karabo/io/HashOutput.cc
  src/karabo/io/InputElement.hh
  src/karabo/io/OutputElement.hh
  src/karabo/io/OutputHandler.hh
  src/karabo/io/SchemaInput.cc
  src/karabo/io/SchemaOutput.cc
  src/pythonKarabo/karabo/bound/__init__.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Make use of event_loop_policy fixture and update pytest asyncio
  .gitlab-ci.yml
  extern/requirements-1.txt
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/integration_tests/pipeline_long_test/test_pipeline.py
  src/pythonKarabo/karabo/middlelayer/conftest.py
  src/pythonKarabo/karabo/middlelayer/testing/__init__.py
  src/pythonKarabo/karabo/middlelayer/testing/utils.py
  src/pythonKarabo/karabo/middlelayer/tests/cli_test.py
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
  src/pythonKarabo/karabo/middlelayer/tests/eventloop.py
  src/pythonKarabo/karabo/middlelayer/tests/pipeline_test.py
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Fix: Full support of the new ImageData encodings
  src/karabind/PyXmsImageDataElement.cc
  src/karabo/xms/ImageData.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix: fix conda mirror by using local conda channel as last channel in priority
  ci/miniconda/builder/build.py
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Add event_loop fixture back to MDL
  src/pythonKarabo/karabo/middlelayer/testing/__init__.py
Due: lint, test_docs, python_unit tests

fix(C++): package template makes use of DeviceClient::MakeShared
  src/templates/cpp/minimal/src/test/test__CLASS_NAME__.cc
  src/templates/cpp/minimal/src/test/testrunner.cc
Due: lint, test_docs

refactor(C++): Minor include cleaning inside util
  src/karabo/util/FromLiteral.cc
  src/karabo/util/FromLiteral.hh
  src/karabo/util/Hash.cc
  src/karabo/util/State.cc
  src/karabo/util/State.hh
  src/karabo/util/StateSignifier.cc
  src/karabo/util/TableElement.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor: MDL removes daqPolicy
  src/pythonGui/karabogui/configurator/edit_delegate.py
  src/pythonGui/karabogui/configurator/tests/test_model_view.py
  src/pythonGui/karabogui/configurator/view.py
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_test.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
  src/pythonKarabo/karabo/native/data/enums.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

fet(C++): More convenient rethrow, IOException with details
  src/karabo/tests/util/Exception_Test.cc
  src/karabo/util/Exception.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor: Remove stray remnants of references to karathon
  src/karabind/PyUtilSchema.cc
  src/karabind/karabind_test.cc
  src/karabo/net/EventLoop.cc
  src/pythonKarabo/.isort.cfg
  src/pythonKarabo/karabo/bound/tests/binding/test_hash_attributes_node.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(C++): Refuse too big messages sent to AMQP broker
  src/karabo/net/AmqpClient.cc
  src/karabo/net/AmqpClient.hh
  src/karabo/net/AmqpConnection.cc
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(C++): Add device version to log file
  src/karabo/core/Device.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(C++): Mention slot caller in log if slot call failed
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

InfluxLogReader goes to error when Influx not available
  src/integrationTests/DataLogging_Test.cc
  src/karabo/devices/InfluxLogReader.cc
  src/karabo/devices/InfluxLogReader.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Avoid a copy of 2 * 8 bytes of Epochstamp
  src/karabo/util/TimeDuration.hh
  src/karabo/util/Timestamp.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

doc: Update readme file for template for MDL and Bound devices
  src/templates/middlelayer/minimal/README.md
  src/templates/python/minimal/README.md
Due: lint, test_docs

feat(GUI): Prevent saving project to Karabo2
  src/pythonGui/karabogui/project/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Provide custom overwrite possibilties
  src/pythonKarabo/karabo/native/schema/configurable.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Align access level of logger node
  src/pythonKarabo/karabo/middlelayer/logger.py
Due: lint, test_docs, python_unit tests

feat(GUI): Provide offline information for Alarm Widget. Remove multiple proxies
  src/pythonGui/karabogui/controllers/display/alarm.py
  src/pythonGui/karabogui/controllers/display/tests/test_alarm.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Configuration Panel has Normal and Expert mode
  src/pythonGui/karabogui/configurator/qt_item_model.py
  src/pythonGui/karabogui/configurator/slot_delegate.py
  src/pythonGui/karabogui/configurator/tests/test_utils.py
  src/pythonGui/karabogui/configurator/utils.py
  src/pythonGui/karabogui/configurator/view.py
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/panels/switch.py
  src/pythonGui/karabogui/panels/tests/test_configurationpanel.py
  src/pythonGui/karabogui/panels/tests/test_switch.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove the printer option from the base panel
  src/pythonGui/karabogui/panels/base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): We can compare device configurations with clone devices, add test
  src/pythonGui/karabogui/dialogs/compare_device_configurations.py
  src/pythonGui/karabogui/dialogs/tests/test_compare_device_configuration_dialog.py
  src/pythonGui/karabogui/dialogs/ui/compare_configuration_launcher.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Allow to arrange servers in the project
  src/pythonGui/karabogui/project/controller/project_groups.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Maintain property selection on mode swap
  src/pythonGui/karabogui/configurator/qt_item_model.py
  src/pythonGui/karabogui/configurator/view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Conveniently add a device server to a project
  src/pythonGui/karabogui/project/controller/project_groups.py
  src/pythonGui/karabogui/project/controller/server.py
  src/pythonGui/karabogui/project/dialog/server_handle.py
  src/pythonGui/karabogui/project/dialog/tests/test_server_handle.py
  src/pythonGui/karabogui/project/dialog/ui/server_handle.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Show access level tooltip in new Configurator
  src/pythonGui/karabogui/configurator/qt_item_model.py
  src/pythonGui/karabogui/configurator/tests/test_model_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Implement a connector class for a connection singleton
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/eventloop.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove ChoiceOfNodes and ListOfNodes
  src/pythonGui/karabogui/testing/__init__.py
  src/pythonGui/karabogui/testing/schema.py
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/native/schema/configurable.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove remnant of LoN and CoN handling of bindings
  src/pythonGui/karabogui/binding/builder.py
  src/pythonGui/karabogui/binding/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Allow up to 10 hours for maxTemporarySessionTime.
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Remove custom PlotItem
  src/pythonGui/karabogui/graph/plots/base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Hide the legend in the plot
  src/pythonGui/karabogui/graph/plots/base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Slot decorate the method
  src/pythonGui/karabogui/graph/plots/base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): Useful new functionality for Hash
  src/karabo/tests/util/Hash_Test.cc
  src/karabo/util/Hash.cc
  src/karabo/util/Hash.hh
  src/karabo/util/OrderedMap.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): start QApplication before the test
  src/pythonGui/karabogui/sceneview/tools/tests/test_clipboard.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): Option to not catch exceptions in event loop
  src/karabo/net/EventLoop.cc
  src/karabo/net/EventLoop.hh
  src/karabo/tests/net/EventLoop_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

Replace boost::regex by std::regex
  src/karabo/core/Device.hh
  src/karabo/core/DeviceServer.cc
  src/karabo/devices/FileLogReader.cc
  src/karabo/devices/FileLogReader.hh
  src/karabo/net/utils.cc
  src/karabo/tests/util/DataLogUtils_Test.cc
  src/karabo/tests/util/DataLogUtils_Test.hh
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/util/ClassInfo.cc
  src/karabo/util/DataLogUtils.hh
  src/karabo/util/DateTimeString.cc
  src/karabo/util/DateTimeString.hh
  src/karabo/util/Version.cc
  src/karabo/xms/SignalSlotable.cc
  src/tools/dataLoggerIndex/idxBuild.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

CI: Use recent containers
  .gitlab-ci.yml
Due: none
