Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build almalinux8, deps build almalinux9, deps build centos7, deps build debian10, deps build ubuntu20, deps build ubuntu22, cpp_deps tests almalinux8, cpp_deps tests almalinux9, cpp_deps tests centos7, cpp_deps tests debian10, cpp_deps tests ubuntu20, cpp_deps tests ubuntu22, python_deps tests almalinux8, python_deps tests almalinux9, python_deps tests centos7, python_deps tests debian10, python_deps tests ubuntu20, python_deps tests ubuntu22, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests almalinux9, python_integration tests centos7, python_integration tests debian10, python_integration tests ubuntu20, python_integration tests ubuntu22, cpp_integration tests almalinux8, cpp_integration tests almalinux9, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu22, long tests almalinux8, long tests almalinux9, long tests centos7, long tests debian10, long tests ubuntu20, long tests ubuntu22

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build almalinux8: any of: extern/**/*
  deps build almalinux9: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build debian10: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu22: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests almalinux9: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests debian10: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  cpp_deps tests ubuntu22: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests almalinux9: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests debian10: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_deps tests ubuntu22: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests almalinux9: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests debian10: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu22: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux9: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests debian10: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu22: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests almalinux9: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests debian10: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu22: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux9: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu22: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests almalinux9: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests debian10: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu22: any of: src/cppLongTests/**/*

Remove unused handlre copy from AmqpBroker
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpBroker.hh
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

Corner case of reply arrival directly after timeout
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

MDL: increase timeout in ipython_test
  src/pythonKarabo/karabo/macro_devices/tests/ipython_test.py
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22

MDL: Make project manager test more robust
  src/pythonKarabo/karabo/middlelayer_devices/tests/projectdb_util.py
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, python_integration tests almalinux8, python_integration tests almalinux9, python_integration tests centos7, python_integration tests debian10, python_integration tests ubuntu20, python_integration tests ubuntu22, cpp_integration tests almalinux8, cpp_integration tests almalinux9, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu22

DEPS: Upgrade pillow to 10.0 and pip to 22.3.1
  extern/requirements-1.txt
Due: deps build almalinux8, deps build almalinux9, deps build centos7, deps build debian10, deps build ubuntu20, deps build ubuntu22, cpp_deps tests almalinux8, cpp_deps tests almalinux9, cpp_deps tests centos7, cpp_deps tests debian10, cpp_deps tests ubuntu20, cpp_deps tests ubuntu22, python_deps tests almalinux8, python_deps tests almalinux9, python_deps tests centos7, python_deps tests debian10, python_deps tests ubuntu20, python_deps tests ubuntu22

GUI: Remove comparison warning for base label with higher numpy version
  src/pythonGui/karabogui/controllers/baselabel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Validate the order of the alarm conditions
  src/pythonGui/karabogui/dialogs/alarm_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_alarm_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Fix simple validator from corner case input 000X
  src/pythonGui/karabogui/binding/tests/test_validate.py
  src/pythonGui/karabogui/binding/validate.py
  src/pythonGui/karabogui/controllers/tests/test_validators.py
  src/pythonGui/karabogui/controllers/validators.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

replace setup.py with pyproject.toml in MDL template
  src/templates/middlelayer/minimal/pyproject.toml
  src/templates/middlelayer/minimal/setup.py
Due: lint, test_docs
