Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

Native: Prepare pint upgrade
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/compat.py
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
  src/pythonKarabo/karabo/native/schema/tests/compat.py
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

CI: run python tests on configured brokers
  run_python_tests.sh
Due: none

Deps MR: Update pin
  extern/resources/pint/Pint-0.7.1.tar
  extern/resources/pint/build.config
  extern/resources/pint/pint-0.17.tar
Due: deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18

COde quality
  extern/resources/pint/build.config
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
Due: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Add mean to exception
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Check pint version
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Skip as a whole
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Sign works now
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Increase gui version as well
  conda-recipes/karabogui/environment.devenv.yml
Due: unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Imports
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64
