Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre-commit-check, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

pre-commit-check:
  stage: lint
  image: python:3.12
  tags:
  - KaraboFramework
  before_script:
  - find /cache || true
  script:
  - pip install pre-commit
  - pre-commit run --all-files
  cache:
  - .build_cache
  - cache_rw
  allow_failure: false

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - apt-get update || true
  - apt-get install -y -qq --no-install-recommends cmake || true
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniforge-3-002
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /TOTAL.+?([\d\.]+\%)/
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /TOTAL.+?([\d\.]+\%)/
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

fix(GUI): Make the TextEdit read only
  src/pythonGui/karabogui/controllers/display/historic_text.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Remove the LD_LIBARARY_PATH
  src/pythonGui/karabogui/util.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Remove the LD_LIBARARY_PATH (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/util.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): ImageNode - interface to define the supported encodings by controllers
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/controllers/display/detector_graph.py
  src/pythonGui/karabogui/controllers/display/image_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_detector_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_image_graph.py
  src/pythonGui/karabogui/controllers/display/webcam_graph.py
  src/pythonGui/karabogui/graph/image/api.py
  src/pythonGui/karabogui/graph/image/enums.py
  src/pythonGui/karabogui/graph/image/image_node.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Fix order of axes
  src/pythonGui/karabogui/controllers/display/detector_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_detector_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_image_graph.py
  src/pythonGui/karabogui/graph/common/api.py
  src/pythonGui/karabogui/graph/common/enums.py
  src/pythonGui/karabogui/graph/image/image_node.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: add user to the bound servers
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_server.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

refactor(CI): Update the conda packages for GUI CI
  ci/miniforge/builder/build.py
  ci/miniforge/builder/mirrors.py
Due: none

feat: add a GuiServerDevice property
  src/karabo/devices/GuiServerDevice.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(MDL): Variable dimension shape validation
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/ndarray.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
  src/pythonKarabo/karabo/native/schema/tests/utils_test.py
  src/pythonKarabo/karabo/native/schema/utils.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove tablebinding
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/binding_types.py
  src/pythonGui/karabogui/binding/builder.py
  src/pythonGui/karabogui/sceneview/tests/test_view.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix for conan not found on ubuntu24 CI runner
  .gitlab-ci.yml
Due: none

fix(GUI): Fix scene view test segfault
  src/pythonGui/karabogui/sceneview/tools/tests/test_actions.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

ci(GUI):Use the latest miniforge image
  .gitlab-ci.yml
Due: none

fix(GUI): Enable tests on Mac
  src/pythonGui/karabogui/sceneview/tools/tests/test_actions.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Add ImageData shape validation
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add reference to the binding code in libkarabind.so library
  src/karabind/karabind.cc
  src/karabind/karabind.hh
Due: pre-commit-check, python_unit tests

fix(GUI): Server Log dialog- store timestamp with millisecond.
  src/pythonGui/karabogui/widgets/log.py
  src/pythonGui/karabogui/widgets/tests/test_log.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Add missing fixture to test.
  src/pythonGui/karabogui/controllers/display/tests/test_command.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): scintilla tests segfaults with multiple worker.
  src/pythonGui/karabogui/widgets/tests/test_scintilla_editor.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Better tooltip of expert/normal slider in config editor
  src/pythonGui/karabogui/panels/configurationpanel.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Remove the unnecessary space around question mark
  src/pythonGui/karabogui/dialogs/init_configuration.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fixes for reported vulnerabilities
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/net/UserAuthClient.cc
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server_auth.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Login Dialog- copy authentication URL
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
  src/pythonGui/karabogui/dialogs/ui/user_session_dialog.ui
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Login Dialog- copy authentication URL (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
  src/pythonGui/karabogui/dialogs/ui/user_session_dialog.ui
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(ci): Better way to check if conda environment exists
  ci/miniforge/builder/utils.py
Due: none

feat: web aggregator to keep track of disappearing servers
  src/pythonKarabo/karabo/interactive/webaggregatorserver.py
  src/pythonKarabo/karabo/middlelayer_devices/daemon_manager.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

fix: Allow configuring C++/Bound OutputChannel to use loopback interface (as MDL)
  src/karabo/tests/xms/testInputOutputChannel.cc
  src/karabo/xms/OutputChannel.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

refactor(CI): Dependencies from devenv yaml file
  conda-recipes/karabogui/environment.devenv.yml
  conda-recipes/karabogui/meta_base.yaml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Correct path to the conda envs directory
  ci/miniforge/builder/utils.py
Due: none

feat(ci): Enable running conda tasks locally
  ci/miniforge/builder/build.py
Due: none

fix(CI): Check environment exists
  ci/miniforge/builder/build.py
  ci/miniforge/builder/utils.py
Due: none

refator(CI): Update the conda packages to the latest
  ci/miniforge/builder/build.py
  ci/miniforge/builder/mirrors.py
Due: none

Set Framework tag as CI variable on guiextensions
  .gitlab-ci.yml
  ci/miniforge/builder/build.py
Due: none

fix(GUI): Update the tag on guiextension before test.
  ci/miniforge/builder/build.py
Due: none

refactor(GUI): Avoid inplace replacement of ndarry.shape
  src/pythonGui/karabogui/controllers/arrays.py
  src/pythonKarabo/karabo/native/data/utils.py
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/ndarray.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): the python segfault by test on Mac
  src/pythonGui/karabogui/sceneview/tools/tests/test_actions.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps(GUI): Update dependencies
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps(GUI): Update 'traits' dependency
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Also updates injected in preReconfigure need validation (and timestamp)
  src/integrationTests/testDevice.cc
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Clean up cppunit remnants
  auto_build_all.sh
  doc/library/testing.rst
  extern/conanfile.txt
  extern/conanprofile.karabo
  src/CMakeLists.txt
  src/karabo/tests/data/types/testHash.cc
Due: pre-commit-check, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Path conditions:
  pre-commit-check: any of: src/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
