Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre-commit-check, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  pre-commit-check: any of: src/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

fix(MDL): Always reply to slotDiscover even when not broadcast
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/integration_tests/mdl_client_test/remote_client_test.py
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/eventloop.py
  src/pythonKarabo/karabo/middlelayer/metamacro.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Check if the name exists in project before server edit
  src/pythonGui/karabogui/project/controller/server.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Fix ordering of instanceGone when ctrl+k on command line with server
  src/pythonKarabo/karabo/middlelayer/device_server.py
Due: pre-commit-check, python_unit tests

fix(doc): Properly escape stars in .rst
  doc/tools/vscode.rst
Due: none

fix(MDL): Always reply to slotDiscover even when not broadcast (Cherry-pick hotfix 3.X)
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/integration_tests/mdl_client_test/remote_client_test.py
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/eventloop.py
  src/pythonKarabo/karabo/middlelayer/metamacro.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

feat: more descriptive error message on bad chars in schema element
  src/karabo/data/schema/BaseElement.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_nodeelement.py
Due: pre-commit-check, python_unit tests, cpp_unit tests

fix(C++): "status" property update triggered sending of full config to gui clients
  src/karabo/core/DeviceClient.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/core/DeviceClient_Test.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): "status" property update triggered sending of full config to gui clients (Backport 3.0.X)
  src/karabo/core/DeviceClient.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/core/DeviceClient_Test.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

DOC: Update doc about development gui after gui switched to toml file
  doc/installation/gui.rst
Due: none

fix(C++ tests): Systematic sleep before eventloop stop to avoid that thread joining hangs (Backport 3.0.X)
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/Device_Test.cc
  src/integrationTests/PipelinedProcessing_Test.cc
  src/integrationTests/PropertyTest_Test.cc
  src/integrationTests/SceneProvider_Test.cc
  src/integrationTests/Timing_Test.cc
Due: pre-commit-check, python_integration tests, cpp_integration tests

FIX RPATH set command in C++ template
  src/templates/cpp/minimal/.install.sh
Due: pre-commit-check

fix(Bound): Bindings for registerDeviceForMonitoring
  src/karabind/PyCoreDeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Differentiate the gui from bundle or source
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/util.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps: Update conan to latest version
  .gitlab-ci.yml
  extern/requirements-pre.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

deps: Update conan to latest version (Cherry-pick hotfix)
  .gitlab-ci.yml
  extern/requirements-pre.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Increase default hight of the plots
  src/pythonGui/karabogui/graph/common/const.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(Bound): Bindings for registerDeviceForMonitoring (Cherry-pick hotfix 3.0.X)
  src/karabind/PyCoreDeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Check if the name exists in project before server edit (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/project/controller/server.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Install GUIExtension using the correct system executable
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI):Login information - Show the remaining time as integer
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Install GUIExtension using the correct system executable (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Increase default hight of the plots(Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/graph/common/const.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI):Login information - Show the remaining time as integer (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Allow to register scene handler on run time
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/sceneview/tools/api.py
  src/pythonGui/karabogui/sceneview/view.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Allow to register scene handler on run time (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/sceneview/tools/api.py
  src/pythonGui/karabogui/sceneview/view.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

doc: Update merge log for karabo 3
  doc/whatsnew/3.0.rst
Due: none

Migrate Framework CPPUNIT tests to GTest. Part1
  src/karabo/CMakeLists.txt
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/data/types/AlarmCondition_Test.hh
  src/karabo/tests/data/types/ByteSwap_Test.hh
  src/karabo/tests/data/types/ClassInfo_Test.hh
  src/karabo/tests/data/types/Dims_Test.hh
  src/karabo/tests/data/types/Exception_Test.hh
  src/karabo/tests/data/types/HashFilter_Test.hh
  src/karabo/tests/data/types/Hash_Test.hh
  src/karabo/tests/data/types/NDArray_Test.cc
  src/karabo/tests/data/types/NDArray_Test.hh
  src/karabo/tests/data/types/Serializable_Test.h
  src/karabo/tests/data/types/States_Test.cc
  src/karabo/tests/data/types/States_Test.hh
  src/karabo/tests/data/types/StringTools_Test.cc
  src/karabo/tests/data/types/StringTools_Test.hh
  src/karabo/tests/data/types/Types_Test.cc
  src/karabo/tests/data/types/Types_Test.hh
  src/karabo/tests/data/types/testAlarmCondition.cc
  src/karabo/tests/data/types/testBase64.cc
  src/karabo/tests/data/types/testByteSwap.cc
  src/karabo/tests/data/types/testClassInfo.cc
  src/karabo/tests/data/types/testDims.cc
  src/karabo/tests/data/types/testException.cc
  src/karabo/tests/data/types/testHash.cc
  src/karabo/tests/data/types/testHashFilter.cc
  src/karabo/tests/data/types/testNDArray.cc
  src/karabo/tests/data/types/testSerializable.cc
  src/karabo/tests/data/types/testStates.cc
  src/karabo/tests/data/types/testStringTools.cc
  src/karabo/tests/data/types/testTypes.cc
  src/karabo/tests/gtestRunnerNoLoop.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

Migrate framework to googletest: tests from tests/data/time/*. Part 2.
  src/karabo/CMakeLists.txt
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/data/time/DateTimeString_Test.cc
  src/karabo/tests/data/time/DateTimeString_Test.hh
  src/karabo/tests/data/time/Epochstamp_Test.hh
  src/karabo/tests/data/time/TimeClasses_Test.hh
  src/karabo/tests/data/time/testDateTimeString.cc
  src/karabo/tests/data/time/testEpochstamp.cc
  src/karabo/tests/data/time/testTimeClasses.cc
  src/karabo/tests/data/types/AlarmCondition_Test.hh
  src/karabo/tests/data/types/ByteSwap_Test.hh
  src/karabo/tests/data/types/ClassInfo_Test.hh
  src/karabo/tests/data/types/Dims_Test.hh
  src/karabo/tests/data/types/Exception_Test.hh
  src/karabo/tests/data/types/HashFilter_Test.hh
  src/karabo/tests/data/types/Hash_Test.hh
  src/karabo/tests/data/types/NDArray_Test.cc
  src/karabo/tests/data/types/NDArray_Test.hh
  src/karabo/tests/data/types/Serializable_Test.h
  src/karabo/tests/data/types/States_Test.cc
  src/karabo/tests/data/types/States_Test.hh
  src/karabo/tests/data/types/StringTools_Test.cc
  src/karabo/tests/data/types/StringTools_Test.hh
  src/karabo/tests/data/types/Types_Test.cc
  src/karabo/tests/data/types/Types_Test.hh
  src/karabo/tests/data/types/testAlarmCondition.cc
  src/karabo/tests/data/types/testBase64.cc
  src/karabo/tests/data/types/testByteSwap.cc
  src/karabo/tests/data/types/testClassInfo.cc
  src/karabo/tests/data/types/testDims.cc
  src/karabo/tests/data/types/testException.cc
  src/karabo/tests/data/types/testHash.cc
  src/karabo/tests/data/types/testHashFilter.cc
  src/karabo/tests/data/types/testNDArray.cc
  src/karabo/tests/data/types/testSerializable.cc
  src/karabo/tests/data/types/testStates.cc
  src/karabo/tests/data/types/testStringTools.cc
  src/karabo/tests/data/types/testTypes.cc
  src/karabo/tests/gtestRunnerNoLoop.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

doc(GUI): Update GUI installation doc
  doc/installation/gui.rst
Due: none

Run CI on Windows11
  .gitlab-ci.yml
Due: none

feat(GUI): Show the GuiExtensions version in the About dialog
  src/pythonGui/karabogui/dialogs/about.py
  src/pythonGui/karabogui/dialogs/ui/about.ui
  src/pythonGui/karabogui/dialogs/update_dialog.py
  src/pythonGui/karabogui/dialogs/utils.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Migrate framework to googletest: karabo/tests/net. Part 7
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/net/Amqp_Test.hh
  src/karabo/tests/net/Broker_Test.hh
  src/karabo/tests/net/EventLoop_Test.hh
  src/karabo/tests/net/HttpClient_Test.hh
  src/karabo/tests/net/InfluxDbClient_Test.hh
  src/karabo/tests/net/MQTcpNetworking.hh
  src/karabo/tests/net/NetworkInterface_Test.cc
  src/karabo/tests/net/NetworkInterface_Test.hh
  src/karabo/tests/net/ParseUrl_Test.cc
  src/karabo/tests/net/ParseUrl_Test.hh
  src/karabo/tests/net/ReadAsyncStringUntil_Test.hh
  src/karabo/tests/net/Strand_Test.hh
  src/karabo/tests/net/TcpNetworking_Test.hh
  src/karabo/tests/net/testAmqp.cc
  src/karabo/tests/net/testBroker.cc
  src/karabo/tests/net/testEventLoop.cc
  src/karabo/tests/net/testHttpClient.cc
  src/karabo/tests/net/testInfluxDbClient.cc
  src/karabo/tests/net/testMQTcpNetworking.cc
  src/karabo/tests/net/testNetworkInterface.cc
  src/karabo/tests/net/testParseUrl.cc
  src/karabo/tests/net/testReadAsyncStringUntil.cc
  src/karabo/tests/net/testStrand.cc
  src/karabo/tests/net/testTcpNetworking.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

Migrate framework to googletest: karabo/tests/util. Part 8.
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/util/DataLogUtils_Test.hh
  src/karabo/tests/util/MetaTools_Test.cc
  src/karabo/tests/util/Version_Test.hh
  src/karabo/tests/util/testDataLogUtils.cc
  src/karabo/tests/util/testMetaTools.cc
  src/karabo/tests/util/testVersion.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

feat(GUI): Version info on 'Check for updates' from bundled GUI.
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Differentiate the gui from bundle or source (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/util.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Migrate framework to googletest: karabo/tests/xms. Part 9.
  .gitignore
  auto_build_all.sh
  ci/utils/README
  ci/utils/cppunitxmlparser/.gitignore
  ci/utils/cppunitxmlparser/LICENSE
  ci/utils/cppunitxmlparser/README.md
  ci/utils/cppunitxmlparser/cppunitxmlparser/__init__.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/merge_check.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/merge_cppunitxml.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/merge_junit.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/__init__.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/coreTest.xml
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/ioTest.xml
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/junit.xml
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/logTest.xml
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/netTest.xml
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/test.py
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/utilTest.xml
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/xmsTest.xml
  ci/utils/cppunitxmlparser/setup.py
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/gtestRunnerNoLoop.cc
  src/karabo/tests/testRunner.cc
  src/karabo/tests/testRunner.hh
  src/karabo/tests/testRunnerNoLoop.cc
  src/karabo/tests/xms/ImageData_Test.cc
  src/karabo/tests/xms/ImageData_Test.hh
  src/karabo/tests/xms/InputOutputChannel_Test.hh
  src/karabo/tests/xms/Memory_Test.hh
  src/karabo/tests/xms/SignalSlotable_Test.hh
  src/karabo/tests/xms/Signal_Test.hh
  src/karabo/tests/xms/Slot_Test.hh
  src/karabo/tests/xms/testImageData.cc
  src/karabo/tests/xms/testInputOutputChannel.cc
  src/karabo/tests/xms/testMemory.cc
  src/karabo/tests/xms/testSignal.cc
  src/karabo/tests/xms/testSignalSlotable.cc
  src/karabo/tests/xms/testSlot.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests
