Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(FW): Remove interval arg from heartbeats
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Allow to relogin from client side
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/temp_session_dialog.ui
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Forward information from clients about their actions
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/programs/base.py
  src/pythonGui/karabogui/project/utils.py
  src/pythonGui/karabogui/request.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
  src/pythonGui/karabogui/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): Remove "visibility" from instanceInfo (also "visibilities" for server)
  doc/library/concept_data_logging.rst
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/core/DeviceServer.hh
  src/karabo/data/types/Schema.cc
  src/karabo/devices/DataLogReader.cc
  src/karabo/devices/DataLogger.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/core/InstanceChangeThrottler_Test.cc
  src/karabo/tests/core/Runner_Test.cc
  src/pythonGui/karabogui/dialogs/tests/test_compare_device_configuration_dialog.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

feat(ProjectDB): Provide local project database
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/project_db/__init__.py
  src/pythonKarabo/karabo/project_db/database/__init__.py
  src/pythonKarabo/karabo/project_db/database/db_engine.py
  src/pythonKarabo/karabo/project_db/database/db_reader.py
  src/pythonKarabo/karabo/project_db/database/db_writer.py
  src/pythonKarabo/karabo/project_db/database/models.py
  src/pythonKarabo/karabo/project_db/database/models_xml.py
  src/pythonKarabo/karabo/project_db/database/node.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/__init__.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/service.in/default/karabo_projectDBServer/run
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): PropertyTestMDL becomes PropertyTest
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_client.py
  src/pythonKarabo/karabo/integration_tests/pipeline_cross_test/test_multi_api_pipes.py
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
  src/pythonKarabo/karabo/middlelayer_devices/property_test.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_propertymdl.py
  src/pythonKarabo/karabo/project_db/testing/util.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Update file .readthedocs.yaml for external readthedocs
  .readthedocs.yaml
Due: none

Correct typo in path in .readthedocs.yml
  .readthedocs.yaml
Due: none

And one more path typo in .readthedocs.yml
  .readthedocs.yaml
Due: none

Push not only main, but also hot fix branches to GItHub
  .gitlab-ci.yml
Due: none

Fix syntax in CI on multiline python exec command
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml for mirroring
  .gitlab-ci.yml
Due: none

refactor(GUI): Remove logging into project dbserver
  src/pythonGui/karabogui/singletons/db_connection.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_db_connection.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Revert changes for now
  .gitlab-ci.yml
Due: none

refactor(ProjectDB): No need to login for user session anymore
  .gitlab-ci.yml
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Remove KaraboDaemonManager synchronization
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/panels/navigationpanel.py
  src/pythonGui/karabogui/singletons/manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove project search device button synchronization
  src/pythonGui/karabogui/panels/projectpanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add init_only parameter 'removeOrphans' to 'SQLDatabase'
  src/pythonKarabo/karabo/project_db/database/db_writer.py
  src/pythonKarabo/karabo/project_db/database/node.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

Remove log4cpp remnants from the source tree
  extern/build.sh
  extern/resources/log4cpp/conanfile.py
  extern/resources/log4cpp/replace_namespace.sh
  src/CMakeLists.txt
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(Bound/MDL): Rename signalslotable property
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/boundDevice.py
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/stuckLoggerDevice.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/ppsender.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/bound_ordertest_device.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/mdl_ordertest_device.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/devicenode.py
  src/pythonKarabo/karabo/middlelayer/eventloop.py
  src/pythonKarabo/karabo/middlelayer/heartbeat_mixin.py
  src/pythonKarabo/karabo/middlelayer/macro.py
  src/pythonKarabo/karabo/middlelayer/output.py
  src/pythonKarabo/karabo/middlelayer/proxy.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
  src/pythonKarabo/karabo/middlelayer/tests/device_test.py
  src/pythonKarabo/karabo/middlelayer/tests/eventloop.py
  src/pythonKarabo/karabo/middlelayer/tests/heartbeat_mixin_test.py
  src/pythonKarabo/karabo/middlelayer/utils.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
  src/pythonKarabo/karabo/project_db/database/db_engine.py
  src/pythonKarabo/karabo/project_db/database/db_reader.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

Upgrade amqp-cpp from 4.3.16 to 4.3.26
  extern/conanfile.txt
  extern/conanprofile.karabo
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(Bound): Bail out if schema assembly fails
  src/pythonKarabo/karabo/bound/configurator.py
Due: lint, test_docs, python_unit tests

feat(MDL): Provide public signal slotable property
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/stuckLoggerDevice.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/ppsender.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/bound_ordertest_device.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/mdl_ordertest_device.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(C++): Mention sender for failing slot call
  src/karabo/xms/Slot.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(Bound): Return reference to HashAttributes while looping via 'iterall'
  src/karabind/PyUtilHash.cc
  src/karabind/PyUtilHashNode.cc
  src/karabind/Wrapper.cc
  src/karabind/Wrapper.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
Due: lint, test_docs, python_unit tests

fix(ProjectDB): Trash and untrash projects properly
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove complex properties, serialization, ALL
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/binding_types.py
  src/pythonGui/karabogui/binding/builder.py
  src/pythonGui/karabogui/binding/tests/test_config.py
  src/pythonGui/karabogui/binding/tests/test_types.py
  src/pythonGui/karabogui/binding/tests/test_validate.py
  src/pythonGui/karabogui/binding/util.py
  src/pythonGui/karabogui/binding/validate.py
  src/pythonGui/karabogui/controllers/display/eval.py
  src/pythonGui/karabogui/controllers/display/label.py
  src/pythonGui/karabogui/controllers/validators.py
  src/pythonGui/karabogui/panels/tests/test_configurationpanel.py
  src/pythonGui/karabogui/testing/schema.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/native/data/bin_reader.py
  src/pythonKarabo/karabo/native/data/bin_writer.py
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/data/str_converter.py
  src/pythonKarabo/karabo/native/data/tests/test_hash.py
  src/pythonKarabo/karabo/native/data/tests/test_serializers.py
  src/pythonKarabo/karabo/native/data/typenums.py
  src/pythonKarabo/karabo/native/data/utils.py
  src/pythonKarabo/karabo/native/data/xml_reader.py
  src/pythonKarabo/karabo/native/data/xml_writer.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
  src/pythonKarabo/karabo/tests/pyhash_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

feat(GUI): Provide visibility of end of session and only allow new session
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/lock_switch_critical.svg
  src/pythonGui/karabogui/indicators.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/programs/tests/test_theatre.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI session expiration
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/GuiServer_Test.hh
  src/integrationTests/TcpAdapter.cc
  src/karabo/devices/GuiServerAuthSessionManager.cc
  src/karabo/devices/GuiServerAuthSessionManager.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/devices/GuiServerTemporarySessionManager.cc
  src/karabo/devices/GuiServerTemporarySessionManager.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): UserSessionDialog closes on out of session notice and logout....
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/indicators.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Drop MDL support for Complex Descriptors and remove ufunc tests
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/cast_test.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Significantly decrease queue size on broker clients
  src/karabo/net/AmqpBroker.cc
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

Removal of unused parameter from Logger::useAuditFile
  src/karabo/log/Logger.cc
  src/karabo/log/Logger.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(Bound): Add 'HashAttributes'to assign/overwrite attributes API in new syntax
  src/karabind/PyUtilHash.cc
  src/karabind/PyUtilHashAttributes.cc
  src/karabind/Wrapper.cc
  src/karabind/Wrapper.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
Due: lint, test_docs, python_unit tests

feat(GUI): Enable to change classId of project device
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/project/dialog/device_handle.py
  src/pythonGui/karabogui/project/dialog/ui/device_handle.ui
  src/pythonGui/karabogui/topology/project_device.py
  src/pythonKarabo/karabo/common/project/device.py
  src/pythonKarabo/karabo/common/project/tests/test_server.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(Bound): ServerContext has verbose option
  src/pythonKarabo/karabo/bound/testing/server_context.py
Due: lint, test_docs, python_unit tests

refactor(Bound): Remove run a single server function
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/server_entry_point.py
Due: lint, test_docs, python_unit tests

refactor(Bound): Remove unused device runner
  src/pythonKarabo/karabo/bound/device_runner.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Simplify project db manager protocol
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests
