Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

feat(Bound): LastCommand for slotReconfigure
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(C++): Add lastCommand setting for slotReconfigure
  src/integrationTests/Device_Test.cc
  src/karabo/core/Device.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(C++): Add user to server instance info
  src/integrationTests/Device_Test.cc
  src/karabo/core/DeviceServer.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(MDL): Provide user for device server in MDL
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
Due: lint, test_docs, python_unit tests

feat(C++/Bound): Extend supported encoding graphic formats
  src/karabind/PyXmsImageDataElement.cc
  src/karabo/xms/ImageData.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

DOC: Improve documentation of OutputCHannel::asyncUpdateNoWait
  src/karabo/xms/OutputChannel.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

Remove citation to inexistent method DeviceClient::connectDevicesMonitor
  src/karabo/core/DeviceClient.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI)!: UnknownWidgetDataModel support for reading/writing sub-elements
  src/pythonKarabo/karabo/common/scenemodel/model.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_unknown_widget_model.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI):Write arrow model traits to the group element
  src/pythonKarabo/karabo/common/scenemodel/shapes.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Provide caller in slotReconfigure
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/tests/device_test.py
Due: lint, test_docs, python_unit tests

fix(GUI): Disable Apply/Decline All from the scene for Observer
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Test build in gitlab pages
  .gitlab-ci.yml
  doc/concepts/general_concepts.rst
  doc/conf.py
  doc/library/concept_data_logging.rst
  doc/requirements.txt
  doc/whatsnew/2.2.rst
Due: test_docs

CI: Clean-up gitlab CI from docs build left-over
  .gitlab-ci.yml
Due: none

refactor(GUI): Use gitlab pages as documentation link
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(deps): Update lxml for the gui installations
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

doc: upgrade sphinx and its dependencies
  .readthedocs.yaml
  doc/conf.py
  doc/legacy_requirements.txt
  doc/library/serviceDevices.rst
  doc/requirements.txt
  src/karabo/xms/OutputChannel.hh
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

deps: Revert lxml update, as conda mirror has conflicting dependencies
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat: Update numpy on GUI
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Daily logging rotation to audit user actions.
  src/karabo/log/Logger.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(DEPS): Another try for lxml update
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(CI): Continue in case of json errors if they is no packages
  ci/miniconda/builder/mirrors.py
Due: none

feat: debug ci path for conda
  ci/miniconda/builder/build.py
Due: none

feat: Update matplotlib
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(DEPS): Provide missing dependency on conda mirror
  conda-recipes/karabogui/environment.devenv.yml
  conda-recipes/karabogui/meta_base.yaml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Fix the karabo list command
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Align tests to update pytest dependency chain
  src/pythonKarabo/karabo/macro_devices/__init__.py
  src/pythonKarabo/karabo/macro_devices/tests/__init__.py
  src/pythonKarabo/karabo/middlelayer/macro_server.py
  src/pythonKarabo/karabo/middlelayer/metamacro.py
  src/pythonKarabo/karabo/middlelayer/tests/device_client_test.py
  src/pythonKarabo/karabo/middlelayer/tests/macro_test.py
  src/pythonKarabo/karabo/middlelayer/tests/macroserver_test.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Only the macro server requires KaraboStream
  src/pythonKarabo/karabo/macro_devices/macro_server.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/output.py
  src/pythonKarabo/karabo/middlelayer/tests/macro_test.py
Due: lint, test_docs, python_unit tests

Framework boost any to std any
  src/karabind/HandlerWrap.cc
  src/karabind/HandlerWrap.hh
  src/karabind/PyCoreDeviceClient.cc
  src/karabind/PyUtilHash.cc
  src/karabind/PyUtilHashAttributes.cc
  src/karabind/PyUtilHashNode.cc
  src/karabind/PyUtilSchemaChoiceElement.cc
  src/karabind/PyUtilSchemaListElement.cc
  src/karabind/PyUtilSchemaNodeElement.cc
  src/karabind/PyUtilSchemaOverwriteElement.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabind/Wrapper.cc
  src/karabind/Wrapper.hh
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/karabo/devices/PropertyTest.cc
  src/karabo/io/AbstractInput.hh
  src/karabo/io/AbstractOutput.hh
  src/karabo/io/CppInputHandler.hh
  src/karabo/io/HashBinarySerializer.cc
  src/karabo/io/HashBinarySerializer.hh
  src/karabo/io/InputHandler.hh
  src/karabo/io/OutputHandler.hh
  src/karabo/net/TcpChannel.cc
  src/karabo/net/TcpChannel.hh
  src/karabo/tests/core/InstanceChangeThrottler_Test.cc
  src/karabo/tests/util/Hash_Test.cc
  src/karabo/util/Configurator.hh
  src/karabo/util/Element.hh
  src/karabo/util/Factory.hh
  src/karabo/util/Hash.cc
  src/karabo/util/Hash.hh
  src/karabo/util/OrderedMap.hh
  src/karabo/util/Schema.hh
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Update whatsnew for 2.21.0
  doc/whatsnew/2.21.rst
Due: test_docs

fix(C++): Signal did update msg header that was in flight for in-process shortcut
  src/karabo/xms/Signal.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor: Get rid of conda api dependency for karabogui
  ci/miniconda/builder/build.py
  ci/miniconda/builder/mirrors.py
  ci/miniconda/builder/utils.py
  conda-recipes/karabogui/environment.devenv.yml
  conda-recipes/karabogui/meta_base.yaml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

doc: Provide more details on Karabo 2.21
  doc/whatsnew/2.21.rst
Due: test_docs

refactor(GUI): remove module from coverage testing
  conda-recipes/karabogui/_run_test.py
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Disable 'Store online configuration' menu-item
  src/pythonGui/karabogui/project/controller/device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(Bound test): Use success boolean of slotUpdateSchemaAttributes reply Hash
  src/karabo/core/DeviceClient.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(C++): Provide helper for migration to Karabo 3 (forward port to master)
  .gitignore
  src/karabo/CMakeLists.txt
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/util/ClassInfo_Test.cc
  src/karabo/tests/util/ClassInfo_Test.hh
  src/karabo/tests/util/Version_Test.cc
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/util/ClassInfo.hh
  src/karabo/util/Version.cc
  src/karabo/util/Version.hh
  src/karabo/util/VersionMacros.in
  src/karabo/util/repositoryVersion.in
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Evaluate Expression : String conversion of numpy float
  src/pythonGui/karabogui/controllers/display/eval.py
  src/pythonGui/karabogui/controllers/display/tests/test_eval.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

MDL: Use official programming way for QuantityValues
  src/pythonKarabo/karabo/native/schema/basetypes.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

test: Use pytest-xvfb for ci testing
  ci/miniconda/builder/build.py
  ci/miniconda/builder/utils.py
  src/pythonGui/karabogui/actions.py
  src/pythonGui/karabogui/programs/base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64
