Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(GUI): Unify context menu capitalization in topology
  src/pythonGui/karabogui/navigation/device_view.py
  src/pythonGui/karabogui/navigation/system_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

doc: Add hotfix changelogs for 2.20.X
  doc/whatsnew/2.20.rst
Due: test_docs

fix(GUI): Update the button text in the Configuration Preview dialog
  src/pythonGui/karabogui/dialogs/ui/configuration_preview.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat: Remove conda install for test_docs
  .gitlab-ci.yml
  src/pythonGui/karabogui/actions.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(Bound): Provide eventLoop fixture and ServerContext
  src/pythonKarabo/karabo/bound/testing/__init__.py
  src/pythonKarabo/karabo/bound/testing/eventloop.py
  src/pythonKarabo/karabo/bound/testing/server_context.py
  src/pythonKarabo/karabo/bound/testing/utils.py
  src/pythonKarabo/karabo/bound/tests/context_test.py
Due: lint, test_docs, python_unit tests

fix(GUI): fix test for button text
  src/pythonGui/karabogui/dialogs/tests/test_preview_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound): Change to classId instead of displayType
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_client.py
Due: lint, test_docs, python_unit tests

fix(GUI): Disable deveiceServer context menu and add tooltip.
  src/pythonGui/karabogui/project/controller/server.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat: Temporary revert docs to python 3.8
  .readthedocs.yaml
Due: none

fix(GUI): Login Dialog: list the host name when opened by Cinema
  src/pythonGui/karabogui/singletons/network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps: Update python to 3.12.2.
  .gitlab-ci.yml
  doc/installation/dependency_management.rst
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/conanfile.txt
  ruff.toml
  src/karabind/CMakeLists.txt
  src/karabind/PyCoreDeviceClient.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_pipeline_test.py
  src/templates/cpp/minimal/CMakeLists.txt
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Doc(GUI): Remove remnant of miniconda refernce from doc
  doc/installation/gui.rst
Due: test_docs

doc: First quick cleanup of docs - remove miniconda
  doc/installation/dependency_management.rst
Due: test_docs

fix(GUI): Device: Correct tooltip for 'shutdown' menu-item
  src/pythonGui/karabogui/project/controller/device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

bug(GUI): Cinema doesn't honour the host/port provided on the login dialog.
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Set Logger Priority - disable for User/Observer
  src/pythonGui/karabogui/navigation/system_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(CI): try miniforge ci
  .gitlab-ci.yml
  ci/miniconda/builder/build.py
  ci/miniconda/builder/utils.py
  ci/miniconda/main.py
  src/pythonGui/karabogui/background.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Fix the slow data in input channels updating
  src/pythonKarabo/karabo/middlelayer/pipeline.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_pipeline_test.py
Due: lint, test_docs, python_unit tests

feat(GUI): scene2py - support for multiple children
  src/pythonKarabo/karabo/interactive/scene2python.py
  src/pythonKarabo/karabo/interactive/tests/test_scene2python.py
Due: lint, test_docs, python_unit tests

feat(GUI): CliptoView for plot graphs
  src/pythonGui/karabogui/graph/plots/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Provide access level information of editable widgets in the tooltip
  src/pythonGui/karabogui/sceneview/widget/container.py
  src/pythonGui/karabogui/sceneview/widget/tests/test_container.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

perf(GUI): Optimization in binding update of filter table
  src/pythonGui/karabogui/controllers/table/controller.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Remove pluginloader and pkg resources
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/plugin_loader.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Cleanup broker implementation
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/broker/__init__.py
  src/pythonKarabo/karabo/middlelayer/broker/base.py
  src/pythonKarabo/karabo/middlelayer/broker/compat.py
  src/pythonKarabo/karabo/middlelayer/broker/tests/__init__.py
  src/pythonKarabo/karabo/middlelayer/broker/tests/test_utils.py
  src/pythonKarabo/karabo/middlelayer/broker/utils.py
  src/pythonKarabo/karabo/middlelayer/eventloop.py
  src/pythonKarabo/karabo/middlelayer/proxy.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
  src/pythonKarabo/karabo/middlelayer/tests/eventloop.py
  src/pythonKarabo/karabo/middlelayer/tests/utils_test.py
  src/pythonKarabo/karabo/middlelayer/utils.py
Due: lint, test_docs, python_unit tests

perf(MDL): Make sure slotPing goes out before we start collecting topology
  src/pythonKarabo/karabo/middlelayer/device.py
Due: lint, test_docs, python_unit tests

feat(MDL): Forward broken plugin information to the operator
  src/pythonKarabo/karabo/middlelayer/device_server.py
Due: lint, test_docs, python_unit tests

fix(Bound): Remove pkg_resources from pluginloader and fix the operator feedback for broken plugins
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/plugin_loader.py
  src/pythonKarabo/karabo/bound/tests/pluginloader_test.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(MDL): Provide AsyncServerContext in MDL and assert_wait_property
  src/pythonKarabo/karabo/middlelayer/testing/__init__.py
  src/pythonKarabo/karabo/middlelayer/testing/server_context.py
  src/pythonKarabo/karabo/middlelayer/testing/utils.py
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
Due: lint, test_docs, python_unit tests

fix(GUI): Remove username,host,port from Create cinema link dialog
  src/pythonGui/karabogui/wizards/cinema/controllers.py
  src/pythonGui/karabogui/wizards/cinema/link.ui
  src/pythonGui/karabogui/wizards/cinema/pages.py
  src/pythonGui/karabogui/wizards/cinema/tests/test_controller.py
  src/pythonGui/karabogui/wizards/cinema/wizard.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat: Set Karabo Framework C++ standard to C++20
  src/cmake/cxx-options.cmake
  src/karabo/net/NetworkInterface.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(ALL): Provide no expertLevel access for lockedBy and classId
  src/karabo/core/Device.hh
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/middlelayer/device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): For non-authenticated gui, access level from Configuration singleton
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

perf(MDL): Optimize broker dictionary settings
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/native/data/tests/test_hash.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Refactor mdl testing event_loop and change fixtures
  src/pythonKarabo/karabo/middlelayer/conftest.py
  src/pythonKarabo/karabo/middlelayer/pytest.ini
  src/pythonKarabo/karabo/middlelayer/testing/__init__.py
  src/pythonKarabo/karabo/middlelayer/testing/utils.py
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
  src/pythonKarabo/karabo/middlelayer/tests/device_test.py
  src/pythonKarabo/karabo/middlelayer/tests/heartbeat_mixin_test.py
  src/pythonKarabo/karabo/middlelayer/tests/inject_node_test.py
  src/pythonKarabo/karabo/middlelayer/tests/interfaces_test.py
  src/pythonKarabo/karabo/middlelayer/tests/macro_test.py
  src/pythonKarabo/karabo/middlelayer/tests/monitor_test.py
  src/pythonKarabo/karabo/middlelayer/tests/ordering_test.py
  src/pythonKarabo/karabo/middlelayer/tests/pipeline_test.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_pipeline_test.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_test.py
  src/pythonKarabo/karabo/middlelayer/tests/synchronization_test.py
  src/pythonKarabo/karabo/middlelayer/tests/utils_test.py
Due: lint, test_docs, python_unit tests

fix(MDL): Don't print empty lines in macros
  extern/requirements-1.txt
  src/pythonKarabo/karabo/middlelayer/macro.py
  src/pythonKarabo/karabo/middlelayer/tests/macro_test.py
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat: allow karabo-middlelayerserver to run on windows
  src/pythonKarabo/karabo/middlelayer/device_server.py
Due: lint, test_docs, python_unit tests

feat: remove reference to VERSION files
  src/karabo/util/Version.cc
  src/karabo/util/Version.hh
  src/pythonKarabo/karabo/interactive/karabo.py
  src/pythonKarabo/karabo/middlelayer/utils.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Provide history launch option for text log widget
  src/pythonGui/karabogui/controllers/display/tests/test_textlog.py
  src/pythonGui/karabogui/controllers/display/textlog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64
