Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18, long tests almalinux8, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build almalinux8: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests ubuntu18: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests ubuntu18: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu18: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu18: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

GUI: Only silently erase edit value on succesful reply from gui server
  src/pythonGui/karabogui/singletons/manager.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DEPS: Update PyQt to 5.15.7
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Multi-Curve Graph should have the default configuration.
  src/pythonGui/karabogui/controllers/display/multicurvegraph.py
  src/pythonGui/karabogui/controllers/display/tests/test_multicurvegraph.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Move back high dpi settings
  src/pythonGui/karabogui/programs/base.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Keep popup after schema injection
  src/pythonGui/karabogui/configurator/view.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Explicitely test status directly after unregisterChannelMonitor
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_client.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18

GUI: Account device provided scenes in deprecation of combobox model
  src/pythonKarabo/karabo/common/scenemodel/tests/test_widgets_simple.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/simple.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Fix stacked widget layout of icons dialog
  src/pythonGui/karabogui/controllers/icons.ui
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Merge branch 'gui-fix-iconsdialog-layout' into 'master'
  src/pythonGui/karabogui/controllers/icons.ui
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DEPS: Fix dependency on Boost.Beast 1.79
  extern/resources/beast-boost/build.config
Due: deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20
