Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18, long tests almalinux8, long tests centos7, long tests ubuntu20, long tests ubuntu18

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint
  script:
  - source ci/lint ALL

deps build almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build ubuntu20:
  image: europeanxfel/karabo-ci:ubuntu-20
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

cpp_deps tests almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests ubuntu20:
  image: europeanxfel/karabo-ci:ubuntu-20
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

python_deps tests almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

python_deps tests centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

DEPS: Add pytest timeout to dependencies
  extern/build.sh
  extern/resources/pytest_timeout/build.config
  extern/resources/pytest_timeout/pytest-timeout-2.1.0.tar
Due: deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20

GUI: Fix the pipeline counter for schema evolution
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/binding/tests/schema.py
  src/pythonGui/karabogui/binding/tests/test_proxy.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Cleanup icon command widget
  src/pythonGui/karabogui/controllers/display/icon_command.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

CPP: refactor test code handling broker env. vars
  src/karabo/tests/BrokerUtils.cc
  src/karabo/tests/BrokerUtils.hh
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/net/Broker_Test.cc
  src/karabo/tests/net/Broker_Test.hh
  src/karabo/tests/net/JmsConnection_Test.cc
  src/karabo/tests/net/JmsConnection_Test.hh
  src/karabo/tests/net/MqttClient_Test.cc
  src/karabo/tests/net/MqttClient_Test.hh
  src/karabo/tests/xms/SignalSlotable_Test.cc
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18

GUI: Rename types to binding types
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/binding_types.py
  src/pythonGui/karabogui/binding/builder.py
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/binding/recursive.py
  src/pythonGui/karabogui/binding/tests/test_validate.py
  src/pythonGui/karabogui/binding/util.py
  src/pythonGui/karabogui/binding/validate.py
  src/pythonGui/karabogui/controllers/display/vector_graph.py
  src/pythonGui/karabogui/generic_scenes.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Influx: Add support for max schema logging rate for a device.
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/BaseLogging_Test.hh
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/DataLogging_Test.hh
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/devices/InfluxDataLogger.hh
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18

TOOLS: turn off GUI builds on this branch
  .gitlab-ci.yml
Due: none

Influx: Add support for max schema logging rate for a device (cherry-pick into 2.13.X-hotfix)
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/BaseLogging_Test.hh
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/DataLogging_Test.hh
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/devices/InfluxDataLogger.hh
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18

GUI: Always synchronize online schema for devices
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/binding/tests/test_proxy.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DATALOGGER: Allow to ignore archiving some deviceIds/classIds.
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/DataLoggerManager.hh
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build almalinux8: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests ubuntu18: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests ubuntu18: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu18: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu18: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*
