Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

feat: add -v option to karabo utility script
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

perf(MDL): More Hash performance natively
  src/pythonKarabo/karabo/macro_devices/tests/macroserver_test.py
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/native/data/hash.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

chore: use importlib instead of pkg_resources
  .gitlab-ci.yml
  src/pythonKarabo/karabo/bound/device_runner.py
  src/pythonKarabo/karabo/bound/launcher.py
  src/pythonKarabo/karabo/bound/testing/utils.py
  src/pythonKarabo/karabo/interactive/karabo.py
  src/pythonKarabo/karabo/project_db/util.py
Due: lint, test_docs, python_unit tests

fix(C++): Merging tables does not mean to validate
  src/karabo/tests/util/Hash_Test.cc
  src/karabo/tests/util/Hash_Test.hh
  src/karabo/util/Hash.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(MDL): Always flag VectorHash with attributes rowSchema
  src/pythonKarabo/karabo/native/schema/descriptors.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix formatting for logging messages
  src/karabo/log/Logger.cc
  src/karabo/log/Logger.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(CI): Fix the conda mirror process
  ci/miniconda/builder/build.py
  ci/miniconda/builder/mirrors.py
Due: none

chore: clean up the C++ basic device
  src/templates/cpp/minimal/.install.sh
  src/templates/cpp/minimal/CMakeLists.txt
  src/templates/cpp/minimal/cmake/find_dep.cmake
  src/templates/cpp/minimal/cmake/import_karabo_lib.cmake
  src/templates/cpp/minimal/cmake/infer_karabo_env.cmake
  src/templates/cpp/minimal/src/CMakeLists.txt
Due: lint, test_docs

Add slotGetClientSessions to the GUI Server
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/GuiServer_Test.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/devices/GuiServerTemporarySessionManager.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix: workaround bad behaving comilation scripts
  src/karabo/CMakeLists.txt
  src/karabo/cmake/karaboPackageDependencies-GNU-Linux-x86.pc.in
  src/karabo/log/Logger.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(MDL): Provide native timestamp formatting options
  src/pythonKarabo/karabo/native/data/tests/test_timestamp.py
  src/pythonKarabo/karabo/native/data/timestamp.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): First heartbeat comes at full heartbeat interval
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(deps): Learn to package of libraries that do not depend on karabo
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

feat(GUI): Add gui session info
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/guisessioninfo.py
  src/pythonGui/karabogui/dialogs/tests/test_session_dialog.py
  src/pythonGui/karabogui/dialogs/ui/guiserverinfo.ui
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): close gui session info dialog on connection change
  src/pythonGui/karabogui/dialogs/guisessioninfo.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Build: Clean spdlog flags in cmake files
  build/karabo/karaboDependencies-GNU-Linux-x86.pc
  build/karabo/karaboPackageDependencies-GNU-Linux-x86.pc
  src/karabo/cmake/karaboPackageDependencies-GNU-Linux-x86.pc.in
  src/karabo/log/Logger.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

Build: Log conan version, remove CentOS7
  extern/build.sh
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Fix GUI Client miniconda build
  ci/miniconda/builder/mirrors.py
Due: none

fix(MDL): Properly validate boolean defautlValues
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

perf(MDL): Increase table build value performance
  src/pythonKarabo/karabo/native/schema/descriptors.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix broken build of C++ devices
  build/karabo/karaboDependencies-GNU-Linux-x86.pc
  build/karabo/karaboPackageDependencies-GNU-Linux-x86.pc
  src/karabo/cmake/karaboPackageDependencies-GNU-Linux-x86.pc.in
  src/karabo/log/Logger.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(MDL): Test client has topology information
  src/pythonKarabo/karabo/middlelayer/conftest.py
Due: lint, test_docs, python_unit tests

fix(Bound): Avoid check of writeable flag in ndarray
  src/karabind/Wrapper.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
Due: lint, test_docs, python_unit tests

feat(GUI): Link to Keyboard shortcuts page
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix problem with writing audit files
  src/karabo/log/Logger.cc
  src/karabo/log/Logger.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GuiServer): Fix disabled logging after audit activation
  src/karabo/log/Logger.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(C++): Uncover some base class implementations for TcpChannel::read and ...::write
  src/karabo/net/TcpChannel.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(MDL): Remove duplication of deviceId from log message
  src/pythonKarabo/karabo/middlelayer/device.py
Due: lint, test_docs, python_unit tests

fix(GUI): karabo-theatre : show warning dialog when device is invalid or has no scene
  src/pythonGui/karabogui/programs/tests/test_theatre.py
  src/pythonGui/karabogui/programs/theatre.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(CI): Throw when test fails
  ci/miniconda/builder/utils.py
Due: none

fix(GUI): Fix test for Help menu
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

First version of WhatsNew for Karabo 2.21.0
  doc/whatsnew/2.21.rst
Due: test_docs

doc: add changelog 2.21 to index
  doc/whatsnew/index.rst
Due: test_docs

refactor(GUI): unify capitalization in project context menus
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/project/controller/device_config.py
  src/pythonGui/karabogui/project/controller/server.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUiServer): Log configuration when instantiated
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(CI): Be graceful on conda delete
  ci/miniconda/cleanup.cmd
Due: none

fix(GUI): consider linked views when checking for autoranges
  src/pythonGui/karabogui/graph/plots/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Lets server context test run with Policy instead of loop
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
Due: lint, test_docs, python_unit tests

feat(Bound): Add missing tests for ImageData
  src/karabind/PyXmsImageDataElement.cc
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/binding/test_imagedata.py
Due: lint, test_docs, python_unit tests

feat(MDL): Add Encoding Enums for Bayer and YUV
  src/pythonKarabo/karabo/native/data/enums.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
