Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

refactor(C++): Remove filtering from device client for accesslevel
  src/karabo/core/DeviceClient.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Karabo script now uses karaboDevices3 to create and install devices/repositories
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

Fix for `&` in project item name causing a loading error.
  src/pythonKarabo/karabo/project_db/database/models_xml.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
Due: lint, test_docs, python_unit tests

feat(ProjectDB): Extend tests, fix several bugs, rename projectname to project_name and provide a domain based device topology
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/conftest.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/database/db_reader.py
  src/pythonKarabo/karabo/project_db/database/node.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Align project explore dialog to new interface
  src/pythonGui/karabogui/project/dialog/load_project_with_item.py
  src/pythonGui/karabogui/singletons/manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(ProjectDB): A little fixes and alignments in project manager
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(C++): validate output channel schema
  src/integrationTests/Device_Test.cc
  src/integrationTests/P2PSenderDevice.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabo/core/Device.cc
  src/karabo/data/schema/Validator.cc
  src/karabo/data/schema/Validator.hh
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/tests/xms/InputOutputChannel_Test.hh
  src/karabo/xms/OutputChannel.cc
  src/karabo/xms/OutputChannel.hh
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(MDL): Provide broadcast configurable option, integration tests and fix a test
  src/pythonKarabo/karabo/integration_tests/mdl_client_test/device_simple.py
  src/pythonKarabo/karabo/integration_tests/mdl_client_test/remote_client_test.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix: Fix the brokerrates script tool after refactoring
  src/tools/brokerRates/brokerRates.cpp
Due: lint, test_docs, cpp_unit tests

feat(GUI): Change tab order for login dialog: host -> tab -> port
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(ProjectDB): the external key for the timestamp is always date
  src/pythonGui/karabogui/project/dialog/load_project_with_item.py
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

feat(Bound): Provide pythonic logging api
  src/karabind/PyLogLogger.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
Due: lint, test_docs, python_unit tests

refactor(GUI): Remove alarm attributes from popup widget and align the size
  src/pythonGui/karabogui/configurator/tests/test_model_view.py
  src/pythonGui/karabogui/configurator/view.py
  src/pythonGui/karabogui/indicators.py
  src/pythonGui/karabogui/widgets/popup.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove device configuration visibility from the project
  src/pythonGui/karabogui/project/api.py
  src/pythonGui/karabogui/project/controller/bases.py
  src/pythonGui/karabogui/project/controller/build.py
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/project/controller/device_config.py
  src/pythonGui/karabogui/project/controller/tests/test_device_config_controller.py
  src/pythonGui/karabogui/project/controller/tests/test_project_controller.py
  src/pythonGui/karabogui/singletons/project_model.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(ConfigDB): Align configuration db with project db sqlmodel functions
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove timeout from device node
  src/pythonKarabo/karabo/middlelayer/devicenode.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Factor out writer and reader, have a sqldatabase
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/project_db/database/db_reader.py
  src/pythonKarabo/karabo/project_db/database/db_writer.py
  src/pythonKarabo/karabo/project_db/database/models_xml.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/utils.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(Bound): Remove deprecated functionality for schema and config
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests

feat(ProjectDB): Provide version handshake for saving
  src/pythonGui/karabogui/singletons/network.py
  src/pythonKarabo/karabo/common/project/api.py
  src/pythonKarabo/karabo/common/project/const.py
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(ProjectDB): Make trashed a boolean towards the GUI
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/database/utils.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_database.py
Due: lint, test_docs, python_unit tests

fix(ProjectDB): Migration to async interface needs coroutine to delete items
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

Better test for load_item with escaped XML.
  src/pythonKarabo/karabo/native/project/io.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Trashed is not compared by string but by boolean
  src/pythonGui/karabogui/project/dialog/project_handle.py
  src/pythonGui/karabogui/singletons/db_connection.py
  src/pythonGui/karabogui/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound): Change signalslot naming in device server
  src/pythonKarabo/karabo/bound/device_server.py
Due: lint, test_docs, python_unit tests

feat(MDL): Upgrade pytest asyncio and align testing
  extern/requirements-1.txt
  src/pythonKarabo/karabo/middlelayer/conftest.py
  src/pythonKarabo/karabo/middlelayer/testing/utils.py
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
  src/pythonKarabo/karabo/middlelayer/tests/utils_test.py
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(ConfigDB): add serverId and classId to NamedDevices in configuration db
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/models.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
  src/pythonKarabo/karabo/interactive/convert_config_db.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(Bound): validate output channel schema
  src/karabind/PyXmsInputOutputChannel.cc
  src/karabo/xms/OutputChannel.cc
  src/karabo/xms/Signal.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/binding/test_pipeline_api.py
  src/pythonKarabo/karabo/bound/tests/boundDevice.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++/Bound): Rename Trainstamp to TimeId and getTrainId to getTid
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/junit.xml
  ci/utils/cppunitxmlparser/cppunitxmlparser/test/utilTest.xml
  doc/concepts/general_concepts.rst
  public_docs/concepts.md
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/Device_Test.cc
  src/integrationTests/Timing_Test.cc
  src/karabind/PyUtilTimeId.cc
  src/karabind/PyUtilTimestamp.cc
  src/karabind/karabind.cc
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/data/time.hpp
  src/karabo/data/time/TimeId.cc
  src/karabo/data/time/TimeId.hh
  src/karabo/data/time/Timestamp.cc
  src/karabo/data/time/Timestamp.hh
  src/karabo/devices/DataLogger.cc
  src/karabo/devices/FileDataLogger.cc
  src/karabo/devices/FileLogReader.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/tests/data/time/TimeClasses_Test.cc
  src/karabo/tests/data/time/TimeClasses_Test.hh
  src/karabo/xms/InputChannel.cc
  src/karabo/xms/InputChannel.hh
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/binding/test_pipeline_utils.py
  src/pythonKarabo/karabo/bound/tests/boundDevice.py
  src/pythonKarabo/karabo/bound/tests/metadata_test.py
  src/pythonKarabo/karabo/bound/tests/timestamp_test.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(ConfigDB): Implement a strict ConfigurationMode for filtering configurations
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(ProjectDB): Only store values that are different from default in strict mode
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/configuration.py
  src/pythonKarabo/karabo/middlelayer/tests/configuration_test.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Align configuration from name validation to new protocol
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(ProjectDB): Refactor ProjectManager protocol
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(ProjectDB): Remove orphan handling and optimize project loading response
  src/pythonKarabo/karabo/project_db/database/node.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

refactor(ConfigDB): FromName becomes Init to emphasize the purpose
  src/karabind/PyCoreDeviceClient.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/cli/__init__.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer/ikarabo.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Align to new init configuration dialog
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/init_configuration.py
  src/pythonGui/karabogui/dialogs/tests/test_init_config_dialog.py
  src/pythonGui/karabogui/dialogs/ui/init_configuration_dialog.ui
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/navigation/device_view.py
  src/pythonGui/karabogui/navigation/system_view.py
  src/pythonGui/karabogui/navigation/tests/test_device_model_view.py
  src/pythonGui/karabogui/navigation/tests/test_system_model_view.py
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Refactor the Project Config Dialog / Init Configuration Preview Dialog and clarify a few names
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/app_configuration_dialog.py
  src/pythonGui/karabogui/dialogs/configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_app_configuration_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_preview_dialog.py
  src/pythonGui/karabogui/dialogs/ui/configuration_past_preview.ui
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/navigation/device_view.py
  src/pythonGui/karabogui/navigation/system_view.py
  src/pythonGui/karabogui/navigation/tests/test_device_model_view.py
  src/pythonGui/karabogui/navigation/tests/test_system_model_view.py
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/project/dialog/device_configuration.py
  src/pythonGui/karabogui/project/dialog/tests/test_device_config_dialog.py
  src/pythonGui/karabogui/project/dialog/tests/test_project_conf_dialog.py
  src/pythonGui/karabogui/project/dialog/ui/device_configuration.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(ConfigDB): Align slot call to delete an init configuration
  src/pythonGui/karabogui/dialogs/init_configuration.py
  src/pythonGui/karabogui/dialogs/ui/init_config_save.ui
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(ProjectDB): Remove signature check in project reading
  src/pythonKarabo/karabo/common/scenemodel/registry.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix tooltip of project items, format date correctly
  src/pythonGui/karabogui/singletons/project_model.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix project cache loading for trashed projects
  src/pythonKarabo/karabo/common/project/cache.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
