Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

Revert "doc: remove fancy links because rtd is old"
  doc/installation/gui.rst
Due: test_docs

refactor(C++): Remove old AmqpClient class and things used only there.
  src/karabind/PyNetConnectionChannel.cc
  src/karabo/net/AmqpClient.cc
  src/karabo/net/AmqpClient.hh
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/net/AmqpUtils.cc
  src/karabo/net/AmqpUtils.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(DEPS): Add gnu mirror lookup for conan
  extern/build.sh
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(MDL): EventLoop: Prevent InvalidState exception
  src/pythonKarabo/karabo/middlelayer/eventloop.py
Due: lint, test_docs, python_unit tests

fix(tests/MDL): Re-enable pipeline test skipped when moving to numpy 2.0.1
  src/pythonKarabo/karabo/integration_tests/pipeline_cross_test/test_multi_api_pipes.py
  src/pythonKarabo/karabo/middlelayer_devices/property_test.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Rename AmqpClient2 to AmqpClient
  src/karabo/net/AmqpClient.cc
  src/karabo/net/AmqpClient.hh
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/net/AmqpHashClient.cc
  src/karabo/net/AmqpHashClient.hh
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

perf(GUI): Optimize children caching on configurator
  src/pythonGui/karabogui/configurator/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix findNodes in the Systemtopology and provide a test
  src/pythonGui/karabogui/navigation/system_filter_model.py
  src/pythonGui/karabogui/navigation/tests/test_system_model_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps: Add pre-commit for now to karabo
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): Avoid capture of bare this in asyncConnect/Disconnect
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

CI: Fix SVN emails before mirroring
  .gitlab-ci.yml
Due: none

CI FIX: SVN user modification
  .gitlab-ci.yml
Due: none

FIX CI: Adjust filepath slightly for SVN
  .gitlab-ci.yml
Due: none

DOC: Prepare docs for readthedocs.org
  .readthedocs.yaml
Due: none

Remove version from Python flag in readthedocs.yaml to avoid conflict
  .readthedocs.yaml
Due: none

fix(C++): Protect against AMQP changing (sanitizing...) requested queue names
  src/karabo/net/AmqpClient.cc
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(MDL): remove the metaclass from injectable
  src/pythonKarabo/karabo/middlelayer/injectable.py
  src/pythonKarabo/karabo/middlelayer/tests/inject_node_test.py
Due: lint, test_docs, python_unit tests

fix: Prevent karabind stubs and cppunit build being seen by git versioning when building framework
  .gitignore
  build/karabo/build-pythonKarabo.sh
Due: none

refactor(CI): Only use conda-forge in mirror process
  ci/miniconda/builder/build.py
  ci/miniconda/builder/mirrors.py
Due: none

fix(C++): Do not use instanceId for reading from broker before checking its characters
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(C++): Also add path in exception msg for inconsistent default and options
  src/karabo/util/OverwriteElement.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(MDL): Use classId in proxy factory for Slots
  src/pythonKarabo/karabo/middlelayer/proxy.py
  src/pythonKarabo/karabo/middlelayer/tests/proxy_test.py
Due: lint, test_docs, python_unit tests

feat(MDL): Test classId declaration for State and Alarm Element
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/const.py
  src/pythonKarabo/karabo/common/tests/test_const.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(CI): Fix the conda mirror, always erase default pkgs
  ci/miniconda/builder/build.py
Due: none

feat: Allow server reconfiguration from OPERATOR level in DaemonManager and remove daqPolicy
  src/pythonKarabo/karabo/middlelayer_devices/daemon_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Change to classId for Slot check
  src/karabo/util/Schema.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Upgrade numpy to 2.1.1 for MacOS
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Remove rules from Schema
  src/pythonKarabo/karabo/native/data/hash.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix(GUI): Correct the initial text for 'ui_swap' button
  src/pythonGui/karabogui/dialogs/tests/test_config_comparison_dialog.py
  src/pythonGui/karabogui/dialogs/ui/configuration_comparison.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Disable Arrange project items and tooltip when disabled.
  src/pythonGui/karabogui/project/controller/project_groups.py
  src/pythonGui/karabogui/project/controller/tests/test_project_controller.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): ClassId convenience for Schema class and provide tests for alarms and states
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/tests/util/Schema_Test.hh
  src/karabo/util/Schema.cc
  src/karabo/util/Schema.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GUI) : Arrowhead as SVG polygon
  src/pythonGui/karabogui/sceneview/builder.py
  src/pythonGui/karabogui/sceneview/shapes.py
  src/pythonGui/karabogui/sceneview/tests/test_utils.py
  src/pythonGui/karabogui/sceneview/tests/test_view.py
  src/pythonGui/karabogui/sceneview/tools/actions.py
  src/pythonGui/karabogui/sceneview/tools/clipboard.py
  src/pythonGui/karabogui/sceneview/tools/drawing.py
  src/pythonGui/karabogui/sceneview/utils.py
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/const.py
  src/pythonKarabo/karabo/common/scenemodel/shapes.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_shapes.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Clean the XMLDefsModels, remove XMLDefs as a whole
  src/pythonKarabo/karabo/common/scenemodel/model.py
  src/pythonKarabo/karabo/common/scenemodel/registry.py
  src/pythonKarabo/karabo/common/scenemodel/shapes.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_shapes.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Properly ignore karabind stubs
  build/karabo/build-pythonKarabo.sh
  src/karabind/stubs/karabind.pyi
Due: lint, test_docs, python_unit tests

fix(GUI): Disable Device instance context menu items.
  src/pythonGui/karabogui/project/controller/device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Cinema: Update message on ending Temp session.
  src/pythonGui/karabogui/panels/scenepanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++ test): Split test function with names fitting
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/tests/util/Schema_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GUI): Avoid accessing the access level dictionary.
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/project/controller/project_groups.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(Bound): Add classId schema helper methods
  src/karabind/PyUtilSchema.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
Due: lint, test_docs, python_unit tests

refactor(Bound): Use classId instead of leafType to identify State and Alarm
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_client.py
Due: lint, test_docs, python_unit tests
