Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

fix(C++): Protect InputChannel against bad data, do not trust tcpChannel->isOpen()
  src/karabo/xms/InputChannel.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Object names for buttons in the Wizard.
  src/pythonGui/karabogui/wizards/tips/tests/test_tip_wizard.py
  src/pythonGui/karabogui/wizards/tips/wizard.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): Exception from type mapping now states which type failed
  src/karabo/util/ToType.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(C++): Gui server unregisters from channel monitor if device gone
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Send application information to the gui server
  src/pythonGui/karabogui/singletons/network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix initial high access level
  src/pythonGui/karabogui/singletons/manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(DOC): Add extensive whats new features for 2.20.X
  doc/whatsnew/2.20.rst
Due: test_docs

Add onlyAppModeClients init-only parameter to the GUI Server.
  doc/library/guiServer.rst
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/GuiServer_Test.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Use applicationMode in network
  src/pythonGui/karabogui/singletons/network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Drop support for recursive node types, LoN and CoN
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/builder.py
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/binding/recursive.py
  src/pythonGui/karabogui/binding/tests/test_config.py
  src/pythonGui/karabogui/binding/tests/test_proxy.py
  src/pythonGui/karabogui/binding/tests/test_recursive.py
  src/pythonGui/karabogui/binding/tests/test_types.py
  src/pythonGui/karabogui/binding/validate.py
  src/pythonGui/karabogui/configurator/qt_item_model.py
  src/pythonGui/karabogui/configurator/utils.py
  src/pythonGui/karabogui/controllers/display/timelabel.py
  src/pythonGui/karabogui/controllers/edit/choiceelement.py
  src/pythonGui/karabogui/controllers/edit/tests/test_choiceelement.py
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/panels/panel_info.py
  src/pythonGui/karabogui/testing/schema.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI):Login dialog: objectName for access code widget.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(Bound): Fix STATE_ELEMENT options
  src/karabind/PyUtilStateElement.cc
  src/pythonKarabo/karabo/bound_api/tests/binding/test_schema_elements.py
Due: lint, test_docs, python_unit tests

Improvements to tests for onlyAppModeClients parameter
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): Ensure same order of broker and Karabo signal treatment for asyncConnect and asyncDisconnect
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/tests/xms/SignalSlotable_Test.hh
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

Default for maxTemporarySessionTime changed to 1h (was 45 mins).
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(DOC): Document initial 2.20.1
  doc/whatsnew/2.20.rst
Due: test_docs

Remove unused file.
  src/templates/cpp/minimal/set_os_info.sh
Due: lint, test_docs

feat(Bound): Expose executeN to interactive client
  src/karabind/PyCoreDeviceClient.cc
  src/pythonKarabo/karabo/interactive/deviceClient.py
Due: lint, test_docs, python_unit tests

No error for files that could never be a plugin
  src/karabo/CMakeLists.txt
  src/karabo/util/PluginLoader.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GUI): transport sceneview font test to pytest
  src/pythonGui/karabogui/sceneview/tests/test_fonts.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): transport sceneview layouts test to pytest
  src/pythonGui/karabogui/sceneview/tests/test_layouts.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Add gui constant to api namespace
  src/pythonGui/karabogui/api.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): transport sceneview shapes test to pytest
  src/pythonGui/karabogui/sceneview/tests/test_shapes.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): Add device provided scene to gui server device
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

VSCode setup using ninja when it is available
  build/karabo/setupVSCodeCMake.py
  src/CMakeLists.txt
Due: lint, test_docs

fix(GUI): Make clear that only servers of this project are shutdown.
  src/pythonGui/karabogui/project/controller/project_groups.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++/Bound): Input handler could not cache pipeline data pointer
  src/karabind/PyXmsInputOutputChannel.cc
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/tests/xms/InputOutputChannel_Test.hh
  src/karabo/xms/InputChannel.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor: Revert "Merge branch 'refactor-ext' into 'master'"
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Change tooltip to Home for scene panel button
  src/pythonGui/karabogui/panels/scenepanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

debug(C++ test): Add debug output to flaky disconnect/connect stress test
  src/karabo/tests/xms/SignalSlotable_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GUI): transport sceneview view test to pytest
  src/pythonGui/karabogui/sceneview/tests/test_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Object name for server info label
  src/pythonGui/karabogui/mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): Define a constant for default Hash separator
  src/karabind/PyUtilDims.cc
  src/karabind/PyUtilHash.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceClient.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/util/ArrayTools.hh
  src/karabo/util/DataLogUtils.hh
  src/karabo/util/GenericElement.hh
  src/karabo/util/Hash.cc
  src/karabo/util/Hash.hh
  src/karabo/util/Schema.cc
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(CI): Use pre-commit for linting
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  ci/lint
  ruff.toml
  src/integrationTests/GuiServer_Test.cc
  src/karabo/CMakeLists.txt
  src/karabo/log/AuditFileFilter.hh
  src/pythonGui/karabogui/programs/concert.py
  src/pythonGui/karabogui/project/controller/tests/test_project_controller.py
  src/pythonGui/karabogui/project/controller/tests/test_project_groups.py
  src/pythonGui/karabogui/sceneview/tools/actions.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonKarabo/karabo/influxdb/dlraw2influx.py
  src/pythonKarabo/karabo/influxdb/dlschema2influx.py
  src/pythonKarabo/karabo/influxdb/tests/test_client.py
  src/pythonKarabo/karabo/interactive/karabo.py
  src/pythonKarabo/karabo/middlelayer/tests/pipeline_test.py
  src/pythonKarabo/karabo/middlelayer/tests/utils_test.py
  src/pythonKarabo/karabo/middlelayer/utils.py
  src/pythonKarabo/karabo/native/data/bin_reader.py
  src/pythonKarabo/karabo/native/data/tests/test_hash.py
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
  src/pythonKarabo/karabo/packaging/tests/test_versioning.py
  src/pythonKarabo/karabo/project_db/exist_db/database.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

feat(GUI): Provide vector delegate with list dialog
  src/pythonGui/karabogui/controllers/table/delegates.py
  src/pythonGui/karabogui/controllers/table/tests/test_delegate_model_view.py
  src/pythonGui/karabogui/controllers/table/tests/test_widgets.py
  src/pythonGui/karabogui/controllers/table/widgets.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(CI): Have CI dependent C-lang formatting
  .pre-commit-config.yaml
Due: none

feat(Bound): Provide a testing package
  src/pythonKarabo/karabo/bound/testing/__init__.py
  src/pythonKarabo/karabo/bound/testing/utils.py
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_client.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_server.py
  src/pythonKarabo/karabo/integration_tests/device_provided_scenes_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_channel_injection.py
  src/pythonKarabo/karabo/integration_tests/pipeline_cross_test/test_multi_api_pipes.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/test_signal_slot_order.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat: Upgrade clang formating linting to 18.1.2
  .pre-commit-config.yaml
  src/cppLongTests/devices/TelegrafLogging_Test.cc
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/PipelinedProcessing_Test.cc
  src/integrationTests/RunTimeSchemaAttributes_Test.cc
  src/integrationTests/SceneProvider_Test.cc
  src/karabind/FromNumpy.cc
  src/karabind/PyUtilHashAttributes.cc
  src/karabind/PyUtilHashNode.cc
  src/karabind/PyUtilSchema.cc
  src/karabo/core/Device.hh
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/devices/InfluxLogReader.cc
  src/karabo/net/AmqpBroker.cc
  src/karabo/tests/util/MetaTools_Test.cc
  src/karabo/util/Configurator.hh
  src/karabo/util/FromInt.cc
  src/karabo/util/FromLiteral.cc
  src/karabo/util/Hash.cc
  src/karabo/util/Schema.cc
  src/karabo/util/TableElement.cc
  src/karabo/xms/InputChannel.cc
  src/karabo/xms/OutputChannel.hh
  src/karabo/xms/SignalSlotable.cc
  src/templates/cpp/minimal/.pre-commit-config.yaml
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
