Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18, long tests almalinux8, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build almalinux8: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests ubuntu18: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests ubuntu18: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu18: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu18: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

Add NDArray::shape(vector<ull>(..)), not only shape(string)
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/util/ConfigurationTestClasses.hh
  src/karabo/util/NDArray.hh
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18

GUI: Refactor list edit dialog
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/util.py
  src/pythonGui/karabogui/controllers/edit/list.py
  src/pythonGui/karabogui/controllers/edit/strlist.py
  src/pythonGui/karabogui/dialogs/listedit.py
  src/pythonGui/karabogui/dialogs/tests/test_list_edit_dialog.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Fix and test table view dialog toolbar
  src/pythonGui/karabogui/configurator/dialog/table_view.py
  src/pythonGui/karabogui/configurator/tests/test_table_view.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

MDL: Fix instnatiation error message
  src/pythonKarabo/karabo/middlelayer_api/device_server.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18

GUI: Add a vector delegate to edit tables with a dialog
  src/pythonGui/karabogui/controllers/table/api.py
  src/pythonGui/karabogui/controllers/table/delegates.py
  src/pythonGui/karabogui/controllers/table/tests/test_delegate_model_view.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix for argument of invalid type, 'str', passed to connect setEnabled.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Set a QSizePolicy for the Iconlabel
  src/pythonGui/karabogui/controllers/icons_dialogs.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

scene2py: replace deviceId correctly
  src/pythonKarabo/karabo/interactive/scene2python.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18

GUI Server: Allow user connected to a read-only GUI Server to load a project.
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18
