Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(C++): Remove setTopic(..) as never usable outside SignalSlotable
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(FW): Get rid of pipelining 'queue' option (since same as 'queueDrop')
  doc/concepts/communication.rst
  public_docs/communication.md
  src/integrationTests/PipelinedProcessing_Test.hh
  src/karabo/xms/InputChannel.cc
  src/karabo/xms/InputChannel.hh
  src/karabo/xms/OutputChannel.cc
  src/karabo/xms/OutputChannel.hh
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/middlelayer/pipeline.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(karabind): Do not offer kwargs for allowedStates since not used
  src/karabind/PyUtilSchemaElement.hh
Due: lint, test_docs, python_unit tests

refactor(GUI): Align float formatting in the GUI
  src/pythonGui/karabogui/binding/tests/test_util.py
  src/pythonGui/karabogui/binding/util.py
  src/pythonGui/karabogui/controllers/edit/floatspinbox.py
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/const.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Set the application icon on the mainwindow as well
  src/pythonGui/karabogui/programs/base.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
  src/pythonGui/karabogui/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Initialization of Domains in local database mode
  src/pythonKarabo/karabo/project_db/database/node.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
Due: lint, test_docs, python_unit tests

refactor(GUI): Cleanup configuration util functions
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/tests/test_config.py
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/topology/project_device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove not required messagebox warning for domains
  src/pythonGui/karabogui/project/dialog/project_handle.py
  src/pythonGui/karabogui/singletons/configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove half_samples from graph plots
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_graph_plots.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_plots.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(Bound): PythonDevice.set with kwargs, but w/o validate flag
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_schema_injection.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Change the scene icon for unattached scenes
  src/pythonGui/karabogui/panels/scenepanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Karabo GUI Icon for Karabo 3
  src/pythonGui/karabogui/icons/logo.png
  src/pythonGui/karabogui/icons/splash.png
  src/pythonGui/karabogui/icons/splash.png.svg
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Prevent event on text log widget when there is no binding
  src/pythonGui/karabogui/controllers/display/textlog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): A little event cleanup
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/panels/projectpanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Stop event loop even if stopped before running
  src/karabo/net/EventLoop.cc
  src/karabo/tests/net/EventLoop_Test.cc
  src/karabo/tests/net/EventLoop_Test.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_eventloop.py
  src/pythonKarabo/karabo/bound/tests/binding/test_tcp.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(Bound): Graceful device.get
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(Bound); use karabo naming convention for karabo properties
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_boundCpp_signalConnect.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_schema_injection.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/bound_ordertest_device.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(C++/Bound): Align a few log leftovers
  src/karabind/PyLogLogger.cc
  src/karabo/log/Logger.cc
  src/pythonKarabo/karabo/bound/device_server.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

perf(C++): Avoid to copy every message header
  src/karabo/tests/xms/Slot_Test.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/Slot.cc
  src/karabo/xms/Slot.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Implement TrendOptions for the trendline widgets
  src/pythonGui/karabogui/controllers/basearray.py
  src/pythonGui/karabogui/controllers/display/tests/test_alarm_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_state_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_time_graphs.py
  src/pythonGui/karabogui/controllers/display/tests/test_vector_graph.py
  src/pythonGui/karabogui/controllers/display/time_graphs.py
  src/pythonGui/karabogui/graph/plots/base.py
  src/pythonGui/karabogui/graph/plots/dialogs/__init__.py
  src/pythonGui/karabogui/graph/plots/dialogs/curve_options.py
  src/pythonGui/karabogui/graph/plots/tests/test_base.py
  src/pythonGui/karabogui/graph/plots/tests/test_curve_options_dialog.py
  src/pythonGui/karabogui/graph/plots/utils.py
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_graph_plots.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_plots.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_utils.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Show conflicts in classId and serverId and provide a log widget for the pdb
  src/pythonGui/karabogui/dialogs/project_topology_dialog.py
  src/pythonGui/karabogui/dialogs/ui/project_topology.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Extend karabogui.api namespace
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/controllers/table/api.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Include DeviceClasses in server log on instantiation
  src/pythonKarabo/karabo/middlelayer/device_server.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Cleanup uuid usage
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

refactor(C++): Make header match its class: AlarmCondition w/o trailing 's'
  src/karabind/PyUtilAlarmElement.cc
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.hh
  src/karabo/data/schema/AlarmConditionElement.cc
  src/karabo/data/schema/LeafElement.hh
  src/karabo/data/schema/SimpleElement.hh
  src/karabo/data/schema/Validator.cc
  src/karabo/data/types.hpp
  src/karabo/data/types/AlarmCondition.cc
  src/karabo/data/types/AlarmCondition.hh
  src/karabo/data/types/Schema.hh
  src/karabo/tests/data/schema/ConfigurationTestClasses.hh
  src/karabo/tests/data/types/AlarmCondition_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GUI): Remove the wording from the unattached message
  src/pythonGui/karabogui/panels/scenepanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Use VectorRegexString to validate input of required_domains property
  src/pythonKarabo/karabo/project_db/database/node.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Cleanup project database saving return
  src/pythonGui/karabogui/singletons/db_connection.py
  src/pythonGui/karabogui/singletons/tests/test_db_connection.py
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_database.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(ProjectDB): Clean up service.in and make existdb the default
  src/pythonKarabo/karabo/project_db/database/node.py
  src/service.in/default/karabo_projectDBServer/run
Due: lint, test_docs, python_unit tests

feat(C++): Add timing output to pipeline tests, also use safeNDArray=true where it can help
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/tests/xms/InputOutputChannel_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

doc: Add more breaking changes and sort a bit
  doc/whatsnew/3.0.rst
Due: test_docs

doc: Align someformatting for Karabo 3 WhatsNew
  doc/whatsnew/3.0.rst
Due: test_docs

doc: Fix a few formatting issues and typoes
  doc/whatsnew/3.0.rst
Due: test_docs

Store schema version in the database
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/project_db/database/models.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(ProjectDB): Remove tuple error in declaration
  src/pythonKarabo/karabo/project_db/database/node.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Only wrap date format in wrap xml
  src/pythonKarabo/karabo/project_db/database/models_xml.py
Due: lint, test_docs, python_unit tests

doc: A bit fine tuning the docs and add a few
  doc/whatsnew/3.0.rst
Due: test_docs

doc: Add merge log until rc8
  doc/whatsnew/3.0.rst
Due: test_docs

refactor(C++): Revert "Replace boost::regex by std::regex"
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceServer.cc
  src/karabo/data/time/DateTimeString.cc
  src/karabo/data/time/DateTimeString.hh
  src/karabo/data/types/ClassInfo.cc
  src/karabo/devices/FileLogReader.cc
  src/karabo/devices/FileLogReader.hh
  src/karabo/net/utils.cc
  src/karabo/tests/util/DataLogUtils_Test.cc
  src/karabo/tests/util/DataLogUtils_Test.hh
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/util/DataLogUtils.hh
  src/karabo/util/Version.cc
  src/tools/dataLoggerIndex/idxBuild.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++ test): Revert pipe test timing to before switch to std::regex
  src/integrationTests/PipelinedProcessing_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests
