Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre-commit-check, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

pre-commit-check:
  stage: lint
  image: python:3.12
  tags:
  - KaraboFramework
  before_script:
  - find /cache || true
  script:
  - pip install pre-commit
  - pre-commit run --all-files
  cache:
  - .build_cache
  - cache_rw
  allow_failure: false

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - apt-get update || true
  - apt-get install -y -qq --no-install-recommends cmake || true
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniforge-3-002
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /TOTAL.+?([\d\.]+\%)/
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /TOTAL.+?([\d\.]+\%)/
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

refactor(MDL): Remove unnused slots slotHeartBeat and stopTracking
  src/pythonKarabo/karabo/middlelayer/signalslot.py
Due: pre-commit-check, python_unit tests

fix(GUI): Apply configuration only if the device is shown in editor.
  src/pythonGui/karabogui/panels/configurationpanel.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

docs stage changes
  .gitlab-ci.yml
  doc/library/policies.rst
Due: none

refactor(MDL): Use non durable exclusive queues
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: pre-commit-check, python_unit tests

refactor: Change ProjectDBManager defaults
  src/service.in/default/karabo_projectDBServer/run
Due: pre-commit-check

refactor: Change main logo 3 color to orange and move to K
  src/pythonGui/karabogui/icons/splash.png
  src/pythonGui/karabogui/icons/splash.png.svg
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Change main logo 3 color to orange and move to K (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/icons/splash.png
  src/pythonGui/karabogui/icons/splash.png.svg
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Fix lint stage
  .gitlab-ci.yml
Due: none

refactor: Update cache for conan 2
  .gitignore
  .gitlab-ci.yml
  extern/build.sh
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Change ProjectDBManager defaults (Cherry-pick 3.0.X hotfix)
  src/service.in/default/karabo_projectDBServer/run
Due: pre-commit-check

refactor(MDL): Speed up logging and simplify
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/ikarabo.py
  src/pythonKarabo/karabo/middlelayer/logger.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_test.py
Due: pre-commit-check, python_unit tests

refactor: Update cache for conan 2 (Cherry-pick 3.0.X)
  .gitignore
  .gitlab-ci.yml
  extern/build.sh
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(tests): Wait longer on instantiations in tests with slow broker
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server_auth.py
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

refactor: Use toml for PythonKarabo
  pytest.ini
  src/pythonKarabo/pyproject.toml
  src/pythonKarabo/setup.py
Due: pre-commit-check, python_unit tests

refactor: Change toml file for pythonKarabo and move isort
  src/pythonKarabo/.isort.cfg
  src/pythonKarabo/karabo/native/schema/tests/ufunc_test.py
  src/pythonKarabo/karabo/packaging/tests/test_versioning.py
  src/pythonKarabo/pyproject.toml
  src/pythonKarabo/setup.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Init Configuration Preview dialog.
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/init_configuration.py
  src/pythonGui/karabogui/dialogs/init_configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_init_config_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_init_configuration_preview_dialog.py
  src/pythonGui/karabogui/dialogs/ui/init_configuration_dialog.ui
  src/pythonGui/karabogui/dialogs/ui/init_configuration_preview.ui
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/topology/system_topology.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Remove ExistDB from ProjectDB and Karabo
  extern/requirements-1.txt
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/__init__.py
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/config_stubs/versioning.xconf.xml
  src/pythonKarabo/karabo/project_db/config_stubs/versioning_filter.xml
  src/pythonKarabo/karabo/project_db/const.py
  src/pythonKarabo/karabo/project_db/database.py
  src/pythonKarabo/karabo/project_db/database/__init__.py
  src/pythonKarabo/karabo/project_db/db_engine.py
  src/pythonKarabo/karabo/project_db/exist_db/__init__.py
  src/pythonKarabo/karabo/project_db/exist_db/dbsettings.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/exist_db/node.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/__init__.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_util.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/util.py
  src/pythonKarabo/karabo/project_db/models.py
  src/pythonKarabo/karabo/project_db/models_xml.py
  src/pythonKarabo/karabo/project_db/node.py
  src/pythonKarabo/karabo/project_db/testing/__init__.py
  src/pythonKarabo/karabo/project_db/tests/__init__.py
  src/pythonKarabo/karabo/project_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/tests/test_utils.py
  src/pythonKarabo/karabo/project_db/tests/utils.py
  src/pythonKarabo/karabo/project_db/util.py
  src/pythonKarabo/karabo/project_db/utils.py
Due: pre-commit-check, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Init Configuration Preview dialog. (Cherry-pick hotfix 3.0.X)
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/init_configuration.py
  src/pythonGui/karabogui/dialogs/init_configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_init_config_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_init_configuration_preview_dialog.py
  src/pythonGui/karabogui/dialogs/ui/init_configuration_dialog.ui
  src/pythonGui/karabogui/dialogs/ui/init_configuration_preview.ui
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/topology/system_topology.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove master wording from root project
  src/pythonGui/karabogui/project/dialog/project_handle.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Move isort configuration to toml file
  src/pythonGui/.isort.cfg
  src/pythonGui/pyproject.toml
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Fix python infrastructure on toml, correctly invoke pytest and gui build
  conda-recipes/karabogui/bld.bat
  conda-recipes/karabogui/build.sh
  run_python_tests.sh
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/pyproject.toml
  src/pythonKarabo/setup.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(GUI): SystemTopologyUpdate event only carries ProxyStatus enum
  src/pythonGui/karabogui/project/controller/macro.py
  src/pythonGui/karabogui/project/controller/server.py
  src/pythonGui/karabogui/topology/system_topology.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Add ProxyStatus to karabogui namespace
  src/pythonGui/karabogui/api.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Use AccessLevel also for ProjectDevices, no configuration...
  src/pythonGui/karabogui/configurator/qt_item_model.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Use AccessLevel also for ProjectDevices, no configuration... (Cherry-pick 3.0.X)
  src/pythonGui/karabogui/configurator/qt_item_model.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): SystemTopologyUpdate event only carries ProxyStatus enum (Cherry-pick 3.0.X)
  src/pythonGui/karabogui/project/controller/macro.py
  src/pythonGui/karabogui/project/controller/server.py
  src/pythonGui/karabogui/topology/system_topology.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Add ProxyStatus to karabogui namespace (Cherry-pick 3.0.X)
  src/pythonGui/karabogui/api.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Remove loop protection decorator and change configuration for loop policy
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_channel_injection.py
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/conftest.py
  src/pythonKarabo/karabo/middlelayer/pytest.ini
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

fix(DOC): Remove alarm system remnant from C++/Bound alarm condition description
  src/karabo/core/Device.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Fix version lookup for python tests for karaboVersion
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/pyproject.toml
Due: pre-commit-check, python_unit tests

refactor(GUI): Don't set local scheme in version
  src/pythonGui/pyproject.toml
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps: Upgrade pybind11 to 3.0.1
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++ test): Increase a test timeout
  src/karabo/tests/xms/SignalSlotable_Test.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

fix(Bound testing): Unique client id and kill hanging servers
  src/pythonKarabo/karabo/bound/testing/utils.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_client.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Use non durable exclusive queues (Cherry-pick hotfix 3.0.X)
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: pre-commit-check, python_unit tests

fix(C++): Unique client id even if in same process
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(MDL): Add get_timestamp test to device server test to test ticking of timeId
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
Due: pre-commit-check, python_unit tests

fix(C++): Exclusive AMQP queue
  src/karabo/net/AmqpClient.cc
  src/karabo/tests/net/Amqp_Test.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

fix(DOC): Remove alarm system remnant from C++/Bound alarm condition description (Backport 3.0.X)
  src/karabo/core/Device.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): Exclusive AMQP queue (backport 3.0.X)
  src/karabo/net/AmqpClient.cc
  src/karabo/tests/net/Amqp_Test.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

Path conditions:
  pre-commit-check: any of: src/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
