Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

GUI: Add tooltip on project load dialog for devices
  src/pythonGui/karabogui/project/dialog/load_project_with_device.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Native: Add an additional test for is_equal
  src/pythonKarabo/karabo/native/data/tests/test_hash.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Native: Fix some documentation formatting
  doc/library/pythonApiMiddlelayer.rst
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/image_data.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

MDL: Fix property test device uint vector defautl value
  src/pythonKarabo/karabo/middlelayer_devices/property_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

Fix more documentation formatting
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/image_data.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

C++: Data logger manager init failure causes error state
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/DataLogging_Test.hh
  src/karabo/devices/DataLoggerManager.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

GUI: Online to offline configuration
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/compare.py
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/tests/test_compare.py
  src/pythonGui/karabogui/binding/tests/test_config.py
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/configuration_comparison.py
  src/pythonGui/karabogui/dialogs/tests/test_config_comparison_dialog.py
  src/pythonGui/karabogui/dialogs/ui/configuration_comparison.ui
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/topology/project_device.py
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/enums.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Bound: proper reply for slotStartDevice
  src/pythonKarabo/karabo/bound_api/device.py
  src/pythonKarabo/karabo/bound_api/device_server.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/slowStartDevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_server.py
  src/pythonKarabo/karabo/integration_tests/utils.py
  src/pythonKarabo/setup.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18
