Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint
  script:
  - source ci/lint "$CI_BUILD_NAME"

deps build centos7:
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"
  image: europeanxfel/karabo-ci:centos-7gcc7

deps build ubuntu20:
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"
  image: europeanxfel/karabo-ci:ubuntu-20

deps build ubuntu18:
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"
  image: europeanxfel/karabo-ci:ubuntu-18

deps tests centos7:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

deps tests ubuntu20:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

deps tests ubuntu18:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

unit tests centos7:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

unit tests ubuntu20:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

unit tests ubuntu18:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

unit tests miniconda:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    paths:
    - junit*.xml
    - build_debug/junit*.xml
    - coverage.xml
    reports:
      junit:
      - junit*.xml
      - build_debug/junit*.xml
      cobertura:
      - coverage.xml
  script:
  ...

GUI: Provide a WindowMode for the trendline
  src/pythonGui/karabogui/controllers/display/time_graphs.py
  src/pythonGui/karabogui/controllers/display/ui_trendline.ui
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

GUI: Fix the translation of the images for external clients
  src/pythonGui/karabogui/graph/image/plot.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

MDL: UserWarning for DeviceNode
  doc/library/known_issues.rst
  src/pythonKarabo/karabo/middlelayer_api/devicenode.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

C++: Re-enable special node treatment in Hash::set(key, Hash::Node)
  src/karabo/tests/util/Hash_Test.cc
  src/karabo/util/Element.hh
  src/karabo/util/Hash.hh
  src/karabo/util/OrderedMap.hh
  src/karabo/util/StringTools.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

C++/bound: Allow also specification of defaultValue for read-only
  src/karabo/tests/util/ConfigurationTestClasses.hh
  src/karabo/util/LeafElement.hh
  src/karathon/PyUtilAlarmElement.cc
  src/karathon/PyUtilSchema.cc
  src/karathon/PyUtilStateElement.cc
  src/karathon/PythonMacros.hh
  src/pythonKarabo/karabo/bound_api/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound_api/tests/schema_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

Document 2.10.X onwards
  doc/whatsnew/2.10.rst
Due: none

Core Devices: Support a generic protocol on the alarm service
  src/integrationTests/AlarmService_Test.cc
  src/integrationTests/AlarmService_Test.hh
  src/karabo/devices/AlarmService.cc
  src/karabo/devices/AlarmService.hh
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

INFLUX: cleanup python client
  src/pythonKarabo/karabo/influxdb/client.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

FIX: Raise error on tests failure
  cmake_auto_build_all.sh
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*
