Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

fix(C++/Bound): Remove DAQ related filter code from framework
  src/karabind/PyCoreDeviceClient.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/interactive/deviceClient.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Remove ChoiceOfNodes from DataLoggerManager
  src/integrationTests/BaseLogging_Test.cc
  src/karabo/devices/DataLoggerManager.cc
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(C++): Introduce reconnection on AMQP connection loss
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpClient2.hh
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/net/AmqpUtils.cc
  src/karabo/net/AmqpUtils.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Temporary button- Make tooltip consistant
  src/pythonGui/karabogui/indicators.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Configuration Preview dialog- remove readonly tab.
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/tests/test_config.py
  src/pythonGui/karabogui/dialogs/configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_preview_dialog.py
  src/pythonGui/karabogui/dialogs/ui/configuration_preview.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Smoother config transition after logger manager choice of node removal
  src/integrationTests/BaseLogging_Test.cc
  src/karabo/devices/DataLoggerManager.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Consider also buttons when enabling or disabling table controller
  src/pythonGui/karabogui/controllers/table/controller.py
  src/pythonGui/karabogui/controllers/table/tests/test_model_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

More descriptive error message for configuration name already taken
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Fix(GUI) : Configuration Preview shows currently reconfigurable properties.
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/tests/test_config.py
  src/pythonGui/karabogui/dialogs/configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_preview_dialog.py
  src/pythonGui/karabogui/dialogs/ui/configuration_preview.ui
  src/pythonGui/karabogui/testing/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove deprecations
  src/pythonGui/karabogui/binding/tests/test_types.py
  src/pythonGui/karabogui/controllers/display/historic_text.py
  src/pythonGui/karabogui/controllers/display/sparkline.py
  src/pythonGui/karabogui/controllers/util.py
  src/pythonGui/karabogui/dialogs/update_dialog.py
  src/pythonGui/karabogui/sceneview/widget/unknown.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
  src/pythonGui/karabogui/tests/test_util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps(GUI): Update dateutil to 2.9.0
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Provide option to apply less strict values on configurable set
  src/pythonKarabo/karabo/native/schema/configurable.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove scipy optimize warnings in tests
  src/pythonGui/karabogui/graph/image/aux_plots/profiling/tests/test_controller.py
  src/pythonGui/karabogui/graph/plots/tests/test_data_analysis_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Always use the least loaded macro server when instantiating a macro
  src/pythonGui/karabogui/topology/tests/test_system_topology.py
  src/pythonGui/karabogui/topology/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Configuration Preview Dialog : Add device online/offline state to the info message
  src/pythonGui/karabogui/dialogs/configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_preview_dialog.py
  src/pythonGui/karabogui/dialogs/ui/configuration_preview.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): int type cast of max value for QInputDialog.getInput.
  src/pythonGui/karabogui/controllers/display/singlebit.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Add ConfiguratorItemType to the namespace
  src/pythonGui/karabogui/api.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Improve error message if gui server configured with wrong logger manager id
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(MDL): Remove unused trainId in historic retrieval
  src/pythonKarabo/karabo/middlelayer/device_client.py
Due: lint, test_docs, python_unit tests

refactor(GUI): populate filter index combo with header text
  src/pythonGui/karabogui/controllers/table/controller.py
  src/pythonGui/karabogui/controllers/table/tests/test_model_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): skip pipeline data from binding in configuration comparison
  src/pythonGui/karabogui/dialogs/configuration_preview.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: bundle-cppplugin.sh generates the correct
  build/karabo/bundle-cppplugin.sh
Due: none

fix: Use proper alias for Karabo's default broker
  run_python_tests.sh
  src/karabo/tests/BrokerUtils.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GUI): Don't account visibility of the topology trees
  src/pythonGui/karabogui/navigation/device_filter_model.py
  src/pythonGui/karabogui/navigation/device_model.py
  src/pythonGui/karabogui/navigation/system_filter_model.py
  src/pythonGui/karabogui/navigation/system_model.py
  src/pythonGui/karabogui/topology/device_tree.py
  src/pythonGui/karabogui/topology/system_tree.py
  src/pythonGui/karabogui/topology/tests/test_device_tree.py
  src/pythonGui/karabogui/topology/tests/test_system_tree.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: fix the history integration test, no trainId returned anymore
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix: compilation of daemontools
  extern/resources/daemontools/CMakeLists.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Compare configuration of two devices
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/compare_device_configurations.py
  src/pythonGui/karabogui/dialogs/tests/test_compare_device_configuration_dialog.py
  src/pythonGui/karabogui/dialogs/ui/compare_configuarations.ui
  src/pythonGui/karabogui/dialogs/ui/compare_configuraiton_launcher.ui
  src/pythonGui/karabogui/panels/configurationpanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): DaemonManager:requestNetwork reply with only the requested host
  src/pythonKarabo/karabo/middlelayer_devices/daemon_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Align comment for Slot schema
  src/karabo/util/Schema.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GUI): Remove class menu in SystemTopology
  src/pythonGui/karabogui/navigation/system_view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove documentation action from system topology
  src/pythonGui/karabogui/navigation/device_view.py
  src/pythonGui/karabogui/navigation/system_view.py
  src/pythonGui/karabogui/navigation/tests/test_device_model_view.py
  src/pythonGui/karabogui/navigation/tests/test_system_model_view.py
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
  src/pythonGui/karabogui/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GuiServer): GuiServers now again have 5 second timeout for requests
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): Schema::isProperty now also works for schema from MDL
  src/karabo/tests/util/ConfigurationTestClasses.hh
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/util/Schema.cc
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_client.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Validate the configuration name
  src/pythonGui/karabogui/project/dialog/device_handle.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Update Boost version info in the documentation
  doc/installation/dependency_management.rst
Due: test_docs

feat(GUI): Compare Configuration Dialog - show only changes
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/dialogs/compare_device_configurations.py
  src/pythonGui/karabogui/dialogs/configuration_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_compare_device_configuration_dialog.py
  src/pythonGui/karabogui/dialogs/ui/compare_configuarations.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

docs: GUI installation in miniforge
  doc/installation/gui.rst
Due: test_docs

docs: fix broken links
  doc/installation/gui.rst
Due: test_docs

docs: fix links with the same text
  doc/installation/gui.rst
Due: test_docs

doc: remove fancy links because rtd is old
  doc/installation/gui.rst
Due: test_docs

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
