Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint
  script:
  - source ci/lint "$CI_BUILD_NAME"

deps build centos7:
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"
  image: europeanxfel/karabo-ci:centos-7gcc7

deps build ubuntu20:
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"
  image: europeanxfel/karabo-ci:ubuntu-20

deps build ubuntu18:
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"
  image: europeanxfel/karabo-ci:ubuntu-18

deps tests centos7:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

deps tests ubuntu20:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

deps tests ubuntu18:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

unit tests centos7:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

unit tests ubuntu20:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

unit tests ubuntu18:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

unit tests miniconda:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    paths:
    - junit*.xml
    - build_debug/junit*.xml
    - coverage.xml
    reports:
      junit:
      - junit*.xml
      - build_debug/junit*.xml
      cobertura:
      - coverage.xml
  script:
  ...

GUI: Remove class schemas on server leave
  src/pythonGui/karabogui/topology/system_topology.py
  src/pythonGui/karabogui/topology/tests/test_project_device.py
  src/pythonGui/karabogui/topology/tests/test_system_topology.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

MDL: Provide better HashList repr
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/data/tests/test_utils.py
  src/pythonKarabo/karabo/native/data/utils.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Revert "GUI: Fix refreshing class schema for project devices in configurator after reinstallation"
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/panels/configurationpanel.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

GUI: Add subtests module
  conda-recipes/karabogui/environment.devenv.yml
Due: unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

C++: DeviceClient support for synchronous execution of slot with args.
  src/karabo/core/DeviceClient.hh
  src/karabo/devices/PropertyTest.cc
  src/karabo/devices/PropertyTest.hh
  src/karabo/tests/core/DeviceClient_Test.cc
  src/karabo/tests/core/DeviceClient_Test.hh
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

MDL: Add function for getClassSchema
  src/pythonKarabo/karabo/middlelayer.py
  src/pythonKarabo/karabo/middlelayer_api/device_client.py
  src/pythonKarabo/karabo/middlelayer_api/tests/device_server_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

C++ Influx: Reject too long vectors, but log all rejections in DB
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/BaseLogging_Test.hh
  src/integrationTests/DataLogging_Test.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/devices/InfluxDataLogger.hh
  src/karabo/devices/InfluxLogReader.cc
  src/karabo/devices/InfluxLogReader.hh
  src/karabo/util/DataLogUtils.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

C++ loggers: No logging re-enforcement if not needed
  src/karabo/devices/DataLoggerManager.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

GUI: Protect levels dialog from segfaulting, slider protection
  src/pythonGui/karabogui/widgets/range_slider.py
  src/pythonGui/karabogui/widgets/tests/test_range_slider.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*
