Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

refactor(C++/Bound): Remove RollingWindow statistics
  src/karabind/PyUtilRollingWindowStatistics.cc
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaElement.hh
  src/karabind/PyUtilSchemaValidator.cc
  src/karabind/karabind.cc
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/util/StatisticalEvaluator_Test.cc
  src/karabo/tests/util/StatisticalEvaluator_Test.hh
  src/karabo/util/LeafElement.hh
  src/karabo/util/RollingWindowStatistics.cc
  src/karabo/util/RollingWindowStatistics.hh
  src/karabo/util/Schema.cc
  src/karabo/util/Schema.hh
  src/karabo/util/Validator.cc
  src/karabo/util/Validator.hh
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound/tests/statistical_evaluator_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++/Bound): Remove runtime attributes and datalogging long test
  src/cppLongTests/devices/BaseLogging_Test.cc
  src/cppLongTests/devices/BaseLogging_Test.hh
  src/cppLongTests/devices/TelegrafLogging_Test.cc
  src/cppLongTests/devices/TelegrafLogging_Test.hh
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/Device_Test.cc
  src/integrationTests/PropertyTest_Test.cc
  src/karabind/PyCoreDeviceClient.cc
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceClient.hh
  src/karabo/devices/PropertyTest.cc
  src/karabo/devices/PropertyTest.hh
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_schema_injection.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests, long tests

Support update_attributes operation and active config tracking on SQL backend
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
  src/pythonKarabo/karabo/project_db/mysql_db/models.py
  src/pythonKarabo/karabo/project_db/mysql_db/models_xml.py
Due: lint, test_docs, python_unit tests

Default value of entities latest modification timestamps is now None, like in ExistDB
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
  src/pythonKarabo/karabo/project_db/mysql_db/models.py
  src/pythonKarabo/karabo/project_db/mysql_db/models_xml.py
Due: lint, test_docs, python_unit tests

feat(deps): Add aiosql to the dependencies
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat: Config DB - Simplify and adjust the backbone
  src/karabind/PyCoreDeviceClient.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client.py
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/config_db/__init__.py
  src/pythonKarabo/karabo/config_db/commands.py
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/models.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
  src/pythonKarabo/karabo/config_db/tests/test_utils.py
  src/pythonKarabo/karabo/config_db/utils.py
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Remove alarmAttributes from the descriptors
  src/pythonGui/karabogui/configurator/tests/test_model_view.py
  src/pythonGui/karabogui/controllers/display/eval.py
  src/pythonGui/karabogui/controllers/display/label.py
  src/pythonGui/karabogui/controllers/display/tests/test_alarm_labels.py
  src/pythonGui/karabogui/controllers/display/tests/test_eval.py
  src/pythonGui/karabogui/controllers/display/tests/test_label.py
  src/pythonGui/karabogui/controllers/display/tests/test_sparkline.py
  src/pythonKarabo/karabo/middlelayer_devices/property_test.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(ConfigDB): Rewrite to SQLModel and providing a Device Table relationship
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/models.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
Due: lint, test_docs, python_unit tests

refactor(MDL): MDL Server can only start MDL devices
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
Due: lint, test_docs, python_unit tests

refactor(ConfigDB): Use XML encoded Hashes in the configuration DB
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(All): Tables don't send a schema attribute in the Configuration
  src/karabo/util/Validator.cc
  src/pythonKarabo/karabo/native/schema/descriptors.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Enable to run macros from commandline more convenienly
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/macro.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove unitutil functions like linspace etc from middlelayer
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/numeric.py
  src/pythonKarabo/karabo/middlelayer/tests/unitutil_test.py
  src/pythonKarabo/karabo/middlelayer/unitutil.py
Due: lint, test_docs, python_unit tests

refactor(GUI): Remove all deprecated models, readers and writers
  src/pythonGui/karabogui/sceneview/tests/test_deprecated_widgets.py
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_widgets_image.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_widgets_plot.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_widgets_simple.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_widgets_vacuum.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_image.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_plots.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/simple.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/vacuum.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Allow broken device installation to proceed with -f option and remove non git directory
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

fix(GUI): Fix the slider fetch in detector graph
  src/pythonGui/karabogui/controllers/display/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Rename the binding attributes to their MDL equivalent
  src/pythonGui/karabogui/binding/binding_types.py
  src/pythonGui/karabogui/binding/builder.py
  src/pythonGui/karabogui/binding/config.py
  src/pythonGui/karabogui/binding/tests/test_config.py
  src/pythonGui/karabogui/binding/tests/test_types.py
  src/pythonGui/karabogui/binding/util.py
  src/pythonGui/karabogui/configurator/qt_item_model.py
  src/pythonGui/karabogui/configurator/slot_delegate.py
  src/pythonGui/karabogui/configurator/utils.py
  src/pythonGui/karabogui/configurator/view.py
  src/pythonGui/karabogui/controllers/display/command.py
  src/pythonGui/karabogui/controllers/display/historic_text.py
  src/pythonGui/karabogui/controllers/display/singlebit.py
  src/pythonGui/karabogui/controllers/display/tests/test_singlebit.py
  src/pythonGui/karabogui/controllers/display/widgetnode.py
  src/pythonGui/karabogui/controllers/table/delegates.py
  src/pythonGui/karabogui/controllers/table/model.py
  src/pythonGui/karabogui/controllers/table/tests/test_utils.py
  src/pythonGui/karabogui/controllers/table/utils.py
  src/pythonGui/karabogui/controllers/util.py
  src/pythonGui/karabogui/dialogs/compare_device_configurations.py
  src/pythonGui/karabogui/dialogs/configuration_preview.py
  src/pythonGui/karabogui/generic_scenes.py
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/panels/panel_info.py
  src/pythonGui/karabogui/panels/utils.py
  src/pythonGui/karabogui/programs/scene_test.py
  src/pythonGui/karabogui/sceneview/tools/scenedndhandler.py
  src/pythonGui/karabogui/sceneview/widget/container.py
  src/pythonGui/karabogui/sceneview/widget/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Bound: Add 'items' to Hash binding
  src/karabind/PyUtilHash.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
Due: lint, test_docs, python_unit tests

CPP/Bound: Remove PATH_ELEMENT
  src/karabind/ConfigurationTestClasses.hh
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaElement.hh
  src/karabind/PyUtilSchemaListElement.cc
  src/karabind/PyUtilSchemaNodeElement.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/FileDataLogger.cc
  src/karabo/devices/FileLogReader.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/io/BinaryFileInput.hh
  src/karabo/io/BinaryFileOutput.hh
  src/karabo/io/TextFileInput.hh
  src/karabo/io/TextFileOutput.hh
  src/karabo/log/Logger.cc
  src/karabo/tests/util/ConfigurationTestClasses.hh
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/util.hpp
  src/karabo/util/PathElement.hh
  src/karabo/util/PluginLoader.cc
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Provide Plot Curve Options
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/controllers/basearray.py
  src/pythonGui/karabogui/graph/common/api.py
  src/pythonGui/karabogui/graph/common/colors.py
  src/pythonGui/karabogui/graph/common/legend.py
  src/pythonGui/karabogui/graph/common/tests/test_colors.py
  src/pythonGui/karabogui/graph/plots/api.py
  src/pythonGui/karabogui/graph/plots/base.py
  src/pythonGui/karabogui/graph/plots/dialogs/curve_options.py
  src/pythonGui/karabogui/graph/plots/dialogs/curve_options.ui
  src/pythonGui/karabogui/graph/plots/tests/test_base.py
  src/pythonGui/karabogui/graph/plots/tests/test_curve_options_dialog.py
  src/pythonGui/karabogui/graph/plots/utils.py
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/settings.svg
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_graph_plots.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_plots.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_utils.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(ConfigDB): Provide a last_loaded parameter for the configurations
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/models.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
  src/pythonKarabo/karabo/config_db/utils.py
Due: lint, test_docs, python_unit tests

feat(MDL): Connector singleton can be configured with Broker url and topic details
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/eventloop.py
Due: lint, test_docs, python_unit tests

fix(GUI): Logbook dialog-protection against empty topic.
  src/pythonGui/karabogui/dialogs/logbook_preview.py
  src/pythonGui/karabogui/dialogs/tests/test_logbook_preview.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++/Bound): Remove alarm attributes, their schema funcs and runtimeupdates
  src/integrationTests/Device_Test.cc
  src/karabind/ConfigurationTestClasses.hh
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaElement.hh
  src/karabo/core/Device.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/io/FileInputOutput_Test.cc
  src/karabo/tests/io/SchemaSerializer_Test.cc
  src/karabo/tests/io/resources/testSchemaFile_readonly.xsd
  src/karabo/tests/util/ConfigurationTestClasses.hh
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/tests/util/Schema_Test.hh
  src/karabo/util/LeafElement.hh
  src/karabo/util/Schema.cc
  src/karabo/util/Schema.hh
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
  src/pythonKarabo/karabo/bound_devices/property_test.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/device_with_limit.py
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_schema_injection.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Cleanup the curve options for type curve
  src/pythonGui/karabogui/api.py
  src/pythonGui/karabogui/controllers/basearray.py
  src/pythonGui/karabogui/graph/common/api.py
  src/pythonGui/karabogui/graph/common/colors.py
  src/pythonGui/karabogui/graph/common/tests/test_colors.py
  src/pythonGui/karabogui/graph/plots/base.py
  src/pythonGui/karabogui/graph/plots/dialogs/curve_options.py
  src/pythonGui/karabogui/graph/plots/utils.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/graph_utils.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Provide verbosity option for AsyncServerContext
  src/pythonKarabo/karabo/middlelayer/testing/server_context.py
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
Due: lint, test_docs, python_unit tests

feat(ConfigDB): Provide option to delete a configuration from the database
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Unit tests for the mysql_db backend
  src/pythonKarabo/karabo/middlelayer_devices/tests/projectdb_util.py
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_engine.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
  src/pythonKarabo/karabo/project_db/mysql_db/tests/__init__.py
  src/pythonKarabo/karabo/project_db/mysql_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/tests/base.py
  src/pythonKarabo/karabo/project_db/tests/util.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Enable to delete a configuration from the GUI
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/configuration_from_name.py
  src/pythonGui/karabogui/dialogs/tests/test_config_from_name_dialog.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(ConfigDB): Store configurations without attributes
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix: Change open source email in setup files
  src/pythonGui/setup.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Make Enums StrEnums or IntEnums
  src/pythonKarabo/karabo/native/data/enums.py
  src/pythonKarabo/karabo/native/data/tests/test_enums.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Set tcp keep alive on input channels
  src/pythonKarabo/karabo/middlelayer/pipeline.py
Due: lint, test_docs, python_unit tests

feat(C++): Add OutputChannel under node to PropertyTest device
  src/karabo/devices/PropertyTest.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client.py
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Clean-up after FSM removal
  src/karabo/core/Device.hh
  src/karabo/core/DeviceServer.cc
  src/karabo/core/DeviceServer.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(Bound): Clean-up after FSM removal
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests

feat(MDL): Provide type annotations in broker.py
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Split schema from hash
  src/pythonGui/karabogui/binding/util.py
  src/pythonKarabo/karabo/native/data/__init__.py
  src/pythonKarabo/karabo/native/data/bin_reader.py
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/data/schema.py
  src/pythonKarabo/karabo/native/data/str_converter.py
  src/pythonKarabo/karabo/native/data/tests/test_schema.py
  src/pythonKarabo/karabo/native/data/tests/test_serializers.py
  src/pythonKarabo/karabo/native/data/xml_reader.py
  src/pythonKarabo/karabo/native/schema/utils.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Do not tolerate '@' as separator between deviceId and outputChannelId
  src/karabo/xms/InputChannel.cc
  src/karabo/xms/InputChannel.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

C++: Missing spurious boost to std migrations
  src/integrationTests/SceneProviderTestDevice.cc
  src/karabo/io/FileTools.hh
  src/karabo/log/Logger.hh
  src/karabo/tests/net/MQTcpNetworking.cc
  src/karabo/tests/net/ReadAsyncStringUntil_Test.cc
  src/karabo/tests/util/NDArray_Test.cc
  src/karabo/tests/xms/ImageData_Test.cc
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/tests/xms/Signal_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
