Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre-commit-check, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  pre-commit-check: any of: src/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

fix(GUI) : Removed the Tips page about highDPI settings
  src/pythonGui/karabogui/wizards/tips/chooch_it.html
  src/pythonGui/karabogui/wizards/tips/device_scene_link.html
  src/pythonGui/karabogui/wizards/tips/gui_extensions.html
  src/pythonGui/karabogui/wizards/tips/note_4.html
  src/pythonGui/karabogui/wizards/tips/open_device_scene.html
  src/pythonGui/karabogui/wizards/tips/project_conflicts.html
  src/pythonGui/karabogui/wizards/tips/scene_link.html
  src/pythonGui/karabogui/wizards/tips/tests/test_tip_wizard.py
  src/pythonGui/karabogui/wizards/tips/window_geometry.html
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): PyQt6 Start process with correct method
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat: Agentic C++/Bound api description
  AGENTS.cpp.md
  AGENTS.md
  AGENTS.python-bound.md
Due: none

feat: add AGENTS.middlelayer.mdl
  AGENTS.md
  AGENTS.middlelayer.md
Due: none

fix(GUI) : fix Alarm OK icon.
  src/pythonGui/karabogui/icons/alarm_none.svg
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(agent): Make agent aware about duplication with C++
  AGENTS.python-bound.md
Due: none

fix(GUI): Recalcuate arrow header on pasting arrow
  src/pythonKarabo/karabo/common/scenemodel/shapes.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_shapes.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Recycle the acceptor on accept failure inside the WebSocketListener
  src/karabo/net/WebSocketConnection.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

style(GUI): Change icon for project load and find
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/folder-open.svg
  src/pythonGui/karabogui/icons/folder-search.svg
  src/pythonGui/karabogui/panels/projectpanel.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Recycle the acceptor on accept failure inside the WebSocketListener (Cherry-pick hotfix)
  src/karabo/net/WebSocketConnection.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

fix(GUI): reinstall only GUIExtensions pacakge and not dependencies
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(docs): Fix the documentation and provide a package wrapper
  doc/conf.py
  doc/library/gui_api.rst
  doc/library/pythonApiMiddlelayer.rst
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

feat: Trigger somes docs
  doc/library/policies.rst
Due: none

refactor(Bound): Temporarily disable bound hash client test
  src/pythonKarabo/karabo/bound/tests/binding/test_amqphash_client.py
Due: pre-commit-check, python_unit tests

fix(GUI): Recalculate arrow header on x,y value changes
  src/pythonGui/karabogui/sceneview/utils.py
  src/pythonKarabo/karabo/common/scenemodel/shapes.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_shapes.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): reinstall only GUIExtensions pacakge and not dependencies(cherry-pick)
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): fit in view even when the pixmap size in bigger
  src/pythonGui/karabogui/dialogs/logbook_preview.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix cleanup of UserSession dialog
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Protect searching with invalid re pattern.
  src/pythonGui/karabogui/singletons/project_model.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GuiServer): Debug GUI Client information
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Use sphinx feature for mocking
  doc/conf.py
  doc/legacy_requirements.txt
Due: none

Fix for monitored devices loss upon GUI Server session refresh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Allow to debug the client info with a user friendly dialog
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/guidebuginfo.py
  src/pythonGui/karabogui/dialogs/tests/test_guidebuginfo.py
  src/pythonGui/karabogui/dialogs/ui/guidebuginfo.ui
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Provide an ndarray hash helper
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/native/__init__.py
  src/pythonKarabo/karabo/native/schema/__init__.py
  src/pythonKarabo/karabo/native/schema/ndarray.py
  src/pythonKarabo/karabo/native/schema/tests/utils_test.py
  src/pythonKarabo/karabo/native/schema/utils.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix for monitored devices loss upon GUI Server session refresh (hotfix)
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Put deviceId in the clipboard when device is offline under ALT mode
  src/pythonGui/karabogui/sceneview/tools/selection.py
  src/pythonGui/karabogui/sceneview/tools/tests/test_selection.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound): Temporarily disable bound hash client test (Cherry-pick hotfix)
  src/pythonKarabo/karabo/bound/tests/binding/test_amqphash_client.py
Due: pre-commit-check, python_unit tests

fix(Bound/MDL): Align karabo version (Cherry-pick hotfix)
  src/pythonKarabo/karabo/__init__.py
Due: pre-commit-check, python_unit tests

refator(CI): Update the conda packages to the latest (Cherry-pick)
  ci/miniconda/builder/build.py
  ci/miniconda/builder/mirrors.py
Due: none

feat(MDL): Add a remove device context to the AsyncDeviceContext
  src/pythonKarabo/karabo/middlelayer/testing/device_context.py
  src/pythonKarabo/karabo/middlelayer/tests/context_test.py
Due: pre-commit-check, python_unit tests

refactor(CI): Use non deprecated rules syntax
  .gitlab-ci.yml
  src/pythonGui/karabogui/access.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Add property path to colorbool tooltip
  src/pythonGui/karabogui/controllers/display/colorbool.py
  src/pythonGui/karabogui/controllers/display/tests/test_colorbool.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(CI): Adjust the release pipeline again
  .gitlab-ci.yml
Due: none

fix(GUI): Save ROI even without Aux plots
  src/pythonGui/karabogui/graph/image/base.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix filter table initial row addition
  src/pythonGui/karabogui/controllers/table/controller.py
  src/pythonGui/karabogui/controllers/table/tests/test_model_view.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): create_ndarray_hash used wrong type for shape
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/native/schema/tests/utils_test.py
  src/pythonKarabo/karabo/native/schema/utils.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(Bound): No need anymore to workaround problems fixed long ago
  src/pythonKarabo/karabo/bound/tests/boundDevice.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

feat(GUI): karabo-gui argument to show the version
  src/pythonGui/karabogui/programs/gui_runner.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): call QMessageBox.question with correct signature
  src/pythonGui/karabogui/controllers/display/command.py
  src/pythonGui/karabogui/controllers/table/delegates.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64
