Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build almalinux8, deps build almalinux9, deps build centos7, deps build debian10, deps build ubuntu20, deps build ubuntu22, cpp_deps tests almalinux8, cpp_deps tests almalinux9, cpp_deps tests centos7, cpp_deps tests debian10, cpp_deps tests ubuntu20, cpp_deps tests ubuntu22, python_deps tests almalinux8, python_deps tests almalinux9, python_deps tests centos7, python_deps tests debian10, python_deps tests ubuntu20, python_deps tests ubuntu22, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests almalinux9, python_integration tests centos7, python_integration tests debian10, python_integration tests ubuntu20, python_integration tests ubuntu22, cpp_integration tests almalinux8, cpp_integration tests almalinux9, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu22, long tests almalinux8, long tests almalinux9, long tests centos7, long tests debian10, long tests ubuntu20, long tests ubuntu22

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build almalinux8: any of: extern/**/*
  deps build almalinux9: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build debian10: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu22: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests almalinux9: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests debian10: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  cpp_deps tests ubuntu22: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests almalinux9: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests debian10: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_deps tests ubuntu22: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests almalinux9: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests debian10: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu22: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux9: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests debian10: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu22: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests almalinux9: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests debian10: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu22: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux9: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu22: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests almalinux9: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests debian10: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu22: any of: src/cppLongTests/**/*

GUI: More abstraction on logbook panel info
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/binding/tests/test_proxy.py
  src/pythonGui/karabogui/configurator/filter_model.py
  src/pythonGui/karabogui/dialogs/logbook_preview.py
  src/pythonGui/karabogui/dialogs/ui/logbook.ui
  src/pythonGui/karabogui/panels/base.py
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/panels/panel_info.py
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/panels/tests/test_configurationpanel.py
  src/pythonGui/karabogui/panels/tests/test_utils.py
  src/pythonGui/karabogui/panels/utils.py
  src/pythonGui/karabogui/sceneview/view.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/testing/__init__.py
  src/pythonGui/karabogui/testing/utils.py
  src/pythonGui/karabogui/topology/tests/test_project_device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Less copies of hash by putting headre and body into message via pointers
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpClient.cc
  src/tools/brokerRates/brokerRates.cpp
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

MDL: Describe output channel schema with displayType
  src/pythonKarabo/karabo/middlelayer/pipeline.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_pipeline_test.py
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22

signalHeartBeat: Send heartBeatInfo
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

rename instanceInfo to heartbeatInfo where it makes sense.
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

Revert "rename instanceInfo to heartbeatInfo where it makes sense."
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

Revert "signalHeartBeat: Send heartBeatInfo"
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

MDL: Delete macro_api namespace
  src/pythonKarabo/karabo/interactive/ikarabo.py
  src/pythonKarabo/karabo/macro_api/__init__.py
  src/pythonKarabo/karabo/macro_api/alarms.py
  src/pythonKarabo/karabo/macro_api/tests/__init__.py
  src/pythonKarabo/karabo/macro_api/tests/api_module_test.py
  src/pythonKarabo/karabo/macro_api/tests/interfaces_test.py
  src/pythonKarabo/karabo/macro_api/tests/test_code_quality.py
  src/pythonKarabo/karabo/macros.py
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/cli/__init__.py
  src/pythonKarabo/karabo/middlelayer/device_interface.py
  src/pythonKarabo/karabo/middlelayer/tests/interfaces_test.py
  src/pythonKarabo/karabo/tests/api_separation_test.py
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22

move pillow into the --no-binary list of dependencies to make it compile from source and link to existing libjpeg (hopefully)
  extern/requirements-0.txt
  extern/requirements-1.txt
Due: deps build almalinux8, deps build almalinux9, deps build centos7, deps build debian10, deps build ubuntu20, deps build ubuntu22, cpp_deps tests almalinux8, cpp_deps tests almalinux9, cpp_deps tests centos7, cpp_deps tests debian10, cpp_deps tests ubuntu20, cpp_deps tests ubuntu22, python_deps tests almalinux8, python_deps tests almalinux9, python_deps tests centos7, python_deps tests debian10, python_deps tests ubuntu20, python_deps tests ubuntu22
