Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18, long tests almalinux8, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build almalinux8: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests ubuntu18: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests ubuntu18: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu18: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu18: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

GUI: Cleanup topology and remove not required checks
  src/pythonGui/karabogui/topology/system_topology.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

MDL: Deregister device quickly on slotKillDevice
  src/pythonKarabo/karabo/middlelayer_api/device_server.py
  src/pythonKarabo/karabo/middlelayer_api/signalslot.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18

GUI: Compatibility numpy float
  src/pythonGui/karabogui/binding/tests/test_validate.py
  src/pythonGui/karabogui/controllers/display/multicurvegraph.py
  src/pythonGui/karabogui/controllers/display/sparkline.py
  src/pythonGui/karabogui/controllers/display/tests/test_vector_hist_graph.py
  src/pythonGui/karabogui/graph/plots/tests/test_base.py
  src/pythonGui/karabogui/graph/plots/utils.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Native: Add test for get_array_data with exception
  src/pythonKarabo/karabo/native/data/tests/test_utils.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Finally move ProxyStatus to the GUI and cleanup
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/binding/enums.py
  src/pythonGui/karabogui/binding/proxy.py
  src/pythonGui/karabogui/binding/tests/test_proxy.py
  src/pythonGui/karabogui/configurator/tests/test_model_view.py
  src/pythonGui/karabogui/controllers/display/devicescenelink.py
  src/pythonGui/karabogui/controllers/display/tests/test_devicescenelink.py
  src/pythonGui/karabogui/controllers/display/tests/test_eval.py
  src/pythonGui/karabogui/controllers/display/tests/test_label.py
  src/pythonGui/karabogui/controllers/tests/test_base_binding_controller.py
  src/pythonGui/karabogui/dialogs/client_topology.py
  src/pythonGui/karabogui/dialogs/tests/test_preview_dialog.py
  src/pythonGui/karabogui/indicators.py
  src/pythonGui/karabogui/panels/tests/test_configurationpanel.py
  src/pythonGui/karabogui/panels/tests/test_controller_panel.py
  src/pythonGui/karabogui/project/controller/bases.py
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/project/controller/macro.py
  src/pythonGui/karabogui/project/controller/server.py
  src/pythonGui/karabogui/project/controller/tests/test_device_config_controller.py
  src/pythonGui/karabogui/project/dialog/device_configuration.py
  src/pythonGui/karabogui/project/dialog/tests/test_project_conf_dialog.py
  src/pythonGui/karabogui/sceneview/tests/test_deprecated_widgets.py
  src/pythonGui/karabogui/sceneview/tests/test_fonts.py
  src/pythonGui/karabogui/sceneview/tests/test_view.py
  src/pythonGui/karabogui/sceneview/tools/widgethandler.py
  src/pythonGui/karabogui/sceneview/widget/container.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/testing/utils.py
  src/pythonGui/karabogui/tests/test_request.py
  src/pythonGui/karabogui/topology/project_device.py
  src/pythonGui/karabogui/topology/system_topology.py
  src/pythonGui/karabogui/topology/tests/test_project_device.py
  src/pythonGui/karabogui/topology/tests/test_system_topology.py
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/enums.py
  src/pythonKarabo/karabo/common/project/server.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Common: Rename to InstanceStatus
  src/pythonGui/karabogui/dialogs/client_topology.py
  src/pythonGui/karabogui/indicators.py
  src/pythonGui/karabogui/navigation/device_model.py
  src/pythonGui/karabogui/navigation/system_filter_model.py
  src/pythonGui/karabogui/navigation/system_model.py
  src/pythonGui/karabogui/project/controller/bases.py
  src/pythonGui/karabogui/testing/utils.py
  src/pythonGui/karabogui/topology/device_tree.py
  src/pythonGui/karabogui/topology/project_device.py
  src/pythonGui/karabogui/topology/system_tree.py
  src/pythonGui/karabogui/topology/tests/test_device_tree.py
  src/pythonGui/karabogui/topology/tests/test_project_device.py
  src/pythonGui/karabogui/topology/tests/test_system_topology.py
  src/pythonGui/karabogui/topology/tests/test_system_tree.py
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/enums.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Optimize trait event project device
  src/pythonGui/karabogui/topology/project_device.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

More flexible Configuration Sets support in the ConfigurationDatabase.
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
  src/pythonKarabo/karabo/config_db/utils.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18
