Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre-commit-check, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

pre-commit-check:
  stage: lint
  image: python:3.12
  tags:
  - KaraboFramework
  before_script:
  - find /cache || true
  script:
  - pip install pre-commit
  - pre-commit run --all-files
  cache:
  - .build_cache
  - cache_rw
  allow_failure: false

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - apt-get update || true
  - apt-get install -y -qq --no-install-recommends cmake || true
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniforge-3-002
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /TOTAL.+?([\d\.]+\%)/
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  coverage: /TOTAL.+?([\d\.]+\%)/
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdbhost
  - name: influxdb:1.8.0
    alias: influxdbhost
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

fix(C++): Also updates injected in preReconfigure need validation (and timestamp) (BACKPORT to 3.0.X)
  src/integrationTests/Device_Test.cc
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(Bound): Also updates injected in preReconfigure need validation (and timestamp)
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

feat: Improve help of broker message logger for selection string
  src/brokerMessageLogger/brokerMessageLogger.cc
Due: pre-commit-check, cpp_unit tests

fix(Bound): Also updates injected in preReconfigure need validation (and timestamp) (BACKPORT to 3.0.X)
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

fix(CI): Windows copy the sharded package data
  ci/miniforge/builder/build.py
  ci/miniforge/builder/utils.py
Due: none

Add Ubuntu-26 platform to the CI
  .gitlab-ci.yml
  doc/library/testing.rst
  extern/build.sh
  extern/conanfile-bootstrap.txt
  extern/conanfile.txt
  extern/conanprofile.karabo
  extern/resources/daemontools/CMakeLists.txt
  extern/resources/nss/conandata.yml
  extern/resources/nss/conanfile.py
  src/karabo/CMakeLists.txt
  src/karabo/data/io/HashBinarySerializer.cc
  src/karabo/data/io/HashBinarySerializer.hh
  src/karabo/data/types/StringTools.hh
  src/karabo/net/AmqpUtils.hh
Due: pre-commit-check, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

C++: Default encoding UNDEFINED (as in Bound) to judge between GRAY and RGB[A]
  src/karabo/tests/xms/testImageData.cc
  src/karabo/xms/ImageData.cc
  src/karabo/xms/ImageData.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests

fix(C++): Avoid ERROR log if remote called a non-existing log
  src/karabo/xms/SignalSlotable.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests

Turn minClientVersion into an init-only parameter
  src/karabo/devices/GuiServerDevice.cc
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): Remove Statics - unused since ages (or longer)
  src/karabo/xms/Statics.cc
  src/karabo/xms/Statics.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests

fix(CI): Run integration tests also if SignalSlotable, Input- or OutputChannel change
  .gitlab-ci.yml
Due: none

fix(tests): Failure message for call of non-existing slot was shortened
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
Due: pre-commit-check, python_unit tests, python_integration tests, cpp_integration tests

Remove minClientVersion per message type check
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

ci(GUI): Make the CI output more verbose.
  ci/miniforge/builder/build.py
  ci/miniforge/builder/mirrors.py
Due: none

fix: Need CI packages
  ci/miniforge/builder/mirrors.py
Due: none

fix: Set the default mirror
  ci/miniforge/builder/mirrors.py
Due: none

fix(C++): Default deviceId makes no sense anymore in Karabo 3
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/GuiServerDevice.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(Bound): Add binding Timestamp.getEpochstamp (and getTimeId)
  src/karabind/PyUtilTimestamp.cc
  src/pythonKarabo/karabo/bound/tests/timestamp_test.py
Due: pre-commit-check, python_unit tests

Increase the time between sending a final notification and disconnecting
  src/karabo/devices/GuiServerDevice.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Use ItemFlag in Configurator proxy flag as default
  src/pythonGui/karabogui/configurator/qt_item_model.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix QPalette background declaration in Configurator for Slots
  src/pythonGui/karabogui/configurator/utils.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Make device children visible in topology search when looking for classes
  src/pythonGui/karabogui/navigation/device_filter_model.py
  src/pythonGui/karabogui/navigation/system_filter_model.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps: Downgrade lxml and have more debug for the GUI
  ci/miniforge/builder/build.py
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Use remove-destination option if copy in karabo.py
  src/pythonKarabo/karabo/interactive/karabo.py
Due: pre-commit-check, python_unit tests

fix(GUI): Update more QModelIndex on config update
  src/pythonGui/karabogui/configurator/qt_item_model.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Resolve "WebSocket on GuiServer in addition to TcpChannel for Clients"
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/net/Channel.hh
  src/karabo/net/TcpChannel.hh
  src/karabo/net/WebSocketChannel.cc
  src/karabo/net/WebSocketChannel.hh
  src/karabo/net/WebSocketConnection.cc
  src/karabo/net/WebSocketConnection.hh
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/net/testTcpNetworking.cc
  src/karabo/tests/net/testWebSocketNetworking.cc
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server_auth.py
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Use correct frame declaration on sticker widget
  src/pythonGui/karabogui/sceneview/widget/sticker.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Set correct PenStyle in shape
  src/pythonGui/karabogui/sceneview/shapes.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): forward arguments in bind_weak
  src/karabo/tests/util/testMetaTools.cc
  src/karabo/util/MetaTools.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests

feat(deps): Update several dependencies: numpy, scipy, pint, pyzmq, tornado...
  extern/requirements-0.txt
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

assure killing a device server actually exits it
  src/pythonKarabo/karabo/middlelayer/device_server.py
Due: pre-commit-check, python_unit tests

fix: assure killing a device server actually exits it (Cherry-pick hotfix 3.0.X)
  extern/conanfile.txt
  src/pythonKarabo/karabo/middlelayer/device_server.py
Due: pre-commit-check, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Remove lxml from Karabo
  conda-recipes/karabogui/environment.devenv.yml
  src/pythonGui/karabogui/wizards/tips/wizard.py
  src/pythonKarabo/karabo/native/project/io.py
  src/pythonKarabo/karabo/project_db/database.py
  src/pythonKarabo/karabo/project_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/tests/test_utils.py
  src/pythonKarabo/karabo/project_db/utils.py
Due: pre-commit-check, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add binding and test for websocket
  src/karabind/PyNetConnectionChannel.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_websocket.py
Due: pre-commit-check, python_unit tests

Cleaning TCP channel casts in GuiServerDevice
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/net/Channel.hh
  src/karabo/net/TcpChannel.hh
  src/karabo/net/WebSocketChannel.hh
  src/karabo/xms/SignalSlotable.cc
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(C++): Convenience method like Device::get that allows to provide an update source
  src/integrationTests/testDevice.cc
  src/karabo/core/Device.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Fix complaints for newer flake8 versions
  src/pythonGui/karabogui/dialogs/device_capability.py
  src/pythonGui/karabogui/dialogs/scene_link_dialog.py
  src/pythonGui/karabogui/project/controller/subproject.py
  src/pythonGui/karabogui/request.py
  src/pythonGui/karabogui/sceneview/tools/scenedndhandler.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
  src/pythonGui/karabogui/topology/tests/test_system_topology.py
  src/pythonGui/karabogui/topology/util.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GuiServer): Fix websocket for pipeline data forwarding
  src/karabo/net/WebSocketChannel.cc
  src/karabo/net/WebSocketChannel.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests

fix(GUI): Fix configurator model dataChanged index announcement
  src/pythonGui/karabogui/configurator/qt_item_model.py
Due: pre-commit-check, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Mangle slot names also in registerSlot
  src/karabo/tests/xms/testSignalSlotable.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: pre-commit-check, python_unit tests, cpp_unit tests

Path conditions:
  pre-commit-check: any of: src/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound/launcher.py, src/pythonKarabo/karabo/bound/device_runner.py, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
