Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

fix: fix Integration tests for pipeline processing
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/ppsender.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/test_bound_device.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor: Remove rollingWindowStatistics remnants from bound device
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests

Fix deprecation warning while compiling pugixml
  src/karabo/data/io/HashXmlSerializer.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(FW): New AMQP exchanges and routing keys, shrink message headers
  src/brokerMessageLogger/brokerMessageLogger.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/karabo/core/DeviceServer.cc
  src/karabo/core/DeviceServer.hh
  src/karabo/devices/DataLogger.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpBroker.hh
  src/karabo/net/AmqpHashClient.cc
  src/karabo/net/AmqpHashClient.hh
  src/karabo/net/Broker.cc
  src/karabo/net/Broker.hh
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Broker_Test.cc
  src/karabo/tests/net/Broker_Test.hh
  src/karabo/tests/xms/SignalSlotable_Test.cc
  src/karabo/xms/Signal.cc
  src/karabo/xms/Signal.hh
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer/heartbeat_mixin.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
  src/pythonKarabo/karabo/middlelayer/tests/device_test.py
  src/tools/brokerRates/brokerRates.cpp
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++ test): Amqp test waits until connection use_count reaches one
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Logbook Dialog : Differentiate logbooks
  src/pythonGui/karabogui/dialogs/logbook_preview.py
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/info.svg
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): Clean C++ Slot from non-existing info like userId
  src/integrationTests/Device_Test.cc
  src/karabo/devices/DataLogger.cc
  src/karabo/devices/DataLogger.hh
  src/karabo/devices/FileDataLogger.cc
  src/karabo/devices/FileDataLogger.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/devices/InfluxDataLogger.hh
  src/karabo/tests/xms/Slot_Test.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/karabo/xms/Slot.cc
  src/karabo/xms/Slot.hh
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++): follow up refactored slotPing in client in case of unexpected instanceUpdated
  src/karabo/core/DeviceClient.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(Bound): Simplify Worker
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/worker_test.py
  src/pythonKarabo/karabo/bound/worker.py
Due: lint, test_docs, python_unit tests

feat(ProjectManager): Find macros in projects
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/database/db_reader.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Shrink image data, remove dimScales and dimTypes
  src/pythonKarabo/karabo/native/__init__.py
  src/pythonKarabo/karabo/native/data/__init__.py
  src/pythonKarabo/karabo/native/data/enums.py
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat: Add revolutions per minute as Unit to the framework
  src/karabind/PyUtilSchema.cc
  src/karabo/data/types/Units.hh
  src/pythonKarabo/karabo/native/data/enums.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Test): Refactor configuration manager cross test to pytest
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat: Provide a conftest for integration tests
  src/pythonKarabo/karabo/integration_tests/conftest.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/integration_tests/mdl_client_test/remote_client_test.py
  src/pythonKarabo/karabo/integration_tests/pipeline_long_test/test_pipeline.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Convert converter function tests to pytest
  src/pythonKarabo/karabo/native/data/tests/test_converters.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix for InfluxLogReader doesn't go to ERROR state when querying a non-Influx server
  src/integrationTests/DataLogging_Test.cc
  src/karabo/devices/InfluxLogReader.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Show question dialog at mouse cursor
  src/pythonGui/karabogui/sceneview/tools/clipboard.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound/C++): Remove dimScales and dimTypes from ImageData
  src/karabind/PyXmsImageDataElement.cc
  src/karabo/tests/xms/ImageData_Test.cc
  src/karabo/xms/ImageData.cc
  src/karabo/xms/ImageData.hh
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/tests/binding/test_imagedata.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/imagedata_test.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix: Realign Worker arguments, timeout comes before single shot
  src/pythonKarabo/karabo/bound/tests/worker_test.py
  src/pythonKarabo/karabo/bound/worker.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Cleanup project db testing utils for readability
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/testing/__init__.py
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Optimize reading of code in project db reader
  src/pythonKarabo/karabo/project_db/database/db_reader.py
Due: lint, test_docs, python_unit tests

fix(Bound): Enable lock test in deviceclient test
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
Due: lint, test_docs, python_unit tests

refactor: Align MDL device template for pytest asyncio
  src/templates/middlelayer/minimal/src/__PACKAGE_NAME__/tests/conftest.py
  src/templates/middlelayer/minimal/src/__PACKAGE_NAME__/tests/device_test.py
Due: lint, test_docs

refactor(Bound): Remove launchPythonDevice from public namespace
  doc/concepts/general_concepts.rst
  public_docs/concepts.md
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/commtestdevice.py
  src/pythonKarabo/karabo/integration_tests/device_provided_scenes_test/non_scene_providing_device.py
  src/pythonKarabo/karabo/integration_tests/device_provided_scenes_test/scene_providing_device.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/ppreceiver.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/ppsender.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Remove now unnecessary reconnects in proxy and timeserver
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/proxy.py
Due: lint, test_docs, python_unit tests

refactor: Remove description and user from project models
  src/pythonGui/karabogui/project/controller/device.py
  src/pythonGui/karabogui/project/controller/scene.py
  src/pythonGui/karabogui/project/dialog/device_handle.py
  src/pythonGui/karabogui/project/dialog/project_handle.py
  src/pythonGui/karabogui/project/utils.py
  src/pythonKarabo/karabo/common/project/bases.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/native/project/io.py
  src/pythonKarabo/karabo/project_db/database/db_reader.py
  src/pythonKarabo/karabo/project_db/database/db_writer.py
  src/pythonKarabo/karabo/project_db/database/models.py
  src/pythonKarabo/karabo/project_db/database/models_xml.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(MDL): Slightly cleanup broker interface
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/proxy.py
Due: lint, test_docs, python_unit tests

feat: Add a template test for bound devices
  src/templates/python/minimal/src/__PACKAGE_NAME__/tests/__init__.py
  src/templates/python/minimal/src/__PACKAGE_NAME__/tests/conftest.py
  src/templates/python/minimal/src/__PACKAGE_NAME__/tests/device_test.py
Due: lint, test_docs

test(Bound): (Re-)connection if signal instance gets online after connection
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_boundCpp_signalConnect.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(ProjectDB): Make find device by name incasesensitive and provide a test
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/database/db_reader.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(ProjectDB): Provide find servers in projects and harmonize
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/project_db/database/db_reader.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix: Fix integration signal slot ordering test after new connect signature
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/mdl_ordertest_device.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(ProjectDB): Update interface for trashing projects
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Load Project With Item Dialog to search for all items
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/panels/projectpanel.py
  src/pythonGui/karabogui/project/dialog/load_project_with_item.py
  src/pythonGui/karabogui/project/dialog/ui/load_project_with_item.ui
  src/pythonGui/karabogui/project/utils.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/db_connection.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Update project trashed interface for the GUI
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/project/dialog/project_handle.py
  src/pythonGui/karabogui/project/view.py
  src/pythonGui/karabogui/singletons/db_connection.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_db_connection.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++/Bound): Remove useless io event handler of OutputChannel
  src/karabind/PyXmsInputOutputChannel.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabo/xms/OutputChannel.cc
  src/karabo/xms/OutputChannel.hh
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_pipeline_api.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(MDL): Rename enum EncodingType to Encoding to align with C++/Bound
  src/pythonGui/karabogui/controllers/arrays.py
  src/pythonGui/karabogui/controllers/display/detector_graph.py
  src/pythonGui/karabogui/controllers/display/image_graph.py
  src/pythonGui/karabogui/controllers/display/tests/image.py
  src/pythonGui/karabogui/controllers/display/tests/test_detector_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_image_graph.py
  src/pythonGui/karabogui/graph/image/image_node.py
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/native/__init__.py
  src/pythonKarabo/karabo/native/data/__init__.py
  src/pythonKarabo/karabo/native/data/enums.py
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Refactor schema test to pytest
  src/pythonKarabo/karabo/native/data/tests/test_hash.py
  src/pythonKarabo/karabo/native/data/tests/test_schema.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Refactor injection integration test to pytest
  src/pythonKarabo/karabo/integration_tests/device_schema_injection_test/test_device_schema_injection.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(C++/Bound): Remove unused lock shorthand feature and remove login logout from deviceclient
  src/integrationTests/CMakeLists.txt
  src/integrationTests/Device_Test.cc
  src/integrationTests/Device_Test.hh
  src/integrationTests/LockTestDevice.cc
  src/integrationTests/LockTestDevice.hh
  src/integrationTests/LockTest_Test.cc
  src/integrationTests/LockTest_Test.hh
  src/karabind/PyCoreDeviceClient.cc
  src/karabind/PyCoreLockWrap.cc
  src/karabind/PyCoreLockWrap.hh
  src/karabind/karabind.cc
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceClient.hh
  src/karabo/core/Lock.cc
  src/karabo/core/Lock.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
  src/pythonKarabo/karabo/interactive/deviceClient.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests
