Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests centos7, python_integration tests ubuntu20, python_integration tests ubuntu18, cpp_integration tests almalinux8, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu18, long tests almalinux8, long tests centos7, long tests ubuntu20, long tests ubuntu18

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint
  script:
  - source ci/lint ALL

deps build almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build ubuntu20:
  image: europeanxfel/karabo-ci:ubuntu-20
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

deps build ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  tags:
  - KaraboFramework
  stage: build
  script:
  - source ci/prepare "$CI_BUILD_NAME"
  - source ci/build "$CI_BUILD_NAME"

cpp_deps tests almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests ubuntu18:
  image: europeanxfel/karabo-ci:ubuntu-18
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

cpp_deps tests ubuntu20:
  image: europeanxfel/karabo-ci:ubuntu-20
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

python_deps tests almalinux8:
  image: europeanxfel/karabo-ci:almalinux-8-000
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

python_deps tests centos7:
  image: europeanxfel/karabo-ci:centos-7gcc7
  tags:
  - KaraboFramework
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.7.8
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
  ...

GUI: Provide toolbar in Configuration Editor when in cinema mode
  src/pythonGui/karabogui/singletons/panel_wrangler.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

MDL: Add create_instanceId to testing namespace and enhance
  src/pythonKarabo/karabo/middlelayer/testing/__init__.py
  src/pythonKarabo/karabo/middlelayer_api/tests/eventloop.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18

GUI: Provide option to retrieve default scene on TableStringButton
  src/pythonGui/karabogui/controllers/table/delegates.py
  src/pythonGui/karabogui/controllers/table/tests/test_model_view.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

GUI: Add validator again to list regex edit
  src/pythonGui/karabogui/controllers/edit/list.py
  src/pythonGui/karabogui/controllers/edit/tests/test_list.py
Due: lint, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

C++/Bound: Add flag to avoid NDArray data copy even if pipeline queues
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/tests/xms/InputOutputChannel_Test.hh
  src/karabo/util/Validator.cc
  src/karabo/xms/OutputChannel.cc
  src/karabo/xms/OutputChannel.hh
  src/karathon/PyXmsInputOutputChannel.cc
  src/karathon/PyXmsInputOutputChannel.hh
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18, cpp_unit tests almalinux8, cpp_unit tests centos7, cpp_unit tests ubuntu20, cpp_unit tests ubuntu18

CI: Add build and test jobs for Ubuntu22.
  .gitlab-ci.yml
  extern/build.sh
  src/karabo/CMakeLists.txt
Due: lint, deps build almalinux8, deps build centos7, deps build ubuntu20, deps build ubuntu18, cpp_deps tests almalinux8, cpp_deps tests centos7, cpp_deps tests ubuntu18, cpp_deps tests ubuntu20, python_deps tests almalinux8, python_deps tests centos7, python_deps tests ubuntu18, python_deps tests ubuntu20

DOCS: remove duplication for C++ in 2.16
  doc/whatsnew/2.16.rst
Due: none

MDL: Protect NoEventLoop from launching tasks when beingoing down
  src/pythonKarabo/karabo/middlelayer_api/eventloop.py
Due: lint, python_unit tests almalinux8, python_unit tests centos7, python_unit tests ubuntu20, python_unit tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build almalinux8: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests ubuntu18: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests ubuntu18: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu18: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu18: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*
