Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

C++/BOUND: Remove archive from the schema
  src/integrationTests/Device_Test.cc
  src/karabo/core/Device.hh
  src/karabo/devices/DataLoggerManager.cc
  src/pythonKarabo/karabo/bound_api/device.py
  src/pythonKarabo/karabo/bound_api/tests/schema_adler_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

Fix exception message order in userFriendlyMsg()
  src/karabo/tests/util/Exception_Test.cc
  src/karabo/tests/util/Exception_Test.hh
  src/karabo/util/Exception.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

Increase timeout for slot calls
  src/karabo/tests/xms/SignalSlotable_Test.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

Bound: Full use of slot failure API extended to provide details
  src/karathon/PyXmsSignalSlotable.cc
  src/karathon/SignalSlotableWrap.cc
  src/pythonKarabo/karabo/bound_api/tests/xms_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

GUI: Only send subscribeToLogs after login
  src/pythonGui/karabogui/programs/cinema.py
  src/pythonGui/karabogui/programs/tests/test_cinema.py
  src/pythonGui/karabogui/programs/tests/test_theatre.py
  src/pythonGui/karabogui/programs/theatre.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

GUI: Show proper tooltip for buttons (deviceId.key)
  src/pythonGui/karabogui/controllers/display/command.py
  src/pythonGui/karabogui/controllers/display/tests/test_command.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

TEST: remove remote_console test
  run_python_tests.sh
  src/pythonKarabo/karabo/integration_tests/remote_console_test/__init__.py
  src/pythonKarabo/karabo/integration_tests/remote_console_test/test_remote_console.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18

MDL: Deprecate archivePolicy for descriptors
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64

GUI: Table without resizeToContents stretches last column
  src/pythonGui/karabogui/controllers/table/controller.py
  src/pythonGui/karabogui/controllers/table/tests/test_custom_table_controller.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64
