Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

Better error handling for no schema with given digest found.
  src/karabo/devices/InfluxLogReader.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

C++ OVERWRITE_ELEMENT: Take care that min and max size of vectors/tables are consistent.
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/tests/util/Schema_Test.hh
  src/karabo/util/OverwriteElement.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

cleanup of local conan recipes
  extern/build.sh
  extern/resources/boost/conandata.yml
  extern/resources/boost/conanfile.py
  extern/resources/boost/dependencies/dependencies-1.82.0.yml
  extern/resources/boost/patches/1.82.0-locale-iconv-library-option.patch
  extern/resources/daemontools/conanfile.py
  extern/resources/log4cpp/conanfile.py
  extern/resources/openmq/conanfile.py
  extern/resources/openmqc/conanfile.py
  extern/resources/python/conandata.yml
  extern/resources/python/conanfile.py
  extern/resources/python/patches/3.10.0-0003-_ctypes-ffi.patch
  extern/resources/python/patches/3.10.0-0004-setup.py-pass-CFLAGS-CPPFLAGS.patch
  extern/resources/python/patches/3.10.0-0005-disable-macos-tcltk.patch
  extern/resources/python/patches/3.11.6-0004-setup.py-pass-CFLAGS-CPPFLAGS.patch
  extern/resources/python/patches/3.8.12-0002-_ctypes-ffi.patch
  extern/resources/python/patches/3.8.12-0003-setup.py-pass-CFLAGS-CPPFLAGS.patch
  extern/resources/python/patches/3.8.12-0004-disable-macos-tcltk.patch
  extern/resources/python/patches/3.8.16-0004-disable-macos-tcltk.patch
  extern/resources/python/patches/3.x-0001-relocatable-python-config.patch
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(C++): Throw on false output channel addresses and take into account adapter names #810
  src/karabo/net.hpp
  src/karabo/net/NetworkInterface.cc
  src/karabo/net/NetworkInterface.hh
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/net/NetworkInterface_Test.cc
  src/karabo/tests/net/NetworkInterface_Test.hh
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/xms/OutputChannel.cc
  src/pythonKarabo/karabo/bound_api/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Install GUIExtensions in user space
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI Server): Replace "escalation" with "temporary session"
  doc/library/guiServer.rst
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/GuiServer_Test.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/devices/GuiServerSessionEscalator.cc
  src/karabo/devices/GuiServerSessionEscalator.hh
  src/karabo/devices/GuiServerTemporarySessionManager.cc
  src/karabo/devices/GuiServerTemporarySessionManager.hh
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/temp_session_dialog.ui
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

feat(C++): Add AmqpHashClient for new AMQP interface (wraps around AmqpClient2 and serializes)
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpClient2.hh
  src/karabo/net/AmqpHashClient.cc
  src/karabo/net/AmqpHashClient.hh
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Store Username along with refresh token.
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Add Switch icons for authentication
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/lock_switch.svg
  src/pythonGui/karabogui/icons/lock_switch_active.svg
  src/pythonGui/karabogui/icons/lock_switch_warning.svg
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Rename remnants references to Escalation
  src/karabo/devices/GuiServerTemporarySessionManager.cc
  src/karabo/devices/GuiServerTemporarySessionManager.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(C++): New AMQP clients get an unsubscribeAll
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpClient2.hh
  src/karabo/net/AmqpHashClient.hh
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(GUI): Authentication dialog: Make access code ui same as in the webpage
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): move dependencies in update dialog into an own tab
  src/pythonGui/karabogui/dialogs/ui/update_dialog.ui
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Rework mechanism of initializing a model with classmethod instead of staticmethod
  src/pythonGui/karabogui/controllers/base.py
  src/pythonGui/karabogui/controllers/baselabel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Include loading bar in update dialog
  src/pythonGui/karabogui/dialogs/ui/update_dialog.ui
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Introduce fully shared items in configuration singleton
  src/pythonGui/karabogui/dialogs/tests/test_app_configuration_dialog.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): AmqpConnection provides connection status and current URL
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(C++): AMQP concurrent subscriptions to same exchange/routing key
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpClient2.hh
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

add nss conanfile that is v2 compatible
  extern/build.sh
  extern/conanfile.txt
  extern/resources/nss/conandata.yml
  extern/resources/nss/conanfile.py
  extern/resources/openmqc/conanfile.py
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Add libmamba to dependencies
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

some old self.copy calls snuck through, replace with conan v2 compatible ones
  extern/resources/openmq/conanfile.py
  extern/resources/openmqc/conanfile.py
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(CI): Use less workers for GUI testing
  conda-recipes/karabogui/_run_test.py
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): New access code widget in Temperoray Session Dialog.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/temp_session_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Test that new AMQP client publishes to non-existing exchange
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

Support for read-only session on authenticated servers
  ci/lint
  doc/library/guiServer.rst
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Transport deprecated widgets test to pytest
  src/pythonGui/karabogui/sceneview/tests/test_deprecated_widgets.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Handle the authentication failure correctly
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Temporary session from Scene panel.
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/indicators.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Rework Mainwindows menus
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Device server instanceNew already with deviceClasses
  src/karabo/core/DeviceServer.cc
  src/karabo/core/DeviceServer.hh
  src/karabo/tests/core/DeviceClient_Test.cc
  src/karabo/tests/core/DeviceClient_Test.hh
  src/pythonKarabo/karabo/bound_api/tests/binding/test_zcore_device_client2.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): ReadOnly implementation for authentication without access token
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/reactive_login_dialog.ui
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

TOOLS: add --all flag to karabo-stop
  doc/run/all_local.rst
  src/pythonKarabo/karabo/interactive/startkarabo.py
Due: lint, test_docs, python_unit tests

always ensure python binary finds its library
  extern/build.sh
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Add more specific packages to windows conda mirror
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Allow dev tags of 2.20.0 to start readOnly sessions
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Fix the windows GUI dependencies build process
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(CI): Adjust miniconda scripts
  .gitlab-ci.yml
  ci/miniconda/__main__.py
  ci/miniconda/main.py
  src/pythonGui/karabogui/singletons/configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Store the referesh token info in the shared singleton config.
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): Switch to new AMQP implementation
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpBroker.hh
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpClient2.hh
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/net/AmqpHashClient.cc
  src/karabo/net/AmqpHashClient.hh
  src/karabo/net/Broker.hh
  src/karabo/tests/core/DeviceClient_Test.cc
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
  src/pythonKarabo/karabo/bound_api/tests/binding/test_pipeline_api.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_zcore_device_client2.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(CI): Update meta base for gui building
  conda-recipes/karabogui/meta_base.yaml
  src/pythonGui/setup.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
