Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

feat(GUI): Provide item type when reading from project DB
  src/pythonGui/karabogui/singletons/db_connection.py
  src/pythonGui/karabogui/singletons/tests/test_db_connection.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(ProjectDB): Remove entrypoint system and remove filedatabase
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_file_project_manager.py
  src/pythonKarabo/karabo/project_db/exist_db/node.py
  src/pythonKarabo/karabo/project_db/file_db/__init__.py
  src/pythonKarabo/karabo/project_db/file_db/database.py
  src/pythonKarabo/karabo/project_db/file_db/node.py
  src/pythonKarabo/karabo/project_db/file_db/tests/__init__.py
  src/pythonKarabo/karabo/project_db/file_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/mysql_db/node.py
  src/pythonKarabo/karabo/project_db/tests/test_util.py
  src/pythonKarabo/karabo/project_db/util.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(ProjectDB): Move xml converter functionality to utils
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/exist_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/tests/base.py
  src/pythonKarabo/karabo/project_db/tests/test_util.py
  src/pythonKarabo/karabo/project_db/util.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): refactor project db emitter for less copies
  src/pythonKarabo/karabo/project_db/mysql_db/models_xml.py
Due: lint, test_docs, python_unit tests

doc: point to gitlab pages
  CONTRIBUTING.md
  README.md
  doc/installation/sources.rst
  src/karabo/cmake/karaboPackageDependencies-GNU-Linux-x86.pc.in
  src/pythonGui/karabogui/dialogs/ui/about.ui
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): Split NDArrayElement from NDArray (=> no use of Schema in NDArray)
  src/integrationTests/P2PSenderDevice.cc
  src/karabind/ConfigurationTestClasses.hh
  src/karabind/PyUtilSchemaElement.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/util/ConfigurationTestClasses.hh
  src/karabo/tests/xms/ImageData_Test.cc
  src/karabo/util/CustomNodeElement.hh
  src/karabo/util/NDArray.cc
  src/karabo/util/NDArray.hh
  src/karabo/util/NDArrayElement.cc
  src/karabo/util/NDArrayElement.hh
  src/karabo/xms/ImageData.cc
  src/karabo/xms/ImageData.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(ProjectDB): Continue cleanup on abtract interface for projcet DB
  src/pythonKarabo/karabo/middlelayer_devices/tests/projectdb_util.py
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/exist_db/database.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_util.py
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/testing/__init__.py
  src/pythonKarabo/karabo/project_db/testing/util.py
  src/pythonKarabo/karabo/project_db/tests/base.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Use item_type (if specified) on load_item
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
Due: lint, test_docs, python_unit tests

fix(ProjectDB): Fix the date stamping of modifications of instances in the project
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Async rewrite of project db interface
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/projectdb_util.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/__init__.py
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/exist_db/__init__.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/exist_db/node.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/util.py
  src/pythonKarabo/karabo/project_db/mysql_db/__init__.py
  src/pythonKarabo/karabo/project_db/mysql_db/node.py
  src/pythonKarabo/karabo/project_db/mysql_db/sql_database.py
  src/pythonKarabo/karabo/project_db/mysql_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/mysql_db/util.py
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Fix operation 'load project with device' for MySQL
  src/pythonKarabo/karabo/project_db/bases.py
Due: lint, test_docs, python_unit tests

feat(Deps): Add aiomysql as framework dependency
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

BOUND: fix append schema log message
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests

feat(ProjectDB): Run asynchronous in project DB'
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/exist_db/node.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_engine.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
  src/pythonKarabo/karabo/project_db/mysql_db/node.py
  src/pythonKarabo/karabo/project_db/mysql_db/sql_database.py
  src/pythonKarabo/karabo/project_db/mysql_db/tests/test_database.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Remove ListOfNodes from DeviceServer's autoStart implementation
  src/karabo/core/DeviceServer.cc
  src/karabo/core/Runner.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/tests/core/Runner_Test.cc
  src/karabo/tests/core/Runner_Test.hh
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/runner.py
  src/pythonKarabo/karabo/bound/tests/runner_test.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/service.in/default/karabo_dataLoggerManager/run
  src/service.in/default/karabo_guiServer/run
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(ProjectDB): Refresh are coroutines
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Remove DbHandle implementation
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/mysql_db/sql_database.py
  src/pythonKarabo/karabo/project_db/mysql_db/tests/test_database.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Fix find device unhandled exception caused by lazy loading of relationships on an async session
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Cleanup abstract database
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_database.py
  src/pythonKarabo/karabo/project_db/mysql_db/sql_database.py
Due: lint, test_docs, python_unit tests

refactor(FW): Remove signalStateChanged
  doc/library/policies.rst
  src/karabo/core/Device.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/devices/DataLogger.cc
  src/karabo/devices/DataLogger.hh
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/proxy.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(MDL): Collect in flaky test for connectDevice
  src/pythonKarabo/karabo/middlelayer/tests/device_client_test.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_test.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): More cleaning of project db interface
  src/pythonKarabo/karabo/project_db/bases.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_engine.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
  src/pythonKarabo/karabo/project_db/mysql_db/sql_database.py
Due: lint, test_docs, python_unit tests

refactor(C++, Bound): Remove LIST_ELEMENT from Karabo Framework
  src/karabind/ConfigurationTestClasses.hh
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaChoiceElement.cc
  src/karabind/PyUtilSchemaElement.cc
  src/karabind/PyUtilSchemaElement.hh
  src/karabind/PyUtilSchemaListElement.cc
  src/karabind/PyUtilSchemaNodeElement.cc
  src/karabind/PyUtilSchemaOverwriteElement.cc
  src/karabind/karabind.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/log/Logger.cc
  src/karabo/tests/io/FileInputOutput_Test.cc
  src/karabo/tests/io/SchemaSerializer_Test.cc
  src/karabo/tests/util/ConfigurationTestClasses.hh
  src/karabo/tests/util/HashFilter_Test.cc
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/tests/util/Schema_Test.hh
  src/karabo/tests/util/Validator_Test.cc
  src/karabo/util.hpp
  src/karabo/util/HashFilter.cc
  src/karabo/util/ListElement.hh
  src/karabo/util/Schema.cc
  src/karabo/util/Schema.hh
  src/karabo/util/Validator.cc
  src/pythonKarabo/karabo/bound/__init__.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/binding/test_hashfilter.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_api.py
  src/pythonKarabo/karabo/bound/tests/binding/test_schema_elements.py
  src/pythonKarabo/karabo/bound/tests/configuration_example_classes.py
  src/pythonKarabo/karabo/bound/tests/hashfilter_test.py
  src/pythonKarabo/karabo/bound/tests/schema_test.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(ConfigDB): Remove dbHandle from config db
  src/pythonKarabo/karabo/config_db/__init__.py
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(ConfigDB): Align AsyncSession with projectDb
  src/pythonKarabo/karabo/config_db/configuration_database.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Change Hash.paths default behavior to exclude full root to leaf paths
  src/pythonKarabo/karabo/middlelayer/tests/device_test.py
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/data/tests/test_hash.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(C++): No logging in io package, better throw
  src/karabo/io/FileTools.hh
  src/karabo/io/HashXmlSerializer.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(GuiServer): Declare info type for gui client debugging
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(Tests): Use AsyncServerContext in integration cross tests
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Support login over login operation
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/GuiServer_Test.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/devices/GuiServerTemporarySessionManager.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++): migrate io tests
  CONTRIBUTING.md
  src/karabo/tests/CMakeLists.txt
  src/karabo/tests/data/io/BufferSet_Test.cc
  src/karabo/tests/data/io/BufferSet_Test.hh
  src/karabo/tests/data/io/FileInputOutput_Test.cc
  src/karabo/tests/data/io/FileInputOutput_Test.hh
  src/karabo/tests/data/io/HashBinarySerializer_Test.cc
  src/karabo/tests/data/io/HashBinarySerializer_Test.hh
  src/karabo/tests/data/io/HashXmlSerializer_Test.cc
  src/karabo/tests/data/io/HashXmlSerializer_Test.hh
  src/karabo/tests/data/io/SchemaSerializer_Test.cc
  src/karabo/tests/data/io/SchemaSerializer_Test.hh
  src/karabo/tests/data/io/TestPathSetup.hh
  src/karabo/tests/data/io/resources/.directory
  src/karabo/tests/data/io/resources/etalonXML_readonly.xml
  src/karabo/tests/data/io/resources/etalonXSD_readonly.xsd
  src/karabo/tests/data/io/resources/expectedParamsTextFile.xsd
  src/karabo/tests/data/io/resources/newTestXml.xml
  src/karabo/tests/data/io/resources/testSchemaFile_readonly.xsd
  src/karabo/tests/data/io/resources/xmlForReading_readonly.xml
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(C++): remove unused server flag 'scanPlugins'
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/Device_Test.cc
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/LockTest_Test.cc
  src/integrationTests/PipelinedProcessing_Test.cc
  src/integrationTests/PropertyTest_Test.cc
  src/integrationTests/SceneProvider_Test.cc
  src/integrationTests/Timing_Test.cc
  src/karabind/karabind_test.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/core/DeviceServer.hh
  src/karabo/tests/data/io/resources/.directory
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client.py
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
  src/templates/cpp/minimal/src/test/testrunner.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(FW): Get rid of unused 3rd arg of slotPing
  src/integrationTests/Device_Test.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device_server.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer/heartbeat_mixin.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
  src/pythonKarabo/karabo/middlelayer/testing/server_context.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Remove 2nd data log reader per logger server
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/DataLogging_Test.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/DataLoggerManager.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/util/DataLogUtils.hh
  src/pythonKarabo/karabo/middlelayer/device_client.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(Bound): Implement iterall and update in bound python
  src/karabind/PyUtilHash.cc
  src/karabind/PyUtilHashAttributes.cc
  src/karabind/Wrapper.cc
  src/karabind/Wrapper.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
Due: lint, test_docs, python_unit tests

refactor(C++): Remove intermediate BaseDevice
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/Device_Test.cc
  src/integrationTests/LockTestDevice.cc
  src/integrationTests/NonSceneProviderTestDevice.cc
  src/integrationTests/P2PSenderDevice.cc
  src/integrationTests/PipeReceiverDevice.cc
  src/integrationTests/SceneProviderTestDevice.cc
  src/integrationTests/SimulatedTimeServerDevice.cc
  src/integrationTests/TimingTestDevice.cc
  src/integrationTests/Timing_Test.cc
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceServer.cc
  src/karabo/core/DeviceServer.hh
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/FileDataLogger.cc
  src/karabo/devices/FileLogReader.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/devices/InfluxLogReader.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/data/schema/Validator_Test.cc
  src/templates/cpp/minimal/src/__CLASS_NAME__.cc
  src/templates/cpp/minimal/src/test/test__CLASS_NAME__.cc
  src/templates/cpp/minimal/src/test/testrunner.cc
  src/templates/cpp/minimal/src/test/testrunner.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++/Bound): Remove special 'system' signal
  src/integrationTests/SimulatedTimeServerDevice.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabo/core/Device.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpBroker.hh
  src/karabo/net/Broker.hh
  src/karabo/tests/net/Broker_Test.cc
  src/karabo/tests/xms/Signal_Test.cc
  src/karabo/xms/Signal.cc
  src/karabo/xms/Signal.hh
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/integration_tests/signal_slot_order_test/bound_ordertest_device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests
