Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

fix(GUI): Change access level of commands on scene
  src/pythonGui/karabogui/controllers/display/command.py
  src/pythonGui/karabogui/controllers/display/tests/test_command.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Try non user space for extensions
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Fix centOS conan breakage
  extern/build.sh
  extern/conanfile-bootstrap.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Fix icon command accounting access level
  src/pythonGui/karabogui/controllers/display/icon_command.py
  src/pythonGui/karabogui/controllers/display/tests/test_icon_command.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Access Widget - Navigate through cells using Left and Right arrows
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Controller Container must set correct enable boolean for access level change
  src/pythonGui/karabogui/sceneview/widget/container.py
  src/pythonGui/karabogui/sceneview/widget/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): Better error report for history/cfgFromPast of macros
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): Allow 'Rememeber Me' from Cinema/Concert
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/singletons/network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Account nan and inf values in waterfall, do a safe copy
  src/pythonGui/karabogui/graph/image/roll_image.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Access code Widget paste over existing code.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Clear pipeline data cache immediately
  src/karabo/xms/InputChannel.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(PY11): Fix casting of fortran order np.array
  src/karabind/Wrapper.cc
  src/pythonKarabo/karabo/bound_api/tests/binding/test_hash.py
  src/pythonKarabo/karabo/bound_api/tests/binding/test_imagedata.py
  src/pythonKarabo/karabo/bound_api/tests/imagedata_test.py
Due: lint, test_docs, python_unit tests

feat(C++): Mention number of requested data points in log reader failure message
  src/integrationTests/BaseLogging_Test.cc
  src/integrationTests/PipelinedProcessing_Test.cc
  src/karabo/devices/InfluxLogReader.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Update RedHat9 to add a package repository
  .gitlab-ci.yml
Due: none

refactor(GUI): Reload pkgsources on installation of packages
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Message logger and broker rates show correct connected broker url
  src/brokerMessageLogger/brokerMessageLogger.cc
  src/tools/brokerRates/brokerRates.cpp
Due: lint, test_docs, cpp_unit tests

fix(GUI): account all proxies on command widget on access level change
  src/pythonGui/karabogui/controllers/display/command.py
  src/pythonGui/karabogui/controllers/display/tests/test_command.py
  src/pythonGui/karabogui/testing/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

C++: Amqp ChannelCreationHandler with string argument, not const char*
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/net/AmqpHashClient.hh
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): improvements to Access Code Widget
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Py11: Remove 32-bit system treatment from karabind
  src/karabind/FromNumpy.cc
Due: lint, test_docs, python_unit tests

Temp session cannot be started from readOnly session
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(TOOLS): Just stop all services if there is a -a argument. Stop service for others
  src/pythonKarabo/karabo/interactive/startkarabo.py
Due: lint, test_docs, python_unit tests

fix(GUI): Fix initial access level on container creation with trait handler
  src/pythonGui/karabogui/sceneview/widget/container.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix access level in editable label widgets
  src/pythonGui/karabogui/controllers/baselineedit.py
  src/pythonGui/karabogui/controllers/tests/test_base_line_edit.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove windowStaysOnTop flag for reactive login dialog
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix access level and state update on editable list
  src/pythonGui/karabogui/controllers/edit/strlist.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix acccess level and state update of text edit
  src/pythonGui/karabogui/controllers/edit/tests/test_textedit.py
  src/pythonGui/karabogui/controllers/edit/textedit.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Add access level info to configurator popup
  src/pythonGui/karabogui/configurator/tests/test_model_view.py
  src/pythonGui/karabogui/configurator/view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

deps(GUI): update numpy and scipy
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Py11): OutputChannel::write does not need a data copy
  src/karabind/PyXmsInputOutputChannel.cc
Due: lint, test_docs, python_unit tests

feat(GUI): Enable historic text widget to show bit settings
  src/pythonGui/karabogui/binding/tests/test_util.py
  src/pythonGui/karabogui/binding/util.py
  src/pythonGui/karabogui/generic_scenes.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

C++: Miscellaneous minor tuning
  run_python_tests.sh
  src/karabo/core/Device.hh
  src/karabo/core/DeviceServer.hh
  src/karabo/tests/core/DeviceClient_Test.cc
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Include proxy in controller enabled
  src/pythonGui/karabogui/sceneview/tests/test_view.py
  src/pythonGui/karabogui/sceneview/widget/container.py
  src/pythonGui/karabogui/sceneview/widget/utils.py
  src/pythonGui/karabogui/testing/__init__.py
  src/pythonGui/karabogui/testing/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++ test): Make DataLogging_Test::testInfluxSafeSchemaRetentionPeriod robust
  src/integrationTests/DataLogging_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

fix(GUI): Remove RunConfigurator widget
  src/pythonGui/karabogui/controllers/edit/runconfigurator.py
  src/pythonGui/karabogui/controllers/edit/tests/test_runconfigurator.py
  src/pythonGui/karabogui/sceneview/tests/test_view.py
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_widgets_simple.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/simple.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Enhance historic text widget with zero bit padding and align timestamp
  src/pythonGui/karabogui/binding/api.py
  src/pythonGui/karabogui/controllers/display/historic_text.py
  src/pythonGui/karabogui/controllers/display/tests/test_historic_text.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add a minimal client version for authenticated sessions.
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat: Provide cliff.toml for changelog generation
  cliff.toml
Due: none

doc(FW): Add merge log for 2.20.0
  doc/whatsnew/2.20.rst
Due: test_docs

refactor(CI): Remove CentOs from gitlab ci
  .gitlab-ci.yml
  doc/requirements.txt
  src/pythonKarabo/karabo/middlelayer/conftest.py
Due: lint, test_docs, python_unit tests
