Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

fix(C++:) Take care to publish karabo/data/*.hpp files with release
  src/karabo/CMakeLists.txt
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Align html parsing and remove deprecation warning in wizard
  src/pythonGui/karabogui/wizards/tips/wizard.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Adds the message `getGuiSessionInfo` to the GUI Server protocol
  doc/library/guiServer.rst
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/TcpAdapter.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(karabo script): Take care of package prefix for develop (i.e. if not default karaboDevices3)
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

fix(GUI): Don't overwrite QSettings in gui tests and remove dbtoken from config singleton
  src/pythonGui/karabogui/conftest.py
  src/pythonGui/karabogui/programs/base.py
  src/pythonGui/karabogui/programs/tests/test_base.py
  src/pythonGui/karabogui/programs/tests/test_cinema.py
  src/pythonGui/karabogui/programs/tests/test_concert.py
  src/pythonGui/karabogui/programs/tests/test_theatre.py
  src/pythonGui/karabogui/singletons/configuration.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
  src/pythonGui/karabogui/testing/__init__.py
  src/pythonGui/karabogui/testing/utils.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GuiServer): Change on type return for session info
  doc/library/guiServer.rst
Due: test_docs

refactor(GuiServer): Change type declaration
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(ConfigDB): Make migration script independent of the order, put more utility and argparse
  src/pythonKarabo/karabo/interactive/convert_config_db.py
Due: lint, test_docs, python_unit tests

feat(GUI): Provide session information on dialog open
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
  src/pythonGui/karabogui/dialogs/ui/user_session_dialog.ui
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/network.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/singletons/tests/test_network.py
  src/pythonGui/karabogui/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(Tests): Make config db manager cross test ci concurrency adaptable
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

feat(GuiServer): Add python integration tests, proof of principle
  src/pythonKarabo/karabo/integration_tests/gui_server_test/__init__.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/adapter.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(GUI): UserSessionDialog - method to clear the refresh token.
  src/pythonGui/karabogui/dialogs/reactive_login_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): User Session Info instead of temporary session
  src/pythonGui/karabogui/dialogs/ui/user_session_dialog.ui
  src/pythonGui/karabogui/indicators.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(DEPS): Remove peewee from the dependencies
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(ProjectDB): Use flush for atomic operations in project db:
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

doc: Document more the changes
  doc/whatsnew/3.0.rst
Due: test_docs

Align docs
  doc/library/pythonApiMiddlelayer.rst
Due: test_docs

doc: Tune more the doc data types for MDL
  doc/library/pythonApiMiddlelayer.rst
Due: test_docs

refactor(MDL): Remove minimum and maximum functions
  public_docs/karathon.md
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/tests/utils_test.py
  src/pythonKarabo/karabo/middlelayer/unitutil.py
Due: lint, test_docs, python_unit tests

fix(C++ test): Check for preDestruction been called was pretty flaky
  src/integrationTests/Device_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

fix(ConfigDB): Make sure to have a single commit for transaction, use multiple threads
  src/pythonKarabo/karabo/config_db/configuration_database.py
Due: lint, test_docs, python_unit tests

feat(Tests): Migrate all guiserver non auth tests to python integration tests
  src/pythonKarabo/karabo/integration_tests/gui_server_test/adapter.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server_auth.py
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/data/schema.py
  src/pythonKarabo/karabo/native/data/tests/test_hash.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(test): Add auth guiserver tests to python integration tests
  src/pythonKarabo/karabo/integration_tests/gui_server_test/adapter.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/authserver.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server_auth.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(GUI): init Config- confirmation dialog before removing/overwriting config
  src/pythonGui/karabogui/dialogs/init_configuration.py
  src/pythonGui/karabogui/dialogs/tests/test_init_config_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Directly include what is used
  src/karabo/data/types/Exception.cc
  src/karabo/data/types/Exception.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(ConfigDB): Fix concurrent locking issues
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(FW): AutoDelete Exchange and use different Exchanges: Slots, Signals, Global_Slots
  src/brokerMessageLogger/brokerMessageLogger.cc
  src/karabo/net/AmqpBroker.cc
  src/karabo/net/AmqpClient.cc
  src/karabo/net/AmqpClient.hh
  src/karabo/tests/net/Amqp_Test.cc
  src/pythonKarabo/karabo/middlelayer/broker.py
  src/pythonKarabo/karabo/middlelayer/tests/cli_test.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
  src/tools/brokerRates/brokerRates.cpp
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat: Provide hint when uninstalling
  src/pythonKarabo/karabo/interactive/karabo.py
Due: lint, test_docs, python_unit tests

refactor(test): Remove first batch of C++ guiserver integration tests
  src/integrationTests/CMakeLists.txt
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/GuiServer_Test.hh
  src/integrationTests/TestKaraboAuthServer.cc
  src/integrationTests/TestKaraboAuthServer.hh
Due: lint, test_docs, python_integration tests, cpp_integration tests

Revert "chore(deps)GUI: update pyqtgraph to 0.13.7"
  conda-recipes/karabogui/environment.devenv.yml
Due: gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Rename action items for configuration from time and init and add an icon
  src/pythonGui/karabogui/const.py
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/init-config.svg
  src/pythonGui/karabogui/navigation/device_view.py
  src/pythonGui/karabogui/navigation/system_view.py
  src/pythonGui/karabogui/project/controller/device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Use the default AsyncAdaptedQueuePool instead of StaticPool
  src/pythonKarabo/karabo/config_db/configuration_database.py
Due: lint, test_docs, python_unit tests

fix(ProjectDB): Configure timeout for local project db
  src/pythonKarabo/karabo/project_db/database/db_engine.py
Due: lint, test_docs, python_unit tests

feat(GUI): add function to get the status icon to namespce.
  src/pythonGui/karabogui/api.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GuiServer): Fix audit tracking for core services and increase minimum client version
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(GUI): New Event when an item in SystemTopology updates.
  src/pythonGui/karabogui/events.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

doc: Update Changelog to 3.0.0rc11
  doc/whatsnew/3.0.rst
Due: test_docs

refactor(Test): Move gui server scene test to python integrationtests
  src/integrationTests/CMakeLists.txt
  src/integrationTests/SceneProvider_Test.cc
  src/integrationTests/SceneProvider_Test.hh
  src/integrationTests/TcpAdapter.cc
  src/integrationTests/TcpAdapter.hh
  src/pythonKarabo/karabo/integration_tests/device_provided_scenes_test/scene_providing_device.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): InitConfig Preview Dialog now has OK button
  src/pythonGui/karabogui/dialogs/data_view_dialog.py
  src/pythonGui/karabogui/dialogs/ui/data_preview_dialog.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(test): Harden integration tests for guiserver and move test ini
  pytest.ini
  src/pythonKarabo/karabo/integration_tests/gui_server_test/adapter.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server.py
  src/pythonKarabo/karabo/integration_tests/gui_server_test/test_gui_server_auth.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
