Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, cpp_deps tests, python_deps tests, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  cpp_deps tests: any of: extern/**/*
  python_deps tests: any of: extern/**/*
  python_unit tests: (any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests: (any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  cpp_integration tests: (any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*) and (not (any of: extern/**/*))
  long tests: any of: src/cppLongTests/**/*

Support for stripping characters after "major.minor.micro" in "get_karabo_framework_version".
  src/pythonKarabo/karabo/packaging/tests/test_versioning.py
  src/pythonKarabo/karabo/packaging/versioning.py
Due: lint, test_docs, python_unit tests

refactor(GUI): transport configuration test to pytest
  src/pythonGui/karabogui/singletons/tests/test_configuration.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): transport DB connection test to pytest
  src/pythonGui/karabogui/singletons/tests/test_db_connection.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): transport manager test to pytest
  src/pythonGui/karabogui/singletons/tests/test_manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): transport mediator test to pytest
  src/pythonGui/karabogui/singletons/tests/test_mediator.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Enhance InputValidator for project macros. No numbers on start
  src/pythonGui/karabogui/project/dialog/device_handle.py
  src/pythonGui/karabogui/project/dialog/object_handle.py
  src/pythonGui/karabogui/project/dialog/server_handle.py
  src/pythonGui/karabogui/tests/test_util.py
  src/pythonGui/karabogui/util.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix: Fix file db deprecation warning of finding instance items
  src/pythonKarabo/karabo/project_db/file_db/database.py
Due: lint, test_docs, python_unit tests

fix(MDL): Remove marker warnings from pytest
  src/pythonKarabo/karabo/middlelayer/tests/utils_test.py
Due: lint, test_docs, python_unit tests

fix(GUI): Change logbook icon to a Tango Desktop Icon style icon
  src/pythonGui/karabogui/icons/electronic-log.svg
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(CI): Fix conda build for miniconda environemt on unix
  .gitlab-ci.yml
  ci/miniconda/builder/compare.py
  src/pythonGui/karabogui/controllers/display/tests/test_alarm_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_state_graph.py
  src/pythonGui/karabogui/controllers/display/tests/test_time_graphs.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

MDL: DaemonManager can provide network information
  src/pythonKarabo/karabo/interactive/webaggregatorserver.py
  src/pythonKarabo/karabo/interactive/webserver.py
  src/pythonKarabo/karabo/middlelayer_devices/daemon_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Destroy project model on close event
  src/pythonGui/karabogui/project/view.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Remove unused private method
  src/karabo/xms/SignalSlotable.cc
  src/karabo/xms/SignalSlotable.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

DOC: Refurbish contributing and pre-commit info
  CONTRIBUTING.md
  README.md
  doc/tools/git.rst
  doc/tools/index.rst
  doc/tools/netbeans.rst
  src/devScripts/lint_modified.sh
  src/devScripts/pre-commit-hook
Due: lint, test_docs

Little cleaning and protection against an unlikely race condition
  src/karabo/tests/net/TcpNetworking_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

Use more efficient slotGetConfigurationSlice
  src/pythonKarabo/karabo/integration_tests/pipeline_cross_test/test_multi_api_pipes.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

Increase TcpAdapter timeout for gui server tests
  src/integrationTests/TcpAdapter.hh
Due: lint, test_docs, python_integration tests, cpp_integration tests

fix(C++): Disable schema elements that are both assignmentMandatory and readOnly
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/tests/util/Schema_Test.cc
  src/karabo/tests/util/Schema_Test.hh
  src/karabo/util/LeafElement.hh
  src/karabo/util/TableElement.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

test(Bound): Increase timeout of requesting device lock in unit test
  src/pythonKarabo/karabo/bound_api/tests/binding/test_zcore_device_client2.py
Due: lint, test_docs, python_unit tests

C++: Channel creation added to AMQP refactoring
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

Allow dispatching to io context of AmqpConnection
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Fix the printer dialog
  src/pythonGui/karabogui/panels/base.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Use default daqPolicy
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/macro.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove alarm calculation from descriptors
  src/pythonKarabo/karabo/native/schema/configurable.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add username to the response of login and escalate requests.
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Update auth_once_tk field names to match the latest AuthServer version.
  src/integrationTests/TestKaraboAuthServer.cc
  src/karabo/net/UserAuthClient.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++ int. test): More robust tests for queueDrop with implicit queue length
  src/integrationTests/PipelinedProcessing_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

Hide Tcp nature of amqp channel
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

Integration test for new loggerMap table in DataLoggerManager
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/DataLogging_Test.hh
  src/karabo/core/DeviceClient.hh
  src/karabo/devices/DataLoggerManager.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(C++ int. test): Avoid fixed sleep
  src/integrationTests/SceneProvider_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

DEPS: add openssl certificate test
  extern/build.sh
  src/pythonKarabo/karabo/tests/openssl_test.py
Due: lint, test_docs, deps build, cpp_deps tests, python_deps tests

Notify eminent escalation end; allowRememberLogin property
  doc/library/guiServer.rst
  src/integrationTests/GuiServer_Test.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
  src/karabo/devices/GuiServerSessionEscalator.cc
  src/karabo/devices/GuiServerSessionEscalator.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(MDL): Provide the option in output channel to specify a network adapter. Always throw on not found IP's
  src/pythonKarabo/karabo/middlelayer/pipeline.py
  src/pythonKarabo/karabo/middlelayer/tests/pipeline_test.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_pipeline_test.py
Due: lint, test_docs, python_unit tests

PY11: Expose more useful helper functions in karabind
  src/karabind/Wrapper.hh
Due: lint, test_docs, python_unit tests

feat(MDL): Enhance PipelineContext, don't miss multiple handler calls
  src/pythonKarabo/karabo/bound_api/tests/boundDevice.py
  src/pythonKarabo/karabo/bound_api/tests/schema_adler_test.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/middlelayer/pipeline.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_pipeline_test.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(MDL): fix cancellation of background tasks
  src/pythonKarabo/karabo/middlelayer/eventloop.py
  src/pythonKarabo/karabo/middlelayer/tests/synchronization_test.py
Due: lint, test_docs, python_unit tests

Feat: Added script to allow to convert svg to cpp scene.hh file
  src/pythonKarabo/karabo/interactive/scene2cpp.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests

ENV VAR as a second option for the number of parallel compile jobs.
  auto_build_all.sh
Due: none

fix(C++): Better document OutputChannel::asyncUpdate[NoWait] plus minor tuning
  src/karabo/xms/OutputChannel.cc
  src/karabo/xms/OutputChannel.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(C++): A new version of a C++ AMQP client, based on AmqpConnection
  src/karabo/net/AmqpClient2.cc
  src/karabo/net/AmqpClient2.hh
  src/karabo/tests/net/Amqp_Test.cc
  src/karabo/tests/net/Amqp_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests
