Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

refactor(MDL): Offer DeviceServer in namespace
  src/pythonKarabo/karabo/middlelayer/__init__.py
Due: lint, test_docs, python_unit tests

fix(test): Make the config manager test more robust in integration testing
  src/pythonKarabo/karabo/integration_tests/config_manager_cross_test/test_cross_config_manager.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(C++ test): Previuos fix for "preDestruction" failures missed an essential part
  src/integrationTests/Device_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

Update nlohmann_json from 3.7.3 to 3.12.0
  extern/conanfile.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Fix classId attribute on strings and change deviceNode classId
  src/pythonKarabo/karabo/middlelayer/devicenode.py
  src/pythonKarabo/karabo/middlelayer/signalslot.py
  src/pythonKarabo/karabo/middlelayer/tests/remote_test.py
  src/pythonKarabo/karabo/native/schema/descriptors.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Remove signal from options dialog, avoid references and only change model on changes
  src/pythonGui/karabogui/controllers/basearray.py
  src/pythonGui/karabogui/controllers/display/time_graphs.py
  src/pythonGui/karabogui/graph/plots/dialogs/curve_options.py
  src/pythonGui/karabogui/graph/plots/tests/test_curve_options_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GuiServer): Rename brokerInformation to serverInformation
  doc/library/guiServer.rst
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

feat(C++): Add an injected property to PropertyTest
  src/karabo/devices/PropertyTest.cc
  src/karabo/devices/PropertyTest.hh
  src/karabo/tests/core/DeviceClient_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Also provide same action text for runtime configuration in configurator panel
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/panels/tests/test_configurationpanel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Use the async context for locking in connector
  src/pythonKarabo/karabo/middlelayer/broker.py
Due: lint, test_docs, python_unit tests

refactor(ConfigDB): Sync timestamp, rename timepoint
  src/pythonGui/karabogui/dialogs/init_configuration.py
  src/pythonGui/karabogui/dialogs/tests/test_init_config_dialog.py
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

fix(C++ test): Another try for preDestruction test
  src/integrationTests/Device_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

refactor(C++): Rename GenericElement to BaseElement
  src/karabind/PyUtilSchemaElement.hh
  src/karabo/data/schema/AlarmConditionElement.cc
  src/karabo/data/schema/AlarmConditionElement.hh
  src/karabo/data/schema/BaseElement.cc
  src/karabo/data/schema/BaseElement.hh
  src/karabo/data/schema/LeafElement.hh
  src/karabo/data/schema/NodeElement.hh
  src/karabo/data/schema/OverwriteElement.hh
  src/karabo/data/schema/StateElement.cc
  src/karabo/data/schema/StateElement.hh
  src/karabo/data/schema/TableElement.hh
  src/karabo/data/types/Element.hh
  src/karabo/data/types/Schema.hh
  src/karabo/tests/data/io/HashXmlSerializer_Test.cc
  src/karabo/xms/SlotElement.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(ConfigDB): Migrate timestamp to date globally
  src/pythonGui/karabogui/dialogs/init_configuration.py
  src/pythonGui/karabogui/dialogs/tests/test_init_config_dialog.py
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/models.py
  src/pythonKarabo/karabo/config_db/tests/test_configuration_database.py
  src/pythonKarabo/karabo/interactive/convert_config_db.py
  src/pythonKarabo/karabo/interactive/tests/test_migrate_config_db.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

fix(GUI): Hide User Session button for Observer
  src/pythonGui/karabogui/access.py
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/singletons/manager.py
  src/pythonGui/karabogui/singletons/tests/test_manager.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix load scene from file after lazy load
  src/pythonGui/karabogui/project/controller/project_groups.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Move assure svg data in scene file load
  src/pythonGui/karabogui/project/controller/project_groups.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Typo in the ui file name and docstring
  src/pythonGui/karabogui/dialogs/compare_device_configurations.py
  src/pythonGui/karabogui/dialogs/ui/compare_configurations.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(ProjectDB): Throw if item loading failed. load item always needs item_type
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/exist_db/exist_database.py
  src/pythonKarabo/karabo/project_db/exist_db/tests/test_database.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(C++): Do not send broadcasts a 2nd time as normal slot to instance '*'
  src/karabo/xms/SignalSlotable.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(ProjectDB): Fix scene retrieval for slotGetScene after protocol change
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(C++): Adjust broker rates to new AMQP mechanics
  src/tools/brokerRates/brokerRates.cpp
Due: lint, test_docs, cpp_unit tests

fix(GUI): Scene editing from project panels needs different access role
  src/pythonGui/karabogui/project/controller/scene.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

doc: Document the create hierarchy in project test
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests

feat: Increase release candidate for the guiserver minimum client version
  src/karabo/devices/GuiServerDevice.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

doc: Update new changelog for Karabo 3
  doc/whatsnew/3.0.rst
Due: test_docs

fix(C++): Min and max size are expected to be unsigned int - not templated type
  src/karabo/data/schema/CustomNodeElement.hh
  src/karabo/data/schema/OverwriteElement.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(GUI): Fix the visibility of UserSession button in the application mode
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/programs/tests/test_cinema.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(MDL): Output channel port is expert level
  src/pythonKarabo/karabo/middlelayer/pipeline.py
Due: lint, test_docs, python_unit tests

fix(GUI): Disable scene loading for Operator
  src/pythonGui/karabogui/project/controller/project_groups.py
  src/pythonGui/karabogui/project/controller/tests/test_project_controller.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++ amqp): Tuning connection destruction and logging
  src/karabo/net/AmqpClient.cc
  src/karabo/net/AmqpConnection.cc
  src/karabo/tests/net/Amqp_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(C++ test): Prepare for new broker settings concerning max message size
  src/karabo/net/AmqpClient.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

CI: Also publish GUI beta releases like releases
  .gitlab-ci.yml
Due: none

feat(C++): Add Dims::operator<<
  src/karabo/data/types/Dims.cc
  src/karabo/data/types/Dims.hh
  src/karabo/tests/data/types/Dims_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

CI: Temporarily publish release candidates of GUI
  .gitlab-ci.yml
Due: none

fix(GUI): Update the url of guiextensions package
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

CI: Only proper releasese for the GUI...
  .gitlab-ci.yml
Due: none

Deps: Up date CMake to a version that has an aarch64 installable
  extern/conanprofile.karabo
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(doc): Update docs about supported operating systems
  README.md
  doc/installation/sources.rst
Due: test_docs

CI: Adjust CI setting for moving from master to main
  .gitlab-ci.yml
Due: none
