Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build almalinux8, deps build almalinux9, deps build centos7, deps build debian10, deps build ubuntu20, deps build ubuntu22, cpp_deps tests almalinux8, cpp_deps tests almalinux9, cpp_deps tests centos7, cpp_deps tests debian10, cpp_deps tests ubuntu20, cpp_deps tests ubuntu22, python_deps tests almalinux8, python_deps tests almalinux9, python_deps tests centos7, python_deps tests debian10, python_deps tests ubuntu20, python_deps tests ubuntu22, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests almalinux8, python_integration tests almalinux9, python_integration tests centos7, python_integration tests debian10, python_integration tests ubuntu20, python_integration tests ubuntu22, cpp_integration tests almalinux8, cpp_integration tests almalinux9, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu22, long tests almalinux8, long tests almalinux9, long tests centos7, long tests debian10, long tests ubuntu20, long tests ubuntu22

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build almalinux8: any of: extern/**/*
  deps build almalinux9: any of: extern/**/*
  deps build centos7: any of: extern/**/*
  deps build debian10: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu22: any of: extern/**/*
  cpp_deps tests almalinux8: any of: extern/**/*
  cpp_deps tests almalinux9: any of: extern/**/*
  cpp_deps tests centos7: any of: extern/**/*
  cpp_deps tests debian10: any of: extern/**/*
  cpp_deps tests ubuntu20: any of: extern/**/*
  cpp_deps tests ubuntu22: any of: extern/**/*
  python_deps tests almalinux8: any of: extern/**/*
  python_deps tests almalinux9: any of: extern/**/*
  python_deps tests centos7: any of: extern/**/*
  python_deps tests debian10: any of: extern/**/*
  python_deps tests ubuntu20: any of: extern/**/*
  python_deps tests ubuntu22: any of: extern/**/*
  python_unit tests almalinux8: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests almalinux9: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests centos7: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests debian10: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu20: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  python_unit tests ubuntu22: (any of: src/karathon/**/*, src/karabo/**/*, src/pythonKarabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux8: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests almalinux9: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests centos7: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests debian10: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu20: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  cpp_unit tests ubuntu22: (any of: src/karabo/**/*) and (not (any of: extern/**/*))
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests almalinux8: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests almalinux9: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests centos7: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests debian10: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu20: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  python_integration tests ubuntu22: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux8: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests almalinux9: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests centos7: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu20: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  cpp_integration tests ubuntu22: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*
  long tests almalinux8: any of: src/cppLongTests/**/*
  long tests almalinux9: any of: src/cppLongTests/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests debian10: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu22: any of: src/cppLongTests/**/*

fix(InfluxDbClient): Avoid access to the front of an empty queue (UB).
  src/karabo/net/InfluxDbClient.cc
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

Add auto-restart of LogReaders that have been shutdown.
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/DataLoggerManager.hh
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22, python_integration tests almalinux8, python_integration tests almalinux9, python_integration tests centos7, python_integration tests debian10, python_integration tests ubuntu20, python_integration tests ubuntu22, cpp_integration tests almalinux8, cpp_integration tests almalinux9, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu22

GUI: Delete device quickly in development
  src/pythonGui/karabogui/project/controller/device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Check for UNIX target system in cmake project.
  src/karabo/CMakeLists.txt
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

feat(GUI): karabo-concert desktop shortcut
  src/pythonGui/karabogui/mainwindow.py
  src/pythonGui/karabogui/tests/test_mainwindow.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

DOC: Mention that AlarmService device gone and related changes
  doc/concepts/alarm_system.rst
  doc/concepts/general_concepts.rst
  doc/concepts/index.rst
  doc/library/alarmService.rst
  doc/library/index.rst
Due: test_docs

Single DbClient for reading, disconnect when idle.
  src/integrationTests/BaseLogging_Test.cc
  src/karabo/devices/InfluxDataLogger.cc
  src/karabo/devices/InfluxDataLogger.hh
  src/karabo/net/InfluxDbClient.cc
  src/karabo/net/InfluxDbClient.hh
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22, python_integration tests almalinux8, python_integration tests almalinux9, python_integration tests centos7, python_integration tests debian10, python_integration tests ubuntu20, python_integration tests ubuntu22, cpp_integration tests almalinux8, cpp_integration tests almalinux9, cpp_integration tests centos7, cpp_integration tests ubuntu20, cpp_integration tests ubuntu22

Try clang
  src/karabo/util/GenericElement.hh
  src/karabo/util/Hash.hh
  src/karabo/util/MetaTools.hh
  src/karathon/PythonInputHandler.cc
  src/karathon/PythonOutputHandler.cc
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22, cpp_unit tests almalinux8, cpp_unit tests almalinux9, cpp_unit tests centos7, cpp_unit tests debian10, cpp_unit tests ubuntu20, cpp_unit tests ubuntu22

Py11: Complete tests on DeviceClient
  src/karabind/PyCoreDeviceClient.cc
  src/karabind/PyIoFileTools.cc
  src/karabind/PyLogLogger.cc
  src/karabind/PyUtilHash.cc
  src/karabind/PyUtilRollingWindowStatistics.cc
  src/karabind/PyUtilSchema.cc
  src/karabind/PyUtilSchemaNodeElement.cc
  src/karabind/PyUtilSchemaOverwriteElement.cc
  src/karabind/PyXmsInputOutputChannel.cc
  src/karabind/PyXmsSignalSlotable.cc
  src/karabind/Wrapper.cc
  src/karabind/Wrapper.hh
  src/karabind/karabind.cc
  src/karathon/PyUtilSchema.cc
  src/pythonKarabo/karabo/bound.py
  src/pythonKarabo/karabo/bound_api/camera_fsm.py
  src/pythonKarabo/karabo/bound_api/configurator.py
  src/pythonKarabo/karabo/bound_api/device.py
  src/pythonKarabo/karabo/bound_api/device_client.py
  src/pythonKarabo/karabo/bound_api/device_server.py
  src/pythonKarabo/karabo/bound_api/ok_error_fsm.py
  src/pythonKarabo/karabo/bound_api/plugin_loader.py
  src/pythonKarabo/karabo/bound_api/runner.py
  src/pythonKarabo/karabo/bound_api/start_stop_fsm.py
  src/pythonKarabo/karabo/bound_api/start_stop_fsm_periodic.py
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_hashfilter.py
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_ndarray_io.py
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_pipeline_api.py
  src/pythonKarabo/karabo/bound_api/tests/karabind/test_zcore_device_client2.py
  src/pythonKarabo/karabo/bound_tool.py
Due: lint, test_docs, python_unit tests almalinux8, python_unit tests almalinux9, python_unit tests centos7, python_unit tests debian10, python_unit tests ubuntu20, python_unit tests ubuntu22
