Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

lint:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - source ci/lint ALL

test_docs:
  stage: lint
  image: europeanxfel/karabo-ci:miniconda-3lint-003
  script:
  - pushd doc
  - pip install -r requirements.txt
  - conda config --add channels conda-forge
  - conda install doxygen
  - make doctest

deps build:
  cache:
  - .build_cache
  - cache_rw
  tags:
  - KaraboFramework
  image: europeanxfel/karabo-ci:$ARCH_TAG
  before_script:
  - hostname || true
  - find /cache || true
  - python3 -m pip install --upgrade pip
  - python3 -m pip install conan==1.62.0
  - source set_lsb_release_info.sh
  - source ci/prepare "$CI_JOB_NAME"
  ...

python_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_unit tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

gui_unit tests miniconda:
  image: europeanxfel/karabo-ci:miniconda-3-006
  tags:
  - KaraboFramework
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  ...

gui_unit tests miniconda-osx64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

gui_unit tests miniconda-win64:
  artifacts:
    name: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
    when: always
    reports:
      junit: junit*.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  stage: test
  script:
  - conda config --add channels $KARABO_CONDA_CHANNEL_URL
  ...

python_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

cpp_integration tests:
  services:
  - name: europeanxfel/existdb:2.2
    alias: existdb_host
  - name: influxdb:1.8.0
    alias: influxdb_host
  variables:
    INFLUXDB_DB: InfluxLogTest
    INFLUXDB_HTTP_AUTH_ENABLED: 'true'
    INFLUXDB_ADMIN_USER: infadm
    INFLUXDB_ADMIN_PASSWORD: admpwd
    INFLUXDB_USER: infusr
  ...

refactor(ProjectDB): Align and cleanup the date representation in the project...
  src/pythonKarabo/karabo/project_db/database/models_xml.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_utils.py
  src/pythonKarabo/karabo/project_db/database/utils.py
Due: lint, test_docs, python_unit tests

feat(GUI): Provide and make use of lazy scene loading
  src/pythonGui/karabogui/programs/gui_runner.py
  src/pythonGui/karabogui/singletons/panel_wrangler.py
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/model.py
  src/pythonKarabo/karabo/common/scenemodel/modelio.py
  src/pythonKarabo/karabo/native/project/io.py
  src/pythonKarabo/karabo/native/project/tests/test_io.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Display the Service Manager after reconnecting to a topic
  src/pythonGui/karabogui/panels/navigationpanel.py
  src/pythonGui/karabogui/panels/tests/test_navigation_panel.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(ProjectDB): Enhance and fix algorithm to find devices in projectDB. Don't consider trashed projects
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
Due: lint, test_docs, python_unit tests

refactor(ProjectDB): Align and unify timestamp and datetime handling
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/utils.py
Due: lint, test_docs, python_unit tests

feat(GUI): Popup Sticker widget
  src/pythonGui/karabogui/dialogs/api.py
  src/pythonGui/karabogui/dialogs/popup_button_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_sticker_dialog.py
  src/pythonGui/karabogui/dialogs/ui/popup_button_dialog.ui
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/popup-sticker.svg
  src/pythonGui/karabogui/panels/scenepanel.py
  src/pythonGui/karabogui/sceneview/builder.py
  src/pythonGui/karabogui/sceneview/tools/api.py
  src/pythonGui/karabogui/sceneview/tools/drawing.py
  src/pythonGui/karabogui/sceneview/widget/api.py
  src/pythonGui/karabogui/sceneview/widget/buttons.py
  src/pythonGui/karabogui/sceneview/widget/tests/test_buttons.py
  src/pythonGui/karabogui/sceneview/widget/tests/test_sticker.py
  src/pythonGui/karabogui/widgets/api.py
  src/pythonGui/karabogui/widgets/popup.py
  src/pythonKarabo/karabo/common/scenemodel/api.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_widgets_simple.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/simple.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Allow servers with same serverId to be added to parent or...
  src/pythonGui/karabogui/project/controller/project_groups.py
  src/pythonGui/karabogui/project/utils.py
  src/pythonKarabo/karabo/common/project/api.py
  src/pythonKarabo/karabo/common/project/tests/test_utils.py
  src/pythonKarabo/karabo/common/project/utils.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound): Remove FSM remnant and simplify execute
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests

refactor(GUI): Search for project items when item type changes
  src/pythonGui/karabogui/project/dialog/load_project_with_item.py
  src/pythonGui/karabogui/project/dialog/ui/load_project_with_item.ui
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(DEPS): Upgrade to boost-1.88.0
  extern/conanfile.txt
  src/cppLongTests/xms/InputOutputChannel_LongTest.cc
  src/deviceServer/deviceServer.cc
  src/integrationTests/SimulatedTimeServerDevice.cc
  src/karabo/core/Device.cc
  src/karabo/core/DeviceClient.cc
  src/karabo/core/DeviceServer.cc
  src/karabo/devices/FileLogReader.cc
  src/karabo/devices/InfluxLogReader.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/net/AmqpConnection.cc
  src/karabo/net/AmqpConnection.hh
  src/karabo/net/EventLoop.cc
  src/karabo/net/EventLoop.hh
  src/karabo/net/InfluxDbClient.cc
  src/karabo/net/Strand.cc
  src/karabo/net/TcpChannel.cc
  src/karabo/net/TcpChannel.hh
  src/karabo/net/TcpConnection.cc
  src/karabo/net/TcpConnection.hh
  src/karabo/net/utils.cc
  src/karabo/net/utils.hh
  src/karabo/tests/data/io/HashBinarySerializer_Test.cc
  src/karabo/tests/net/Broker_Test.cc
  src/karabo/tests/net/EventLoop_Test.cc
  src/karabo/tests/net/MQTcpNetworking.cc
  src/karabo/tests/net/TcpNetworking_Test.cc
  src/karabo/tests/util/MetaTools_Test.hh
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/tests/xms/SignalSlotable_Test.cc
Due: lint, test_docs, deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests, long tests

fix(MDL): Enhance the heartbeat mixin when a server goes down, also trigger devices from proxies
  src/pythonKarabo/karabo/middlelayer/heartbeat_mixin.py
  src/pythonKarabo/karabo/middlelayer/tests/heartbeat_mixin_test.py
Due: lint, test_docs, python_unit tests

feat(C++): Validate NDArray shape and type against schema
  src/integrationTests/P2PSenderDevice.cc
  src/integrationTests/PipeReceiverDevice.cc
  src/integrationTests/PipelinedProcessing_Test.cc
  src/karabind/ConfigurationTestClasses.hh
  src/karabind/PyUtilSchemaValidator.cc
  src/karabo/data/schema/Validator.cc
  src/karabo/data/schema/Validator.hh
  src/karabo/tests/data/schema/Validator_Test.cc
  src/karabo/tests/data/schema/Validator_Test.hh
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/xms/OutputChannel.cc
  src/pythonKarabo/karabo/bound/tests/schema_test.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/ppsender.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/test_bound_device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Minimize number of queries in projects with devices (et. al)
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

Only take non-trashed projects on searches by device, server or macro
  src/pythonKarabo/karabo/project_db/database/sql_database.py
Due: lint, test_docs, python_unit tests

fix(GUI): Call super destroy correctly from widgets
  src/pythonGui/karabogui/panels/projectpanel.py
  src/pythonGui/karabogui/project/view.py
  src/pythonGui/karabogui/sceneview/widget/container.py
  src/pythonGui/karabogui/sceneview/widget/label.py
  src/pythonGui/karabogui/sceneview/widget/link.py
  src/pythonGui/karabogui/sceneview/widget/status.py
  src/pythonGui/karabogui/sceneview/widget/unknown.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(C++): New "strict" validation mode fully implemented
  src/integrationTests/Device_Test.cc
  src/karabo/data/schema/Validator.cc
  src/karabo/data/schema/Validator.hh
  src/karabo/data/types/AlarmConditions.cc
  src/karabo/data/types/AlarmConditions.hh
  src/karabo/data/types/State.cc
  src/karabo/data/types/State.hh
  src/karabo/tests/data/schema/Validator_Test.cc
  src/karabo/tests/data/schema/Validator_Test.hh
  src/karabo/tests/xms/InputOutputChannel_Test.cc
  src/karabo/xms/OutputChannel.cc
  src/pythonKarabo/karabo/bound/tests/boundDevice.py
  src/pythonKarabo/karabo/integration_tests/pipeline_processing_test/ppsender.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

perf(Bound): Try to speed-up PythonDevice.get
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests

feat(MDL): Provide NDArray shape validation
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/ndarray.py
  src/pythonKarabo/karabo/native/schema/tests/descriptor_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(C++): Remove unused "distributionMode" parameters from OutputChannel
  public_docs/communication.md
  src/integrationTests/PipelinedProcessing_Test.cc
  src/karabo/xms/OutputChannel.cc
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(C++): Make Validator stateless
  src/karabind/PyUtilSchemaValidator.cc
  src/karabo/data/schema/LeafElement.hh
  src/karabo/data/schema/Validator.cc
  src/karabo/data/schema/Validator.hh
  src/karabo/tests/data/schema/Validator_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(test): Timeout tuning and more output
  src/integrationTests/PropertyTest_Test.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_sigslot.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor: Remove train master and pulse master daqDataTYpe
  src/karabind/PyUtilSchema.cc
  src/karabo/data/types/Schema.hh
  src/karabo/tests/data/schema/Schema_Test.cc
  src/pythonKarabo/karabo/native/data/enums.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(GUI): Custom icon from popup button
  src/pythonGui/karabogui/dialogs/tests/test_popup_button_dialog.py
  src/pythonGui/karabogui/dialogs/tests/test_sticker_dialog.py
  src/pythonGui/karabogui/icons/__init__.py
  src/pythonGui/karabogui/icons/info-critical.svg
  src/pythonGui/karabogui/icons/info-help.svg
  src/pythonGui/karabogui/icons/note-alert.svg
  src/pythonGui/karabogui/icons/note-info.svg
  src/pythonGui/karabogui/icons/note-warning.svg
  src/pythonGui/karabogui/sceneview/widget/buttons.py
  src/pythonGui/karabogui/sceneview/widget/tests/test_buttons.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_data_model_structure.py
  src/pythonKarabo/karabo/common/scenemodel/tests/test_widgets_simple.py
  src/pythonKarabo/karabo/common/scenemodel/widgets/simple.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound): Greatly simplify Runner class
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/runner.py
  src/pythonKarabo/karabo/bound/tests/runner_test.py
  src/pythonKarabo/karabo/integration_tests/conftest.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(Bound): Hash constructor allows arbitrary number of key/value pairs. Dictionary allowed as well.
  src/karabind/PyUtilHash.cc
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
Due: lint, test_docs, python_unit tests

refactor(C++/Bound): Remove raw pointers 'PTR_xxx' and 'ANY' from ReferenceTypes
  src/karabind/PyTypes.hh
  src/karabind/PyUtilTypesReferenceType.cc
  src/karabind/Wrapper.cc
  src/karabo/data/types/FromInt.cc
  src/karabo/data/types/FromLiteral.cc
  src/karabo/data/types/FromTypeInfo.cc
  src/karabo/data/types/Hash.cc
  src/karabo/data/types/ToCppString.hh
  src/karabo/data/types/ToLiteral.hh
  src/karabo/data/types/ToType.hh
  src/karabo/data/types/Types.hh
  src/karabo/tests/data/types/Hash_Test.cc
  src/karabo/tests/data/types/Types_Test.cc
  src/karabo/tests/data/types/Types_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(C++): Strict validator requires NDArray type and schema to be defined
  src/karabo/data/schema/Validator.cc
  src/karabo/tests/data/schema/Validator_Test.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(ConfigDB): Unify timestamp handling with projectDB
  src/pythonGui/karabogui/dialogs/init_configuration.py
  src/pythonGui/karabogui/dialogs/tests/test_init_config_dialog.py
  src/pythonKarabo/karabo/config_db/__init__.py
  src/pythonKarabo/karabo/config_db/configuration_database.py
  src/pythonKarabo/karabo/config_db/tests/test_utils.py
  src/pythonKarabo/karabo/config_db/utils.py
  src/pythonKarabo/karabo/interactive/convert_config_db.py
  src/pythonKarabo/karabo/middlelayer_devices/configuration_manager.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

refactor(C++): Simplify runner interface
  src/deviceServer/deviceServer.cc
  src/karabo/core/Runner.cc
  src/karabo/core/Runner.hh
  src/karabo/tests/core/Runner_Test.cc
  src/karabo/tests/core/Runner_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Use StrEnum for States and Alarms
  src/karabind/PyUtilSchemaOverwriteElement.cc
  src/karabind/Wrapper.cc
  src/karabind/Wrapper.hh
  src/pythonKarabo/karabo/common/alarm_conditions.py
  src/pythonKarabo/karabo/common/states.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(ProjectDB): Provide more information on project device database
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
Due: lint, test_docs, python_unit tests

fix(Bound): Fix propertytest image type definition
  src/pythonKarabo/karabo/bound_devices/property_test.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

fix(Bound): Fix cross test bound device with schema type definition for image data
  src/pythonKarabo/karabo/bound/tests/boundDevice.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests

feat(ProjectDB): Instantiate ProjectDevice funtionality
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_project_manager.py
  src/pythonKarabo/karabo/project_db/database/sql_database.py
  src/pythonKarabo/karabo/project_db/database/tests/test_database.py
  src/pythonKarabo/karabo/project_db/testing/util.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Remove _serverId_ from the device
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/metamacro.py
  src/pythonKarabo/karabo/middlelayer/tests/cli_test.py
  src/pythonKarabo/karabo/middlelayer/tests/device_client_test.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Native shape is a tuple in ImageData
  src/pythonKarabo/karabo/native/schema/basetypes.py
  src/pythonKarabo/karabo/native/schema/image_data.py
  src/pythonKarabo/karabo/native/schema/tests/basetypes_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(Bound, C++): Remove _serverId_ property
  doc/tools/python.rst
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceServer.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor(GUI): Refactor project device status paint and fix the change of classId
  src/pythonGui/karabogui/panels/configurationpanel.py
  src/pythonGui/karabogui/project/controller/device.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(GUI): Fix copy & paste models after lazy reading of scenes
  src/pythonGui/karabogui/sceneview/tools/clipboard.py
  src/pythonGui/karabogui/sceneview/tools/tests/test_clipboard.py
  src/pythonGui/karabogui/testing/__init__.py
  src/pythonGui/karabogui/testing/utils.py
  src/pythonKarabo/karabo/common/scenemodel/tests/utils.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Align the error messages when instantiating
  src/pythonKarabo/karabo/middlelayer/device_server.py
  src/pythonKarabo/karabo/middlelayer/tests/device_server_test.py
Due: lint, test_docs, python_unit tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*
