Repository m2es3h/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test_docs, deps build, python_unit tests, cpp_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests, long tests

Path conditions:
  lint: any of: src/**/*
  test_docs: any of: src/**/*, doc/**/*
  deps build: any of: extern/**/*
  python_unit tests: any of: src/karathon/**/*, src/karabind/**/*, src/karabo/**/*, src/pythonKarabo/**/*, extern/**/*
  cpp_unit tests: any of: src/karabo/**/*, src/deviceServer/**/*, src/brokerMessageLogger/**/*, src/tools/brokerRates/**/*, src/tools/dataLoggerIndex/**/*, extern/**/*
  gui_unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  gui_unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  python_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  cpp_integration tests: any of: src/karabo/core/**/*, src/karabo/devices/**/*, src/integrationTests/**/*, src/tools/dataLoggerIndex/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*, src/pythonKarabo/karabo/middlelayer_devices/**/*, src/pythonKarabo/karabo/influxdb/**/*, extern/**/*
  long tests: any of: src/cppLongTests/**/*

fix(Bound test): Fix flaky binding test by adding a sleep
  src/pythonKarabo/karabo/bound/tests/binding/test_zcore_device_client2.py
Due: lint, test_docs, python_unit tests

feat(C++): More info in cast exception message
  src/karabo/util/Element.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

feat(C++): Hash::merge treats vector<Hash> always as atomic (as for tables) - breaking change
  src/karabo/tests/util/Hash_Test.cc
  src/karabo/util/Hash.cc
  src/karabo/util/Hash.hh
  src/pythonKarabo/karabo/bound/tests/binding/test_hash.py
  src/pythonKarabo/karabo/bound/tests/hash_test.py
Due: lint, test_docs, python_unit tests, cpp_unit tests

refactor(C++): If printing Hash, use only placeholders for any contained Schema
  src/karabo/util/Element.hh
  src/karabo/util/Hash.cc
Due: lint, test_docs, python_unit tests, cpp_unit tests

fix(MDL): Fix array comparison in is_equal function and provide more tests
  src/pythonKarabo/karabo/native/data/hash.py
  src/pythonKarabo/karabo/native/data/tests/test_hash.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

test(GUI): set Organization properties to QApplication instance.
  src/pythonGui/karabogui/conftest.py
  src/pythonGui/karabogui/dialogs/tests/test_reactive_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

fix(C++): Set typename definition for orderedmap
  src/karabo/util/OrderedMap.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

Remove xz executable as a Framework dependency
  extern/conanfile.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Fix icon command setting enabled to correct widget
  src/pythonGui/karabogui/controllers/display/icon_command.py
  src/pythonGui/karabogui/controllers/display/tests/test_icon_command.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(GUI): Don't consider visibilities when adding devices to servers in project
  src/pythonGui/karabogui/project/dialog/device_handle.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor(MDL): Remove deprecated calls in timestamp utc calculations
  src/pythonKarabo/karabo/native/data/timestamp.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

feat(MDL): Extend tests for injection with values
  src/pythonKarabo/karabo/middlelayer/tests/inject_node_test.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove allowedActions
  src/pythonKarabo/karabo/native/schema/configurable.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

doc: Add patch releases to 2.21.X releases
  doc/whatsnew/2.20.rst
  doc/whatsnew/2.21.rst
Due: test_docs

CPP: Migrate boost::shared_mutex to std::shared_mutex
  src/integrationTests/TcpAdapter.cc
  src/integrationTests/TcpAdapter.hh
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Add PyMSQL and sqlmodel python packages.
  extern/requirements-1.txt
Due: deps build, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

fix(GUI): Enhance big data synchronization in the manager
  src/pythonGui/karabogui/singletons/manager.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Add mysql_db as a backend for the project database
  src/pythonKarabo/karabo/middlelayer_devices/project_manager.py
  src/pythonKarabo/karabo/project_db/mysql_db/__init__.py
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_engine.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
  src/pythonKarabo/karabo/project_db/mysql_db/models.py
  src/pythonKarabo/karabo/project_db/mysql_db/models_xml.py
  src/pythonKarabo/karabo/project_db/mysql_db/node.py
  src/pythonKarabo/karabo/project_db/mysql_db/util.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests, python_integration tests, cpp_integration tests

refactor(MDL): Simplifiy topology update information
  src/pythonKarabo/karabo/middlelayer/device.py
Due: lint, test_docs, python_unit tests

refactor: Simplify saving of configurations in the config db
  src/pythonGui/karabogui/dialogs/configuration_from_name.py
  src/pythonGui/karabogui/dialogs/tests/test_config_from_name_dialog.py
  src/pythonGui/karabogui/dialogs/ui/config_handle.ui
  src/pythonGui/karabogui/dialogs/ui/config_save.ui
  src/pythonGui/karabogui/singletons/network.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

CPP: Migrate from boost::thread to std::jthread
  src/karabo/net/EventLoop.cc
  src/karabo/net/EventLoop.hh
  src/karabo/tests/net/EventLoop_Test.cc
  src/karabo/tests/net/EventLoop_Test.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests

Fix exception on saving projects with sub-projects
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
Due: lint, test_docs, python_unit tests

refactor: Rename influxdb namespace
  src/pythonKarabo/karabo/influx_db/__init__.py
  src/pythonKarabo/karabo/influx_db/client.py
  src/pythonKarabo/karabo/influx_db/dl_migrator.py
  src/pythonKarabo/karabo/influx_db/dlraw2influx.py
  src/pythonKarabo/karabo/influx_db/dlschema2influx.py
  src/pythonKarabo/karabo/influx_db/dlutils.py
  src/pythonKarabo/karabo/influx_db/tests/__init__.py
  src/pythonKarabo/karabo/influx_db/tests/sample_data/PropertyTestDevice/raw/archive_4.txt
  src/pythonKarabo/karabo/influx_db/tests/sample_data/PropertyTestDevice/raw/archive_schema.txt
  src/pythonKarabo/karabo/influx_db/tests/sample_data/cppserver_3/DataGenerator_1/raw/archive_0.txt
  src/pythonKarabo/karabo/influx_db/tests/sample_data/cppserver_3/DataGenerator_1/raw/archive_schema.txt
  src/pythonKarabo/karabo/influx_db/tests/test_client.py
  src/pythonKarabo/setup.py
Due: lint, test_docs, python_unit tests

Remove device instance aggregation by name
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
  src/pythonKarabo/karabo/project_db/mysql_db/models.py
Due: lint, test_docs, python_unit tests

Register loading of a project in the (new) Project.last_loaded field
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
  src/pythonKarabo/karabo/project_db/mysql_db/models.py
Due: lint, test_docs, python_unit tests

Support 'Find projects with device' on MySQL
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
Due: lint, test_docs, python_unit tests

C++/Bound: Remove visibility from devices and servers
  src/integrationTests/DataLogging_Test.cc
  src/integrationTests/Device_Test.cc
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/core/DeviceServer.cc
  src/karabo/devices/DataLogReader.cc
  src/karabo/devices/DataLogger.cc
  src/karabo/devices/DataLoggerManager.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/PropertyTest.cc
  src/karabo/tests/net/Broker_Test.cc
  src/pythonKarabo/karabo/bound/device.py
  src/pythonKarabo/karabo/bound/device_server.py
  src/pythonKarabo/karabo/bound/tests/schema_adler_test.py
  src/pythonKarabo/karabo/bound_devices/property_test.py
  src/pythonKarabo/karabo/integration_tests/device_comm_test/test_bound_device.py
  src/pythonKarabo/karabo/integration_tests/device_cross_test/test_cross.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Index and increase max_size of 'DeviceInstance.name'
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/models.py
Due: lint, test_docs, python_unit tests

refactor(MDL): Remove runtime attributes
  src/pythonKarabo/karabo/common/api.py
  src/pythonKarabo/karabo/common/const.py
  src/pythonKarabo/karabo/common/tests/test_const.py
  src/pythonKarabo/karabo/middlelayer/__init__.py
  src/pythonKarabo/karabo/middlelayer/cli/__init__.py
  src/pythonKarabo/karabo/middlelayer/device.py
  src/pythonKarabo/karabo/middlelayer/device_client.py
  src/pythonKarabo/karabo/middlelayer/ikarabo.py
  src/pythonKarabo/karabo/middlelayer/tests/device_test.py
  src/pythonKarabo/karabo/middlelayer_devices/tests/test_config_manager.py
  src/pythonKarabo/karabo/native/schema/configurable.py
  src/pythonKarabo/karabo/native/schema/tests/configurable_test.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64, python_integration tests, cpp_integration tests

Specify tzinfo for the save timestamp of project items
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_writer.py
  src/pythonKarabo/karabo/project_db/mysql_db/models_xml.py
Due: lint, test_docs, python_unit tests

fix(GUI): Sort by version in the Updater Dialog
  src/pythonGui/karabogui/dialogs/update_dialog.py
Due: lint, test_docs, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

refactor: Remove Alarm and Project Protocol from GuiServer, also remove...
  src/integrationTests/AlarmTesterDevice.cc
  src/integrationTests/AlarmTesterDevice.hh
  src/integrationTests/CMakeLists.txt
  src/integrationTests/GuiServer_Test.cc
  src/integrationTests/RunTimeSchemaAttributes_Test.cc
  src/integrationTests/RunTimeSchemaAttributes_Test.hh
  src/integrationTests/TcpAdapter.cc
  src/karabo/devices/GuiServerDevice.cc
  src/karabo/devices/GuiServerDevice.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

Display project date in local time in FindProjectsWithDevice dialog with the mysql_db back-end
  src/pythonGui/karabogui/project/dialog/load_project_with_device.py
  src/pythonKarabo/karabo/project_db/mysql_db/database.py
  src/pythonKarabo/karabo/project_db/mysql_db/db_reader.py
Due: lint, test_docs, python_unit tests, gui_unit tests miniconda, gui_unit tests miniconda-osx64, gui_unit tests miniconda-win64

Address DataLogging_Test::testMaxStringLength flakiness
  src/integrationTests/DataLogging_Test.cc
Due: lint, test_docs, python_integration tests, cpp_integration tests

refactor(C++/Bound): Remove Fsm remnants from framework
  src/karabo/core.hpp
  src/karabo/core/BaseFsm.hh
  src/karabo/core/CameraFsm.hh
  src/karabo/core/Device.hh
  src/karabo/core/FsmBaseState.cc
  src/karabo/core/FsmBaseState.hh
  src/karabo/core/StartStopInterface.hh
  src/pythonKarabo/karabo/bound/device.py
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests

refactor: Remove default visibility setting in C++ service in
  src/service.in/default/karabo_dataLogger/run
  src/service.in/default/karabo_dataLoggerManager/run
  src/service.in/default/karabo_guiServer/run
Due: lint, test_docs

refactor(C++): Remove homebrew stacktrace
  src/karabo/core/Device.cc
  src/karabo/core/Device.hh
  src/karabo/util/StackTrace.cc
  src/karabo/util/StackTrace.hh
Due: lint, test_docs, python_unit tests, cpp_unit tests, python_integration tests, cpp_integration tests
