Repository European-XFEL/Karabo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, deps build centos7, deps build ubuntu20, deps build ubuntu18, deps tests centos7, deps tests ubuntu20, deps tests ubuntu18, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64, integration tests centos7, integration tests ubuntu20, integration tests ubuntu18, long tests centos7, long tests ubuntu20, long tests ubuntu18

Path conditions:
  lint: any of: src/**/*
  deps build centos7: any of: extern/**/*
  deps build ubuntu20: any of: extern/**/*
  deps build ubuntu18: any of: extern/**/*
  deps tests centos7: any of: extern/**/*
  deps tests ubuntu20: any of: extern/**/*
  deps tests ubuntu18: any of: extern/**/*
  unit tests centos7: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu20: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests ubuntu18: (any of: build/netbeans/**/*, src/karabo/**/*, src/pythonKarabo/**/*, src/karathon/**/*, conda-recipes/karabo-cpp/**/*) and (not (any of: extern/**/*))
  unit tests miniconda: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-osx64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  unit tests miniconda-win64: any of: src/pythonGui/**/*, src/pythonKarabo/karabo/native/**/*, src/pythonKarabo/karabo/common/**/*, conda-recipes/karabo-native/**/*, conda-recipes/karabogui/**/*
  integration tests centos7: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu20: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  integration tests ubuntu18: any of: src/karabo/devices/**/*, src/integrationTests/**/*, src/pythonKarabo/karabo/integration_tests/**/*, src/pythonKarabo/karabo/bound_devices/**/*
  long tests centos7: any of: src/cppLongTests/**/*
  long tests ubuntu20: any of: src/cppLongTests/**/*
  long tests ubuntu18: any of: src/cppLongTests/**/*

Fix minor clang-format divergences.
  src/brokerMessageLogger/brokerMessageLogger.cc
  src/karabo/net/AmqpClient.cc
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

MDL: Device instances have a weakref to their server
  src/pythonKarabo/karabo/middlelayer_api/signalslot.py
  src/pythonKarabo/karabo/middlelayer_api/tests/device_server_test.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

TOOLS: add package target to C++ device template
  src/templates/cpp/minimal/Makefile
Due: lint

TOOLS: actually build for almalinux
  ci/build
Due: none

Fix the server weakref
  src/pythonKarabo/karabo/middlelayer_api/signalslot.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

Requirement for minimal clang-format version in lint scripts.
  githooks/pre-commit
  src/tools/scripts/lint_modified.sh
Due: lint

Common: Change font in scene2py
  src/pythonKarabo/karabo/interactive/scene2python.py
Due: lint, unit tests centos7, unit tests ubuntu20, unit tests ubuntu18

GUI: Remember dir in data saving of our plots
  src/pythonGui/karabogui/graph/common/exporters.py
Due: lint, unit tests miniconda, unit tests miniconda-osx64, unit tests miniconda-win64
